// @stylint off
$reset-ul
	margin 0

$reset-ul-li
	padding 0
	margin 0
	position static
	&:before
		content normal
		position static
		left auto
		top auto
		width auto
		height auto
		background none
		border-radius 0

$reset-ol
	@extend $reset-ul

$reset-ol-li
	@extend $reset-ul-li
	position static
	&:before
		content normal
		position static
		left auto
		top auto

$reset-link
	text-decoration none

$grid
	display block
	display flex
	flex-wrap wrap
	.no-flexwrap &
		font-size 0
		@media $MQ.webkit
			letter-spacing -1px

$grid__cell
	display block
	flex 1 1 100%
	max-width 100%
	.no-flexwrap &
		display inline-block
		vertical-align top
		font-size 1rem
		letter-spacing normal
		white-space normal

$grid--scroll
	position relative
	overflow hidden
	overflow-x auto
	flex-wrap nowrap
	.no-flexwrap &
		white-space nowrap
	.js &
		overflow-x hidden

// @stylint on
