@import 'variables'

// @stylint off
/*!
 * Typo
 */
html
	font normal 16px/$lineHeight $font
	color $color
	background $white
	padding 20px

/* Titles*/
h1
.h1
h2
.h2
h3
.h3
h4
.h4
h5
.h5
h6
.h6
	font-family $font
	color $primary
	font-weight 500
	line-height 1.2
	margin 1.5em 0 .95em

h1
.h1
	font-size 32px
h2
.h2
	font-size 28px
	font-weight 600
	margin 1.2em 0 .35em
h3
.h3
	font-size 24px
	color $secondary
	margin 1.75em 0 .95em
h4
.h4
	font-size 20px
	color $secondary
	// margin .75em 0 .45em
h5
.h5
	font-size 16px
	font-weight 400
	// margin .75em 0 .45em

/* Paragraph */
p
	margin 0 0 1em
	word-break break-word

@media $MQ.mdUp
	html
		font-size $fontSize
	h1
	.h1
		font-size 40px
	h2
	.h2
		font-size 32px


strong
	font-weight 600

hr
	border 0
	border-top 1px solid $colorBd
	margin 40px 0
	height 1px
	overflow hidden

/* Blockquote */
blockquote
	margin 0 0 1em
	padding 0
	text-align center
	font-size 15px
	line-height (25/15)
	&:before
		content '“'
		color $primary
		font-size 48px
		line-height 1
		display block
	p
		margin 0
		+ *
			margin-top 15px
	cite
	i
	em
		font-style normal
		display block
		color $light
		font-style normal
		font-size 16px
		line-height $lineHeight

@media $MQ.mdUp
	blockquote
		cite
		i
		em
			font-size $fontSize

/* Links */
a
	color $colorLink
	tap-highlight-color rgba($color, 0)
	text-decoration underline
	transition color $t
	&[href^='tel:']
		white-space nowrap
		text-decoration none
		color $primary
	.no-touchevents &:hover
		color $colorHover

/* Lists */
ul
ol
dl
menu
	margin 0 0 ($lineHeight)em
	list-style none
	padding 0
li
	padding 0 0 0 29px
	margin 0 0 .25em
	ol
	ul
		margin .25em 0 0
ul
	li
		position relative
		&:before
			content ''
			position absolute
			left 3px
			top .6em
			width 6px
			height 6px
			background $secondary
			border-radius 3px
ol
	counter-reset item
	li
		background none
		position relative
		&:before
			color $secondary
			content counter(item)'.'
			counter-increment item
			position absolute
			left 0
			top 0
dt
	font-weight bold
	margin 0
dd
	margin 0 0 .75em
	padding 0

/* Tables */
table
	font-size 17px
	text-align left
	width 100%
	clear both
	margin 0 0 ($lineHeight)em
	empty-cells show
	border-collapse collapse
	border-spacing 0
	border 1px solid $colorBd
	color $primary

caption
	margin-bottom 30px
thead
	border-bottom 2px solid $primary
	th
		font-weight 500
		font-family $font
td
th
	vertical-align middle
	padding 15px 25px
	border-top 1px solid $colorBd
tr:first-child
	td
	th
		border-top-width 0
tbody
	tr:nth-child(odd)
		background $colorBg

/* Images */
// figure
// 	margin-bottom $typoSpaceVertical
figcaption
	margin-top .5em

img.pull-left
	margin .25em 20px 20px 0
img.pull-right
	margin .25em 0 20px 20px

dl
	display flex
	flex-wrap wrap
	align-items center
	font-size 14px
	margin-left -20px
	color $dark
	dt
		flex-grow 0
		flex-shrink 1
		flex-basis calc(50% - 20px)
		max-width calc(50% - 20px)
		margin-left 20px
		font-weight normal
		line-height 1.9
	dd
		flex-grow 0
		flex-shrink 1
		flex-basis calc(50% - 20px)
		max-width calc(50% - 20px)
		margin-left 20px
		font-weight 500
		line-height 1.9
		margin-bottom 0

@media $MQ.mdUp
	dl
		font-size 18px
		dt
			flex-basis calc(60% - 20px)
			max-width calc(60% - 20px)
			line-height 36px
		dd
			flex-basis calc(40% - 20px)
			max-width calc(40% - 20px)
			line-height 36px

.lozad
	transition opacity $t
	opacity 0
.lozad[data-loaded]
	opacity 1

@media $MQ.lgDown
	img
		width 100%
		height auto
	.img img
		width auto


