.btn
	$s = selector()
	display inline-block
	vertical-align middle
	margin 0
	padding 0
	border 0
	background none
	text-decoration none
	font-family inherit
	text-transform uppercase
	&__text
		position relative
		display block
		font-size 13px
		line-height 20px
		letter-spacing 0.05em
		font-weight 600
		border 1px solid transparent
		background $green
		padding 9px 20px 8px
		color $white
		min-width 216px
		text-align center
		transition background-color $t, color $t, border-color $t
	&__text.item-icon
		text-align left
		padding-left 50px
		transition background-color $t, color $t, border-color $t, color $t
		color white
		.icon-svg
			left 15px
			color white
	&__text.u-text-right
		text-align right
	&__text.item-icon--after
		padding-left 20px
		padding-right 50px
		.icon-svg
			left auto
			right 15px
	&__text.item-icon--sm:not(.item-icon--after)
		padding-left 40px
		.icon-svg
			left 20px
	&__text.item-icon--after.item-icon--sm
		padding-right 40px
		.icon-svg
			right 20px

	// MODIFICATIONS
	// color
	&--secondary
		position relative
		transition opacity $t
		&::before
			content ''
			position absolute
			top 0
			right 0
			left 0
			bottom 0
			background linear-gradient(to right, #4B90C3, $secondary)
			transition opacity $t, visibility $t
	&--secondary &__text
		z-index 2
		background-color transparent

	&--inverse &__text
		color $colorLink
		border 1px solid #D9E9F3
		background transparent

	&--white &__text
		color $white
		border 1px solid rgba(#D9E9F3, 30%)
		background transparent
		font-weight 400
		transition border-color $t
		.icon-svg
			color white
	&--dark &__text
		background $primary
	&--red &__text
		background-color $red
	&--prebasket&--primary &__text
		padding-left 38px
		.icon-svg
			right 21px
	&--prebasket&--secondary &__text
		padding-right 34px
		.icon-svg
			left 27px

	// size
	&--md &__text
		font-size 14px
		padding 19px 22px 17px
	&--lg &__text
		padding 20px 26px 18px
		font-size 14px
	&--sm &__text
		padding-top 13px
		padding-bottom 13px
	&--xs &__text
		padding 10px 20px
		font-size 12px
	&--nowidth &__text
		min-width 0
	&--block
		width 100%

	// style
	&--count
		position relative
		width 23px
		height 20px
		overflow hidden
		.icon-svg
			position absolute
			left 0
			top 0
			width 100%
			height 100%
			color $colorBd
			transition color $t, opacity $t
		.icon-svg .line
			color $colorLink
			fill $colorLink
			transition color $t

	// STATES
	&:not(&--count).is-disabled
		pointer-events none
	.is-loading &--loader
		pointer-events none
		position relative
		.btn__text
		.btn__text .icon-svg
			color transparent
		.btn__text::before
			content ''
			position absolute
			left 50%
			top 50%
			border 2px solid white
			border-top-color transparent
			width 16px
			height 16px
			margin -8px 0 0 -8px
			border-radius 8px
			transition opacity $t
			animation animation-rotate .8s infinite linear

	// HOVERS
	.no-touchevents &:hover &__text
		background $greenDark

	.no-touchevents &--secondary:hover &__text
		background $colorLink

	.no-touchevents &--inverse:hover &__text
		background transparent
		color $colorHover
		border-color $colorHover

	.no-touchevents &--white:hover &__text
		background transparent
		border-color white

	.no-touchevents &--dark:hover &__text
		background #051F30

	.no-touchevents &--red:hover &__text
			background darken($red, 15%)


	.no-touchevents &--count:hover
		&:not(.is-disabled)
			.icon-svg
				color $colorHover
			.icon-svg .line
				color white
			// &::before
			// &::after
			// 	background-color $colorBg

	@media $MQ.mdUp
		&__text
			font-size 14px
			padding 18px 20px 17px
		&__text.item-icon--sm:not(.item-icon--after)
			padding-left 80px
			.icon-svg
				left 35px
		&__text.item-icon--after.item-icon--sm
			padding-right 80px
			.icon-svg
				right 35px
		&--lg &__text
			padding 26px 50px 24px
			font-size 16px
