.checkitem
	border-bottom 1px solid $colorBd
	display block
	input
		position absolute
		left -5000px
		top 0
		&:checked + span
			background $dark
			color $white
			display block

		& + span
			padding 10px
			font-size 14px
			display block
			cursor pointer
			transition background $t, color $t
			.no-touchevents &:hover
				background $dark
				color $white

	@media $MQ.lgUp
		input
			& + span
				padding 20px 30px
