.counter
	width 90px
	display inline-block
	vertical-align middle
	&__btn
		display inline-block
		vertical-align middle

	&__inp
		width 20px
		text-align center
		border 0
		display inline-block
		vertical-align middle
		background transparent



