@import '../../../../node_modules/kbw-datepick/dist/css/ui.datepick.css'


.datepick-popup
	z-index 100000
	background white

.datepick
	width auto !important
	border 1px solid $colorBd

.datepick-nav
.datepick-ctrl
	display flex
	justify-content space-between
	align-items center
	height 50px
	padding 0 20px
	font-size 18px

.datepick-nav a
	flex 0 0 33.3333%
	&:nth-child(2)
		text-align center
	&:nth-child(3)
		text-align right

.datepick-month-header
	padding 0 20px
	display flex
	justify-content center

.datepick-month-year
	position relative
	display inline-block
	background none
	border none
	color $colorLink
	font-family $font
	margin-bottom 10px
	border-radius 0
	appearance none
	font-size 18px
	transition border-color $t, background $t

	padding 0 10px

.datepick-cmd
	text-decoration none

.datepick-month table
	margin-bottom 0
	border-width 1px 0
	td
	th
		padding 0
		display inline-flex
		width 45px
		text-align center
	a
	span
		padding 10px
		width 100%
		display inline-block
		transition background-color $t
	tbody a
		text-decoration none
	tbody span
		color gray

.datepick-month-row
	display flex

.datepick-selected
	background $colorLink
	color white

// HOVER
.no-touchevents .datepick-month table a:hover
	background $colorLink
	color white

// MEDIA QUERIES
@media $MQ.smDown
	.datepick-month table
		td
		th
			width 37px
		a
		span
			padding 5px 10px

	.datepick-nav
	.datepick-ctrl
	.datepick-month-year
		font-size 16px
