.inp-icon
	&__icon .icon-svg
		position absolute
		top 50%
		left 15px
		width 26px
		color $colorLink
		transform translateY(-50%)
		pointer-events none
	.inp__text
		padding-left 56px

	// MODIFICATIONS
	&--after
		.inp-icon__icon .icon-svg
			left auto
			right 15px
		.inp__text
			padding-left 14px
			padding-right 56px

