$inp-text
	display block
	font-size 17px
	font-family $font
	color $primary
	background $colorBg
	border 2px solid $colorBg
	padding 16px 20px
	width 100%
	border-radius 0
	appearance none
	transition border-color $t, background $t
	&:focus
		border-color $colorLink
	.has-error &
		border-color $red
		border-width 2px
	&--sm
		padding-top 11px
		padding-bottom 12px

	// MODIFICATIONS
	&--count
		background-color transparent
		color $primary
		text-align center
		padding 5px 5px 0
		min-width 50px
		&
		&:focus
			border none

		// firefox arrows
		&
			-moz-appearance textfield
		&::-webkit-outer-spin-button
		&::-webkit-inner-spin-button
			-webkit-appearance none
			margin 0

	@media $MQ.smDown
		&[data-validate]
			padding-right 50px

.inp
	$s = selector()
	margin-bottom 20px
	&__text
		@extend $inp-text
		&::placeholder
			opacity 1
			color $primary
		&:focus
			&::placeholder
				color rgba($primary, .5)
		&[disabled]
			color #A2A2A2
			background #E5E5E5
		textarea&
			height auto
			resize none
	&__select
		@extend $inp-text
		padding-right 40px
		&::-ms-expand
			display none
	&__label
		color $primary
		font-size 17px
		~ br + .inp__fix
			margin-top 5px
	&__flex
		display flex
		justify-content space-between
		align-items center
		margin-bottom 3px
	&__fix
		position relative
		display block
		text-decoration none
		&--select
			.icon-svg--select
				position absolute
				top 50%
				margin-top -3px
				right 20px
			&::after
				content ''
				position absolute
				width 10px
				height 10px
				top calc(50% + 2px)
				right 20px
				transform translateY(-50%)
				background url($angleDown)
		&--icon-before
			.inp__text
				padding-left 57px
			.icon-svg
				width 22px
				color $colorLink
				position absolute
				left 20px
				top 50%
				transform translateY(-50%)
		&--icon-after
			.inp__text
				padding-right 57px
			.icon-svg
				width 22px
				color $colorLink
				position absolute
				right 20px
				top 50%
				transform translateY(-50%)
	&__file
		overflow hidden
		position relative
		cursor pointer
		display block
		height 60px
		border 2px dashed $color
		transition border-color $t, background $t
		.has-error &
			border-color $red
		&:before
			content attr(data-text)
			position absolute
			left 20px
			right 45px
			top 20px
			font normal 12px/16px $fontExt
			text-overflow ellipsis
			color $dark
		.no-touchevents &:hover
		&.is-focus
			border-color $primary
			background #fff
		.icon-svg
			position absolute
			right 15px
			top 50%
			margin-top -7px
		input
			cursor pointer
			position absolute
			left 50%
			top 0
			width 2000px
			font-size 100px
			line-height 200px
			margin-left -1000px
			z-index 10
			opacity 0
	&__required
		color $red
	&__message
		font-size 17px
		display block
		padding 23px 30px
		border 1px solid $colorBd
		margin-bottom 20px
		transition opacity $t, visibility $t
		&.has-error
		&.has-ok
		&.has-info
			color white
			border none
		&.has-error
			background-color $red
		&.has-ok
			background-color $green
		&.has-info
			background-color $orange

		&.is-hidden
			opacity 0
			visibility hidden
	&__preppend
	&__append
		font-size 0

	// MODIFICATIONS
	&--group
		display flex
		align-items center
		width 100%
		.inp__fix
			flex 1 1 auto
	&--count &__fix
		max-width 50px
		width 50px
		display flex
	&--count &__text
		min-width 0
		padding 0
		line-height 25px
	&--count &__unit
		margin-right 7px
		min-width 20px
		line-height 25px

	// MEDIA QUERIES
	@media $MQ.mdDown
		&__label
			font-size 14px
		&__message
			padding 14px 24px
		&__fix
			&--icon-before
				.inp__text
					padding-left 40px
				.icon-svg
					left 15px
			&--icon-after
				.inp__text
					padding-right 40px
				.icon-svg
					right 15px
