.inp__item
	font-size 17px
	color $primary
	position relative
	cursor pointer
	display inline-block
	vertical-align top
	padding-left 32px
	transition color $t
	input
		position absolute
		left -5000px
		top 0
		.has-error & + span
			&:before
				border-color $red
		&:focus + span
			&:before
				border-color $colorLink
		&:checked + span
			&:before
				border-color $colorLink
			&:after
			> .icon-svg
				opacity 1

			.item-icon .icon-svg
				transform rotate(180deg) translateY(50%)

	> span
		&:before
			content ''
			position absolute
			background $colorBg
			left 0
			top 0
			size 21
			border 1px solid $colorBd
			transition border-color $t, background $t
		&:after
			content ''
			position absolute
			opacity 0
			transition opacity $t
		> .icon-svg
			color $colorLink
			opacity 0
			transition color $t, opacity $t
	&-count
		color $suplementary
		transition color $t

	&--checkbox
		> span
			> .icon-svg
				position absolute
				top 5px
				left 5px
				width 12px

		.no-touchevents &:hover a
		.no-touchevents &:hover .item-icon__count
			color $colorHover
		.no-touchevents &:hover > span::before
			border-color $colorLink

	&--checkbox-hidden
		padding-left 0
		> span::before
		> span::after
			content none

		.no-touchevents &:hover
		.no-touchevents &:hover .item-icon
		.no-touchevents &:hover .item-icon .icon-svg
			color $colorHover

	&--radio
		> span
			&:before
				border-radius 50%
			&:after
				left 6px
				top 6px
				size 9px
				background $colorLink
				border-radius 50%

		.no-touchevents &:hover > span::before
			border-color $colorLink

	&--count
		color $suplementary

	// MEDIA QUERIES
	@media $MQ.mdDown
		font-size 14px
		> span
			&:before
				top 0
		&--checkbox
			> span
				> .icon-svg
					top 3px

		&--radio
			> span
				&:after
					top 6px
