.f-items
	&__list
		@extend $reset-ul
	&__item
		@extend $reset-ul-li
		display flex
		flex-direction column
		margin-bottom -1px
		border 1px solid $colorBd
		background-color white
		transition background-color $t
	&__label
		padding 20px 15px 0 20px
		display flex
		font-size 14px
		line-height 20px
		min-height 55px
	&__label.inp__item > span:before
	&__label.inp__item > span:after
		top 50%
		transform translateY(-50%)
		left 15px
	&__label.inp__item > span:after
		left 21px
	&__label.inp__item > span .icon-svg
		opacity 1
		transition color $t
	&__label.inp__item--radio
		padding-left 50px
	&__content
		margin-bottom 9px
		width 100%
		display flex
		flex-wrap wrap
		align-items center
		flex 1 1 auto
		margin-left -12px
		> *
			margin-left 12px
		&::after
			left 30px
	&__img
		width 100%
		max-width 35px
		max-height 20px
		&.img
			background-color transparent
	&__name
		position relative
		display flex
		align-items center
		margin-left -8px
		margin-bottom -3px
		> *
			margin-left 8px
	&__info
		text-decoration none
		margin-top 5px
		margin-bottom 5px
	&__desc
		font-size 12px
		line-height 20px
		color $suplementary
		display block
	&__text
		flex-basis calc(100% - 60px)
	&__side
		flex 1 1 100%
		display flex
		align-items center
		&--90
			flex-basis 90%
	&__delivery
		font-size 14px
		flex 1 1 50%
		strong
			font-weight inherit
	&__price
		flex 1 1 50%
		font-weight bold
		text-align right
	&__personal
		display flex
		flex-direction column
		width 100%
		margin-bottom -8px
		.icon-svg
			width 20px
		> *
			margin-bottom 9px
	&__col-name
		display none

	// STATES
	&__item.is-checked
		background-color #E8F6D2
	&__item.is-disabled
		background-color inherit
		opacity .5
		pointer-events none
	&__label input:checked + span
		font-weight unset
	.f-open--personal &
		margin-left 0
		margin-right 0
	.f-open--personal &__item
		border-width 1px


	// HOVERS
	.no-touchevents &__info:hover .icon-svg
		color $colorHover

	// MEDIA QUERIES
	@media $MQ.smDown
		&__side
			margin-left -23px
		&__content
			margin-bottom 15px
		&__label.inp__item > span:before
		&__label.inp__item > span:after
			top calc(30% + 5px)
		&__img
		&__text
			margin-bottom 10px
	@media $MQ.mdDown
		margin-left -15px
		margin-right -15px
		&__item
			border-width 1px 0
		&__info .icon-svg
			width 20px

	@media $MQ.smUp
		&__content
			flex-wrap nowrap
		&__label
			padding-top 10px
		&__text
			flex-basis 58%
		&__side
			flex-basis 42%
		&__delivery
			flex-basis 60%
		&__price
			flex-basis 40%
	@media $MQ.mdUp
		&__delivery
		&__desc
			font-size 16px
		&__label.inp__item > span:before
		&__label.inp__item > span:after
			left 24px
		&__label.inp__item > span:after
			left 30px
		&__label.inp__item--radio
			padding-left 70px
		&__img
			max-width 55px
			max-height 32px
		&__label
			padding 9px 30px 0 20px
			font-size 18px
			min-height 65px
		&__text
			flex-basis 48%
		&__side
			flex-basis 52%
		&__col-name
			color $dark
			display inline-block
			position absolute
			top -30px
			font-size 16px
			font-weight normal
			pointer-events none
			&--price
				right 30px

		// MODIFICATIOS
		&--80 &__label
			min-height 80px

	@media $MQ.lgUp
		&:not(&--w-date) &__text
		&:not(&--w-date) &__side
			flex 1 1 auto

	@media $MQ.xlUp
		&__text
			flex-basis 64%
		&__side
			flex-basis 36%
