.inp-rating
	&__stars
		display flex

	.star-1:checked ~ section [for='star-1'] svg
	.star-2:checked ~ section [for='star-1'] svg
	.star-2:checked ~ section [for='star-2'] svg
	.star-3:checked ~ section [for='star-1'] svg
	.star-3:checked ~ section [for='star-2'] svg
	.star-3:checked ~ section [for='star-3'] svg
	.star-4:checked ~ section [for='star-1'] svg
	.star-4:checked ~ section [for='star-2'] svg
	.star-4:checked ~ section [for='star-3'] svg
	.star-4:checked ~ section [for='star-4'] svg
	.star-5:checked ~ section [for='star-1'] svg
	.star-5:checked ~ section [for='star-2'] svg
	.star-5:checked ~ section [for='star-3'] svg
	.star-5:checked ~ section [for='star-4'] svg
	.star-5:checked ~ section [for='star-5'] svg
	.star-1:hover ~ section [for='star-1'] svg
	.star-2:hover ~ section [for='star-1'] svg
	.star-2:hover ~ section [for='star-2'] svg
	.star-3:hover ~ section [for='star-1'] svg
	.star-3:hover ~ section [for='star-2'] svg
	.star-3:hover ~ section [for='star-3'] svg
	.star-4:hover ~ section [for='star-1'] svg
	.star-4:hover ~ section [for='star-2'] svg
	.star-4:hover ~ section [for='star-3'] svg
	.star-4:hover ~ section [for='star-4'] svg
	.star-5:hover ~ section [for='star-1'] svg
	.star-5:hover ~ section [for='star-2'] svg
	.star-5:hover ~ section [for='star-3'] svg
	.star-5:hover ~ section [for='star-4'] svg
	.star-5:hover ~ section [for='star-5'] svg
		fill $colorHover
	section
		margin-left -5px
	label
		position relative
		padding 0 5px
		cursor pointer
		width 32px
		height 22px
	.icon-svg
		position absolute
		width 22px
	svg
		fill $colorBd
		transition fill $t
	input
		display none
