{% extends 'layout/layout.njk' %}
{% set pageTitle = 'Style Guide' %}

{% block content %}

	<main role="main" id="main" class="main">
		<div class="row-main">
			<h1>Obecné styly - typografie</h1>
			<h2>Nadpis h2</h2>
			<p><img src="{{ assets.images }}illust/sample.jpg" width="400" height="250" alt="" class="pull-right"> Suspendisse <a href="#">odkaz v textu</a> vel nisi accumsan pretium. Etiam id massa ut neque iaculis auctor. Fermentum eu dictum risus consequat. Cras magna justo, iaculis non scelerisque eget, condimentum in tellus. Maecenas a sem quam. Suspendisse facilisis neque tempor enim imperdiet sodales. Vitae lobortis sapien vestibulum. Suspendisse vehicula libero vel nisi accumsan. Suspendisse vehicula libero vel nisi accumsan pretium. Etiam id massa ut neque iaculis auctor. Fermentum eu dictum risus consequat. Cras magna justo, iaculis non scelerisque eget, condimentum in tellus. Maecenas a sem quam. Suspendisse.</p>
			<p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assuiber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
			<h3>Nadpis h3</h3>
			<ul>
				<li><strong>Etiam ante sem,</strong> porta a porttitor ut, varius varius metus.</li>
				<li><strong>Nunc eu felis</strong> quis metus volutpat pellentesque.</li>
				<li><strong>Duis gravida</strong> tincidunt enim sed cursus.</li>
				<li><strong>Nunc eu felis</strong> quis metus volutpat pellentesque.</li>
				<li><strong>Duis gravida</strong> tincidunt enim sed cursus.</li>
			</ul>
			<ol>
				<li><strong>Etiam ante sem,</strong> porta a porttitor ut, varius varius metus.</li>
				<li><strong>Nunc eu felis</strong> quis metus volutpat pellentesque.</li>
				<li><strong>Duis gravida</strong> tincidunt enim sed cursus.</li>
				<li><strong>Nunc eu felis</strong> quis metus volutpat pellentesque.</li>
				<li><strong>Duis gravida</strong> tincidunt enim sed cursus.</li>
			</ol>
			<p>Suspendisse <a href="#">odkaz v textu</a> vel nisi accumsan pretium. Etiam id massa ut neque iaculis auctor. Fermentum eu dictum risus consequat. Cras magna justo, iaculis non scelerisque eget, condimentum in tellus. Maecenas a sem quam. Suspendisse facilisis neque tempor enim imperdiet sodales. Vitae lobortis sapien vestibulum. Suspendisse vehicula libero vel nisi accumsan. Suspendisse vehicula libero vel nisi accumsan pretium. Etiam id massa ut neque iaculis auctor. Fermentum eu dictum risus consequat. Cras magna justo, iaculis non scelerisque eget, condimentum in tellus. Maecenas a sem quam. Suspendisse.</p>
			<p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assuiber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
			<blockquote>
				<p>Bloková citace - Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta</p>
			</blockquote>
			<p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.<br>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam <strong>liber tempor cum soluta nobis</strong> eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
			<h4>Nadpis 4 úrovně</h4>
			<ol>
				<li>Číslovaný seznam</li>
				<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
				<li>tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, uis nostrud exercitation ullamco laboris nisi ut iquip x ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse</li>
				<li>cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
			</ol>
			<hr>
			<p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
			<dl>
				<dt>Definiční seznam</dt>
				<dd>Hodnota definice</dd>
				<dt>Definiční seznam</dt>
				<dd>Hodnota definice</dd>
				<dt>Definiční seznam</dt>
				<dd>Hodnota definice</dd>
			</dl>
			<h5>Nadpis 5 úrovně</h5>
			<a href="#" class="ext">Ext. odkaz</a>
			<h6>Nadpis 6 úrovně</h6>
			<p><cite>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</cite></p>
			<table>
				<caption>Nadpis tabulky</caption>
				<thead>
					<tr>
						<th>Rozlišení</th>
						<th>Úhlopříčka</th>
						<th>Záruka</th>
						<th>Výška</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>ff</td>
						<td>fff</td>
						<td>fdsd</td>
						<td>fsdf</td>
					</tr>
					<tr>
						<td>ff</td>
						<td>fff</td>
						<td>fdsd</td>
						<td>fsdf</td>
					</tr>
					<tr>
						<td>ff</td>
						<td>fff</td>
						<td>fdsd</td>
						<td>fsdf</td>
					</tr>
					<tr>
						<td>ff</td>
						<td>fff</td>
						<td>fdsd</td>
						<td>fsdf</td>
					</tr>
					<tr>
						<td>ff</td>
						<td>fff</td>
						<td>fdsd</td>
						<td>fsdf</td>
					</tr>
					<tr>
						<td>ff</td>
						<td>fff</td>
						<td>fdsd</td>
						<td>fsdf</td>
					</tr>
					<tr>
						<td>ff</td>
						<td>fff</td>
						<td>fdsd</td>
						<td>fsdf</td>
					</tr>
				</tbody>
			</table>

			<h1>Pomocné třídy</h1>
			<table>
				<thead>
					<tr>
						<th>Třída</th>
						<th>Popis a ukázka</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>.text-left</th>
						<td class="text-left">Zarovnání textu doleva</td>
					</tr>
					<tr>
						<th>.text-center</th>
						<td class="text-center">Zarovnání textu na střed</td>
					</tr>
					<tr>
						<th>.text-right</th>
						<td class="text-right">Zarovnání textu doprava</td>
					</tr>
					<tr>
						<th>.text-justify</th>
						<td class="text-justify">Zarovnání textu do bloku</td>
					</tr>
					<tr>
						<th>.text-nowrap</th>
						<td>Nezalomitelný text</td>
					</tr>
					<tr>
						<th>.text-uppercase</th>
						<td class="text-uppercase">Velká písmena</td>
					</tr>
					<tr>
						<th>.text-lowercase</th>
						<td class="text-lowercase">Malá písmena</td>
					</tr>
					<tr>
						<th>.text-capitalize</th>
						<td class="text-capitalize">Velká pouze první písmena</td>
					</tr>
					<tr>
						<th>.text-overflow</th>
						<td>Ukončení dlouhého textu třemi tečkami</td>
					</tr>
					<tr>
						<th>.font-bold</th>
						<td class="font-bold">Tučné písmo</td>
					</tr>
					<tr>
						<th>.font-regular</th>
						<td class="font-regular">Normální písmo</td>
					</tr>
					<tr>
						<th>.font-italic</th>
						<td class="font-italic">Kurzíva</td>
					</tr>
					<tr>
						<th>.align-top</th>
						<td class="align-top">Zarovnání nahoru</td>
					</tr>
					<tr>
						<th>.align-bottom</th>
						<td class="align-bottom">Zarovnání dolů</td>
					</tr>
					<tr>
						<th>.align-middle</th>
						<td class="align-middle">Zarovnání na střed</td>
					</tr>
					<tr>
						<th>.pull-left</th>
						<td>Float vlevo</td>
					</tr>
					<tr>
						<th>.pull-right</th>
						<td>Float vpravo</td>
					</tr>
					<tr>
						<th>.center-block</th>
						<td>Centrování blocku</td>
					</tr>
					<tr>
						<th>.box-vertical</th>
						<td>Vertikální centrování uvnitř bloku</td>
					</tr>
					<tr>
						<th>.clearfix</th>
						<td>Clearování floatů</td>
					</tr>
					<tr>
						<th>.hide</th>
						<td>Skrytí obsahu</td>
					</tr>
					<tr>
						<th>.js-hide</th>
						<td>Skrytí obsahu (pouze při zapnutém javascriptu)</td>
					</tr>
					<tr>
						<th>.vhide</th>
						<td>Skrytí obsahu (zůstává zobrazitelný čtečkám)</td>
					</tr>
					<tr>
						<th>.text-hide</th>
						<td>Skrytí textu (např. při nahrazování obrázkem)</td>
					</tr>
					<tr>
						<th>.out</th>
						<td>Vypozicování obsahu mimo viewport</td>
					</tr>
					<tr>
						<th>.js-out</th>
						<td>Vypozicování obsahu mimo viewport (pouze při zapnutém javascriptu)</td>
					</tr>
					<tr>
						<th>.hide-mobile-down</th>
						<td>
							Skrytí obsahu na všech breakpointech menších než mobil landscape (věšinou &lt; 480px)
						</td>
					</tr>
					<tr>
						<th>.hide-mobile-up</th>
						<td>
							Skrytí obsahu na všech breakpointech větších než mobil portrait (věšinou &gt;= 480px)
						</td>
					</tr>
					<tr>
						<th>.hide-tablet-down</th>
						<td>
							Skrytí obsahu na všech breakpointech menších než tablet (věšinou &lt; 750px)
						</td>
					</tr>
					<tr>
						<th>.hide-tablet-up</th>
						<td>
							Skrytí obsahu na všech breakpointech větších než mobile landscape (věšinou &gt;= 750px)
						</td>
					</tr>
					<tr>
						<th>.hide-desktop-down</th>
						<td>
							Skrytí obsahu na všech breakpointech menších než desktop (věšinou &lt; 1000px)
						</td>
					</tr>
					<tr>
						<th>.hide-desktop-up</th>
						<td>
							Skrytí obsahu na všech breakpointech větších než desktop (věšinou &gt;= 1000px)
						</td>
					</tr>
					<tr>
						<th>.hide-wide-down</th>
						<td>
							Skrytí obsahu na všech breakpointech menších než větší desktop (věšinou &lt; šírka layoutu)
						</td>
					</tr>
					<tr>
						<th>.hide-wide-up</th>
						<td>
							Skrytí obsahu na všech breakpointech větších než větší desktop (věšinou &gt;= šírka layoutu)
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</main>

{% endblock %}
