{% extends 'layout/layout.njk' %}
{% set pageTitle = 'Rozcestník HTML šablon' %}

{% block content %}

	<main role="main" id="main" class="main">
		<div class="row-main">
			<h1>Rozcestník HTML šablon</h1>
			<ul>
				<li><a href="./00-style-guide.html">00 - Style Guide</a></li>
				<li><a href="./01-homepage.html">01 - Titulní stránka</a></li>
			</ul>
		</div>
	</main>

{% endblock %}
