.footer
	&__title
		font-weight normal
		color $primary
		margin-bottom 0
		font-size 22px
	&__list
		@extend $reset-ul
		margin-bottom 0
	&__item
		@extend $reset-ul-li
		margin-bottom 19px
		line-height 16px
	&__link
		text-transform uppercase
		text-decoration none
		font-size 14px
		font-weight 500
	&__contactlist
		@extend $reset-ul
		margin-bottom -20px
	&__contactitem
		@extend $reset-ul-li
		margin-bottom 20px
	&__contactlink
		font-size 20px
		&.item-icon
			padding-left 40px
			.icon-svg
				width 25px
			strong
				color $dark
				transition color $t
	&__social-icons
		display flex
		align-items center
		margin-left -17px
		.icon-svg
			margin-left 17px
			width 35px
			height 35px
	&__social-icons &__contactlink
		transition opacity $t
	&__copyright
		color $lightBlue
		font-size 15px
		display flex
		justify-content space-between
		flex-wrap wrap
		align-items center
		padding 40px 0 0
		margin-bottom -38px
		> *
			margin-bottom 38px
		img
			width 46px

	&__payment-methods
		max-width 100%
		height auto

	// MODIFICATIONS
	&__group--bottom
		padding 0 0 65px

	// HOVERS
	.no-touchevents &__contactlink[href^='tel:']:hover strong
		color lighten($dark, 40%)
	.no-touchevents &__contactlink[href^='tel:']:hover
		text-decoration none
	.no-touchevents &__social-icons &__contactlink:hover
		opacity .6

	// MEDIA QUERIES
	@media $MQ.mdDown
		&__group--bottom .js-mobile-tab__wrap
			border-bottom 1px solid $colorBd

	@media $MQ.mdUp
		&__group
			padding 50px 0 40px
		&__title
			font-size 20px
			margin-bottom 32px
		&__list
			margin-bottom 70px
		&__item
			margin-bottom 22px
		&__link
			font-size 12px
		&__contactlist
			display flex
			margin-left -50px
		&__contactitem
			margin-left 50px
		&__contactlink
			font-size 26px
		&__copyright img
			width auto

		// MODIFICATIONS
		&__group--bottom
			border-top 1px solid $colorBd
			padding 0 0 20px
		&__group--bottom &__title
			margin-bottom 30px
		&__group--mobile
			border-top 1px solid $colorBd
			margin 0 -15px
			padding 50px 20px 95px
	@media $MQ.xlUp
		&__title
			font-size 24px
			margin-bottom 60px
		&__group:not(&__group--bottom)
			padding 110px 0 40px
		&__list
			margin-bottom 100px
		&__item
			margin-bottom 28px
		&__link
			font-size 14px
		&__copyright
			display block
			text-align right
			padding 0
		&__payment-methods
			margin-bottom 60px

		// MODIFICATIONS
		&__group--bottom
			padding 75px 0 110px
