.header
	position fixed
	top 0
	right 0
	left 0
	z-index 5
	background white
	transition transform $t
	$s = selector()
	.row-main
		position static
	&__logo
		margin 0
		font-size 12px
		line-height 12px
	&__wrap
		display flex
		align-items center
		min-height 50px
	&__main
		flex-grow 1
		display flex
		justify-content space-between
		align-items center
	&__contact
		display none
	&__side
		display flex
		margin-right 5px
		height 50px
	&__side-item
		&--compare
		&--contact
			width 22px
			a
				display block
				position relative
				top 14px
				width 100%
				text-align center
				height calc(100% - 18px)
				color $colorLink
				transform translateY(-3px)
			.icon-svg
				width 14px
			.no-touchevents &:hover
				color $colorHover
		&--compare
			width 28px
			.icon-svg
				width 18px
		&--login
			width 22px
		&--basket
			width 28px
	&__count
		display block
		padding 0
		color $white
		position absolute
		font-size 8px
		min-width 14px
		min-height 11px
		line-height 11px
		padding-top 1px
		top 16px
		right 0
		bgPolygon $red
	&__search
		flex 0 1 500px
	&__bottom
		display none
	&__btn .icon-svg
		transition transform $t
	&__toggle
		.btn__text
			font-size 10px
			line-height 1.3
			letter-spacing 0
			padding 9px 10px 8px 30px
		.b-burger
			position absolute
			left 10px
			top 50%
			transform translateY(-50%)

	// STATES
	&__btn
		.no-touchevents &:hover
			.icon-svg
				transform rotate(180deg)
			.m-submenu
				visibility visible
				opacity 1
	&.headroom--unpinned
		transform translateY(-220%)

	// MEDIA QUERIES
	@media (min-width 375px)
		&__side-item
			&--contact
			&--compare
			&--login
			&--basket
				width 32px

	@media $MQ.smUp
		&__side-item
			&--contact
			&--compare
			&--login
			&--basket
				width 38px
			&--contact .icon-svg
				width 18px
			&--compare .icon-svg
				width 20px
		&__count
			font-size 10px
			min-width 16px
			min-height 14px
			line-height 14px
			top 15px
			padding 0
	@media $MQ.mdDown
		&__search
			position absolute
			top 100%
			left 0
			right 0
			background white
		&.headroom--not-top &__search
			border-bottom 1px solid $colorBd
		&__logo
			position relative
			width 100px
			height 22px
			img
				display none
			> a::before
				content ''
				position absolute
				top 0
				left 0
				width 100%
				height 100%
				background-image url('/static/img/logo-mobile.svg')
				background-repeat no-repeat
	@media $MQ.mdUp
		&__wrap
			min-height 84px
		&__logo
			padding-right 10px
			img
				width 140px
			img:nth-child(1)
				display block
			img:nth-child(2)
				display none
		&__toggle
			.btn__text
				font-size 16px
				line-height 1.4
				padding 17px 14px 16px 50px
			.b-burger
				left 15px
		&__side
			margin-right 20px
			height 84px
		&__search
			flex 1 1 510px
			max-width 510px
		&__side-item
			&--contact
				width 42px
				a
					top 15px
					height calc(100% - 28px)
				.icon-svg
					width 24px
			&--basket
			&--login
				width 42px
			&--compare
				display none

		&__contact-icon
			display block
			position absolute
			top calc(50% - 3px)
			left 50%
			transform translate(-50%, -50%)
		&.headroom--unpinned
			transform translateY(-100%)
		&.headroom--not-top
			border-bottom 1px solid $colorBd

	@media $MQ.lgUp
		&__contact
			display block
			margin-bottom 0
			.icon-svg
				width 16px
		&__side
			margin-right 0
			height 100%
		&__side-item + &__side-item
			border-left 1px solid $colorBd
		&__side-item
			&--contact
				display none
			&--login
				width 119px
			&--basket
				width 118px
		&__toggle
			display none
		&__bottom
			display block
		&__logo
			padding-right 30px
			img
				width 190px
		&.headroom--not-top
			border-bottom none

	@media $MQ.xlUp
		&__logo img
			width 268px
			height 64px

	@media (min-width 1100px)
		&__side-item--basket
		&__side-item--login
			width 135px
