html
	box-sizing border-box
	padding 0
	height 100%

*
*:before
*:after
	box-sizing inherit

body
	position relative
	min-width 320px
	height 100%

&:first-child
	margin-top 0

@import 'header'
@import 'footer'
@import 'main'
