.main
	transition padding-top $t
	&--pt-default
		padding-top 112px
	&--pt-default&--alert
		padding-top 156px

	&--pt-order
		padding-top 50px
	&--pt-order&--alert
		padding-top 92px

	// MEDIA QUERIES
	@media $MQ.mdUp
		&--pt-default
			padding-top 84px
		&--pt-default&--alert
			padding-top 126px
		&--pt-order
			padding-top 84px
		&--pt-order&--alert
			padding-top 126px

	@media $MQ.lgUp
		&--pt-default
			padding-top 183px
		&--pt-default&--alert
			padding-top 225px
		&--pt-order
			padding-top 108px
		&--pt-order&--alert
			padding-top 150px


