.f-add-to-cart
	border 1px solid $colorBd
	padding 20px
	margin-top -1px
	// overflow hidden - problem s tooltipem
	&__availability
		font-size 14px
		&--small
			font-size 14px
		p
			margin-bottom 10px
	&__watch
		font-size 14px
		text-decoration underline
		.icon-svg
			width 18px
	&__delivery
		font-size 17px
		text-align right
		.item-icon
			padding-left 45px
			text-decoration underline
		.icon-svg
			width 30px
	&__price
		font-size 18px
		s
			display block
			line-height 1
		strong
			font-size 30px
			color $primary
			font-weight bold
		p
			margin-bottom 0
	&__count
		text-align center
		.inp__unit
			font-size 17px
	&__guarantee
		display inline-block
		margin 0 auto 20px
		padding-left 40px
		color $primary
		font-size 17px
		.icon-svg
			width 38px
	&__add
		display flex
		flex-direction column
		width 100%
		align-items center
		margin-bottom -25px
		& > *
			margin-bottom 25px
	&__btn
		.btn__text
			letter-spacing 0.05em
			padding 18px 25px 17px 65px
		.item-icon .icon-svg
			left 25px
			width 15px
	&__similar
		text-align right
		margin-bottom 0
	&__similar .btn__text
		text-align center
		padding 8px 20px 7px 40px
		font-size 13px
		width 300px
		letter-spacing 0.05em
		.icon-svg
			width 8px
			left 25px

	// MODIFICATIONS
	&__availability--available
		color $green
		.u-text-dark
			color $primary
	&__availability--unavailable
		color $red
		strong
			display block
			margin-bottom 10px
	&__btn--add
		width 225px
	&__btn--similar
		width 300px
		.btn__text
			padding-top 5px
			padding-bottom 5px
			height 57px
			display flex
			align-items center
	&__btn--similar .btn__text
		text-align center
		padding-left 50px
		font-size 13px
		.icon-svg
			width 8px

	// MEDIA QUERIES
	@media $MQ.mdDown
		&__availability
		&__price
		&__delivery
			text-align center
		&__watch
			text-align center
			font-size 14px
		&__count
			justify-content center
		&__btn-wrap
			display flex
			flex-direction column
			width 100%
			text-align center
		&__price
			margin-bottom 20px
		&__guarantee
			order 3
			margin-top 30px !important

		// MODIFICATIONS
		&__price--soldout strong
			font-size 20px

	@media $MQ.mdUp
		padding 20px 40px
		&__price strong
			font-size 30px
		&__availability
			font-size 18px
		&__add
			flex-direction row
			justify-content flex-end
			margin-left -25px
			width calc(100% + 25px)
			> *
				margin-left 25px
				width auto
		&__btn
			max-width 300px
		&__btn-wrap
			text-align right


		&__availability--available
			strong
				font-size 22px
				line-height 32px

	@media $MQ.lgUp
		&__add
			justify-content space-between

	@media $MQ.xlUp
		padding 30px 40px
		&__add
			justify-content flex-end

