.f-filter
	.inp__item
		a
			text-decoration none
	&__wrap
		background-color white
	&__btn
		display none
	&__group:not(:last-child)
		border-bottom 1px solid $colorBd
	&__title
		margin 0
		font-size 22px
		display flex
		align-items center
		padding 20px
		position relative
		a
			text-decoration none
	&__info
		line-height 1
		.icon-svg
			width 32px
			height 28px
			vertical-align top
	&__name
		color $primary
		margin-right 10px
		.item-icon
			padding-left 20px
			color $primary
		.icon-svg
			width 11px
			margin-top -1px
		&::before
			content ''
			position absolute
			left 0
			right 0
			top 0
			bottom 0
	&__name .icon-svg
		color $lightBlue
		transition color $t, transform $t
	&__inner
		padding 20px
		font-size 16px
	&__title + &__inner
		padding 0 20px 20px
	&__list
		@extend $reset-ul
	&__item
		@extend $reset-ul-li
		margin-bottom 5px
	.inp__item--checkbox
		color $colorLink
	&__message
		margin 30px 0 0
	&__remove
		border none
		color $primary
		text-decoration underline
		font-size 17px
		font-weight normal
		padding-left 18px
	&__remove .icon-svg
		color $lightBlue
		transition color $t
		width 10px
	&__showmore
		padding-top 10px
		padding-right 20px
		margin-bottom 10px
		text-decoration underline
		.icon-svg
			top calc(50% + 5px)
			width 12px
			transition transform $t

	// MODIFICATORS
	&__group--remove
		text-align center
	&__list--inline
		display flex
		flex-wrap wrap
		margin-left -15px
		margin-bottom -20px
	&__list--inline &__item
		flex 0 0 58px
		margin-left 15px
		margin-bottom 20px
		.inp__item
			padding-left 0
		.inp__item > span
			display block
			width 58px
			height 58px
			border 1px solid lightgray
		.inp__item > span::before
			width 58px
			height 58px
			border none
			background transparent
		.inp__item > span .icon-svg
			color white
			left 50%
			top 50%
			transform translateX(-50%) translateY(-50%)
			filter: drop-shadow(0px 0px 1px rgba(#000000, .7))

	// HOVERS
	.no-touchevents &__remove:hover
	.no-touchevents &__name:hover .item-icon
	.no-touchevents &__name:hover .icon-svg
	.no-touchevents &__info:hover
		color $colorHover

	// STATES
	.no-js &__toggle .icon-svg
	.js &__group:not(&__group--remove) &__inner
		display none
	.js &__group.is-open &__inner
		display block
	&__group.is-open &__name .icon-svg
		transform rotate(180deg) translateY(50%)
	&__showmore.is-open .icon-svg
		transform rotate(180deg) translateY(50%)


	// MEDIA QUERIES
	@media $MQ.lgDown
		&__responsive-spc
			&&
				margin-bottom 30px
		.js &__btn
			margin 0
			position relative
			display block
			background $primary
			font-size 16px
			font-weight 600
			text-align center
			padding 16px
			outline 5000px solid transparent
			transition outline $t
			z-index 3
			cursor pointer
			.item-icon
				color white
				padding-right 20px
			.icon-svg
				width 10px
				color $lightBlue
				transition transform $t
		.js &__wrap
			display none
			position absolute
			left 0
			right 0
			z-index 3

		// STATES
		.js &__btn.is-open
			outline 5000px solid rgba($primary, .2)
			.icon-svg
				transform rotate(180deg) translateY(50%)

	@media $MQ.mdDown
		&__responsive-spc
			&&
				margin-top -15px
				margin-bottom 15px
