.f-sort
	&__select
		margin-left -15px
		margin-right -15px
		width auto
	&__list
		display none

	@media $MQ.mdUp
		&__select
			display none
		&__list
			@extend $reset-ul
			display flex
		&__item
			@extend $reset-ul-li
		&__link
			padding 14px 30px 12px
			// padding 14px 35px 12px
			text-decoration none
			display inline-block
			font-size 17px
			font-weight 500
		&__item:first-child &__link:not(.is-active)
			padding-left 0

		// STATES
		&__link.is-active
			padding 14px 23px 12px
			background-color white
			position relative
			border 1px solid $colorBd
			&::before
			&::after
				content ''
				left 50%
				bottom -10px
				transform translateX(-50%)
				position absolute
				border-style solid
				border-width 10px 10px 0 10px
				border-color $colorBd transparent transparent transparent
			&::after
				bottom -8px
				border-color white transparent transparent transparent

		@media (min-width 1100px)
			&__link
				padding 14px 35px 12px
