.icon-svg
	display inline-block
	vertical-align middle
	position relative
	&--square svg
	&__svg
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		fill currentColor
		pointer-events none
		transform translateZ(0)
	&:before
		content ''
		display block
	&--square
		width 36px
		&:before
			padding-top 100%

	
	&--21
		width 85.04px
		&:before
			padding-top (85.04 / 85.04 * 100)%
	
	&--4k
		width 85.04px
		&:before
			padding-top (85.04 / 85.04 * 100)%
	
	&--active-track
		width 85.04px
		&:before
			padding-top (85.04 / 85.04 * 100)%
	
	&--aircraft
		width 85.04px
		&:before
			padding-top (85.04 / 85.04 * 100)%
	
	&--angle-down-medium
		width 27px
		&:before
			padding-top (27 / 27 * 100)%
	
	&--angle-down-polygon-transparent
		width 85px
		&:before
			padding-top (85 / 85 * 100)%
	
	&--angle-down-polygon
		width 30px
		&:before
			padding-top (30 / 30 * 100)%
	
	&--angle-down
		width 20px
		&:before
			padding-top (20 / 20 * 100)%
	
	&--angle-left-light
		width 36px
		&:before
			padding-top (36 / 36 * 100)%
	
	&--angle-left-medium
		width 27px
		&:before
			padding-top (27 / 27 * 100)%
	
	&--angle-left-polygon
		width 30px
		&:before
			padding-top (26 / 30 * 100)%
	
	&--angle-left
		width 20px
		&:before
			padding-top (20 / 20 * 100)%
	
	&--angle-right-light
		width 36px
		&:before
			padding-top (36 / 36 * 100)%
	
	&--angle-right-medium
		width 27px
		&:before
			padding-top (27 / 27 * 100)%
	
	&--angle-right-polygon-white
		width 30px
		&:before
			padding-top (30 / 30 * 100)%
	
	&--angle-right-polygon
		width 30px
		&:before
			padding-top (26 / 30 * 100)%
	
	&--angle-right
		width 20px
		&:before
			padding-top (20 / 20 * 100)%
	
	&--angle-top
		width 20px
		&:before
			padding-top (20 / 20 * 100)%
	
	&--aperture
		width 85.04px
		&:before
			padding-top (85.04 / 85.04 * 100)%
	
	&--arrow-down
		width 14px
		&:before
			padding-top (14 / 14 * 100)%
	
	&--arrow-left
		width 14px
		&:before
			padding-top (14 / 14 * 100)%
	
	&--arrow-right
		width 14px
		&:before
			padding-top (14 / 14 * 100)%
	
	&--arrow-up
		width 14px
		&:before
			padding-top (14 / 14 * 100)%
	
	&--balance-scale-left
		width 640px
		&:before
			padding-top (512 / 640 * 100)%
	
	&--basket-check
		width 30px
		&:before
			padding-top (30 / 30 * 100)%
	
	&--basket
		width 20px
		&:before
			padding-top (20 / 20 * 100)%
	
	&--battery-time
		width 85.04px
		&:before
			padding-top (85.04 / 85.04 * 100)%
	
	&--battery
		width 85.04px
		&:before
			padding-top (85.04 / 85.04 * 100)%
	
	&--big-car
		width 81.5px
		&:before
			padding-top (67.4 / 81.5 * 100)%
	
	&--box
		width 85.04px
		&:before
			padding-top (85.04 / 85.04 * 100)%
	
	&--calendar
		width 30px
		&:before
			padding-top (30 / 30 * 100)%
	
	&--camera-resolution
		width 85.04px
		&:before
			padding-top (85.04 / 85.04 * 100)%
	
	&--camera-size
		width 85.04px
		&:before
			padding-top (85.04 / 85.04 * 100)%
	
	&--camera
		width 85px
		&:before
			padding-top (85 / 85 * 100)%
	
	&--car
		width 30px
		&:before
			padding-top (21 / 30 * 100)%
	
	&--cards
		width 30px
		&:before
			padding-top (30 / 30 * 100)%
	
	&--care-refresh
		width 50px
		&:before
			padding-top (50 / 50 * 100)%
	
	&--charging-time
		width 85.04px
		&:before
			padding-top (85.04 / 85.04 * 100)%
	
	&--chat
		width 30px
		&:before
			padding-top (30 / 30 * 100)%
	
	&--check-polygon
		width 30px
		&:before
			padding-top (30 / 30 * 100)%
	
	&--check
		width 20px
		&:before
			padding-top (20 / 20 * 100)%
	
	&--chevron-down
		width 20px
		&:before
			padding-top (20 / 20 * 100)%
	
	&--chevron-left
		width 20px
		&:before
			padding-top (20 / 20 * 100)%
	
	&--chevron-right
		width 20px
		&:before
			padding-top (20 / 20 * 100)%
	
	&--chevron-up
		width 20px
		&:before
			padding-top (20 / 20 * 100)%
	
	&--circle
		width 30px
		&:before
			padding-top (30 / 30 * 100)%
	
	&--clock
		width 30px
		&:before
			padding-top (30 / 30 * 100)%
	
	&--close-polygon
		width 30px
		&:before
			padding-top (30 / 30 * 100)%
	
	&--close-thin
		width 30px
		&:before
			padding-top (30 / 30 * 100)%
	
	&--close
		width 10px
		&:before
			padding-top (10 / 10 * 100)%
	
	&--cmos
		width 85.04px
		&:before
			padding-top (85.04 / 85.04 * 100)%
	
	&--course-lock
		width 85.04px
		&:before
			padding-top (85.04 / 85.04 * 100)%
	
	&--crop
		width 85.04px
		&:before
			padding-top (85.04 / 85.04 * 100)%
	
	&--cross-polygon-bd
		width 30px
		&:before
			padding-top (26 / 30 * 100)%
	
	&--cross-polygon
		width 30px
		&:before
			padding-top (26 / 30 * 100)%
	
	&--cross
		width 20px
		&:before
			padding-top (20 / 20 * 100)%
	
	&--diameter
		width 85.04px
		&:before
			padding-top (85.04 / 85.04 * 100)%
	
	&--diamond
		width 85.04px
		&:before
			padding-top (85.04 / 85.04 * 100)%
	
	&--document
		width 50px
		&:before
			padding-top (50 / 50 * 100)%
	
	&--dolly
		width 85.04px
		&:before
			padding-top (85.04 / 85.04 * 100)%
	
	&--download
		width 16px
		&:before
			padding-top (16 / 16 * 100)%
	
	&--drone-flight
		width 85px
		&:before
			padding-top (85 / 85 * 100)%
	
	&--drone-insurance
		width 50px
		&:before
			padding-top (50 / 50 * 100)%
	
	&--drone
		width 30px
		&:before
			padding-top (30 / 30 * 100)%
	
	&--duplicate
		width 14px
		&:before
			padding-top (14 / 14 * 100)%
	
	&--edit
		width 12px
		&:before
			padding-top (12 / 12 * 100)%
	
	&--elevation
		width 85px
		&:before
			padding-top (85 / 85 * 100)%
	
	&--empty-search
		width 30px
		&:before
			padding-top (30 / 30 * 100)%
	
	&--envelope
		width 30px
		&:before
			padding-top (30 / 30 * 100)%
	
	&--external-link
		width 16px
		&:before
			padding-top (16 / 16 * 100)%
	
	&--eye-strong
		width 30px
		&:before
			padding-top (30 / 30 * 100)%
	
	&--eye
		width 16px
		&:before
			padding-top (16 / 16 * 100)%
	
	&--facebook-polygon
		width 60px
		&:before
			padding-top (60 / 60 * 100)%
	
	&--facebook
		width 18px
		&:before
			padding-top (18 / 18 * 100)%
	
	&--file
		width 20px
		&:before
			padding-top (20 / 20 * 100)%
	
	&--foldability
		width 85.04px
		&:before
			padding-top (85.04 / 85.04 * 100)%
	
	&--frequency
		width 85.04px
		&:before
			padding-top (85.04 / 85.04 * 100)%
	
	&--gesture-control
		width 85.04px
		&:before
			padding-top (85.04 / 85.04 * 100)%
	
	&--gestures
		width 85.04px
		&:before
			padding-top (85.04 / 85.04 * 100)%
	
	&--gift
		width 85px
		&:before
			padding-top (85 / 85 * 100)%
	
	&--gimbal
		width 85.04px
		&:before
			padding-top (85.04 / 85.04 * 100)%
	
	&--globe
		width 20px
		&:before
			padding-top (20 / 20 * 100)%
	
	&--google
		width 18px
		&:before
			padding-top (18 / 18 * 100)%
	
	&--gun
		width 30px
		&:before
			padding-top (30 / 30 * 100)%
	
	&--hasselblad
		width 85.04px
		&:before
			padding-top (85.04 / 85.04 * 100)%
	
	&--hdr
		width 85.04px
		&:before
			padding-top (85.04 / 85.04 * 100)%
	
	&--heart
		width 20px
		&:before
			padding-top (20 / 20 * 100)%
	
	&--home
		width 20px
		&:before
			padding-top (20 / 20 * 100)%
	
	&--hyperlapse
		width 85.04px
		&:before
			padding-top (85.04 / 85.04 * 100)%
	
	&--image-resolution
		width 85.04px
		&:before
			padding-top (85.04 / 85.04 * 100)%
	
	&--info-polygon
		width 30px
		&:before
			padding-top (26 / 30 * 100)%
	
	&--inner-storage
		width 85.04px
		&:before
			padding-top (85.04 / 85.04 * 100)%
	
	&--instagram-polygon
		width 60px
		&:before
			padding-top (60 / 60 * 100)%
	
	&--instagram
		width 20px
		&:before
			padding-top (20 / 20 * 100)%
	
	&--interesting
		width 85.04px
		&:before
			padding-top (85.04 / 85.04 * 100)%
	
	&--linkedin
		width 20px
		&:before
			padding-top (20 / 20 * 100)%
	
	&--location
		width 20px
		&:before
			padding-top (20 / 20 * 100)%
	
	&--logout
		width 20px
		&:before
			padding-top (20 / 20 * 100)%
	
	&--medal
		width 85.04px
		&:before
			padding-top (85.04 / 85.04 * 100)%
	
	&--menu
		width 20px
		&:before
			padding-top (20 / 20 * 100)%
	
	&--minus
		width 20px
		&:before
			padding-top (20 / 20 * 100)%
	
	&--move
		width 30px
		&:before
			padding-top (30 / 30 * 100)%
	
	&--noise-reduction
		width 85.04px
		&:before
			padding-top (85.04 / 85.04 * 100)%
	
	&--not-found
		width 82.2px
		&:before
			padding-top (82.2 / 82.2 * 100)%
	
	&--operating-system
		width 85.04px
		&:before
			padding-top (85.04 / 85.04 * 100)%
	
	&--panorama
		width 85.04px
		&:before
			padding-top (85.04 / 85.04 * 100)%
	
	&--penetration
		width 85.04px
		&:before
			padding-top (85.04 / 85.04 * 100)%
	
	&--people
		width 20px
		&:before
			padding-top (20 / 20 * 100)%
	
	&--phone-strong
		width 18px
		&:before
			padding-top (18 / 18 * 100)%
	
	&--phone
		width 20px
		&:before
			padding-top (20 / 20 * 100)%
	
	&--pie-chart
		width 85.04px
		&:before
			padding-top (85.04 / 85.04 * 100)%
	
	&--pinterest
		width 20px
		&:before
			padding-top (20 / 20 * 100)%
	
	&--play-polygon
		width 40px
		&:before
			padding-top (40 / 40 * 100)%
	
	&--play
		width 20px
		&:before
			padding-top (20 / 20 * 100)%
	
	&--plus
		width 20px
		&:before
			padding-top (20 / 20 * 100)%
	
	&--polygon-bg
		width 23px
		&:before
			padding-top (20 / 23 * 100)%
	
	&--polygon-minus
		width 23px
		&:before
			padding-top (19.9 / 23 * 100)%
	
	&--polygon-plus
		width 23px
		&:before
			padding-top (19.9 / 23 * 100)%
	
	&--polygon
		width 23px
		&:before
			padding-top (20 / 23 * 100)%
	
	&--print
		width 20px
		&:before
			padding-top (20 / 20 * 100)%
	
	&--puzzle
		width 85.04px
		&:before
			padding-top (85.04 / 85.04 * 100)%
	
	&--question-polygon
		width 30px
		&:before
			padding-top (26 / 30 * 100)%
	
	&--quick-shot
		width 85.04px
		&:before
			padding-top (85.04 / 85.04 * 100)%
	
	&--recycle
		width 26px
		&:before
			padding-top (26 / 26 * 100)%
	
	&--route
		width 85px
		&:before
			padding-top (85 / 85 * 100)%
	
	&--save
		width 20px
		&:before
			padding-top (20 / 20 * 100)%
	
	&--search
		width 20px
		&:before
			padding-top (20 / 20 * 100)%
	
	&--select
		width 20px
		&:before
			padding-top (20 / 20 * 100)%
	
	&--sensor-range
		width 85.04px
		&:before
			padding-top (85.04 / 85.04 * 100)%
	
	&--sensor
		width 85.04px
		&:before
			padding-top (85.04 / 85.04 * 100)%
	
	&--share
		width 30px
		&:before
			padding-top (30 / 30 * 100)%
	
	&--signal-distance
		width 85.04px
		&:before
			padding-top (85.04 / 85.04 * 100)%
	
	&--speed
		width 85.04px
		&:before
			padding-top (85.04 / 85.04 * 100)%
	
	&--sphere
		width 85.04px
		&:before
			padding-top (85.04 / 85.04 * 100)%
	
	&--sport-mode
		width 85.04px
		&:before
			padding-top (85.04 / 85.04 * 100)%
	
	&--star
		width 30px
		&:before
			padding-top (30 / 30 * 100)%
	
	&--storage
		width 85.04px
		&:before
			padding-top (85.04 / 85.04 * 100)%
	
	&--swallow
		width 85.04px
		&:before
			padding-top (85.04 / 85.04 * 100)%
	
	&--temperature
		width 82.2px
		&:before
			padding-top (82.2 / 82.2 * 100)%
	
	&--theft
		width 50px
		&:before
			padding-top (50 / 50 * 100)%
	
	&--tram
		width 59.5px
		&:before
			padding-top (81.5 / 59.5 * 100)%
	
	&--trash
		width 27px
		&:before
			padding-top (27 / 27 * 100)%
	
	&--tree
		width 82.2px
		&:before
			padding-top (82.2 / 82.2 * 100)%
	
	&--truck
		width 20px
		&:before
			padding-top (20 / 20 * 100)%
	
	&--twitter-polygon
		width 60px
		&:before
			padding-top (60 / 60 * 100)%
	
	&--twitter
		width 20px
		&:before
			padding-top (20 / 20 * 100)%
	
	&--underground
		width 75.4px
		&:before
			padding-top (81.5 / 75.4 * 100)%
	
	&--user
		width 20px
		&:before
			padding-top (20 / 20 * 100)%
	
	&--variants
		width 85.04px
		&:before
			padding-top (85.04 / 85.04 * 100)%
	
	&--video-resolution
		width 85.04px
		&:before
			padding-top (85.04 / 85.04 * 100)%
	
	&--video
		width 85.04px
		&:before
			padding-top (85.04 / 85.04 * 100)%
	
	&--visibility
		width 85.04px
		&:before
			padding-top (85.04 / 85.04 * 100)%
	
	&--voltage
		width 85.04px
		&:before
			padding-top (85.04 / 85.04 * 100)%
	
	&--wallet
		width 85.04px
		&:before
			padding-top (85.04 / 85.04 * 100)%
	
	&--warning
		width 20px
		&:before
			padding-top (20 / 20 * 100)%
	
	&--waypoints
		width 85.04px
		&:before
			padding-top (85.04 / 85.04 * 100)%
	
	&--weights
		width 85.04px
		&:before
			padding-top (85.04 / 85.04 * 100)%
	
	&--wheat
		width 20px
		&:before
			padding-top (20 / 20 * 100)%
	
	&--youtube-polygon
		width 60px
		&:before
			padding-top (52 / 60 * 100)%
	
	&--youtube
		width 20px
		&:before
			padding-top (20 / 20 * 100)%
	
	&--zoom
		width 85.04px
		&:before
			padding-top (85.04 / 85.04 * 100)%
	