.product-comparison
	border none
	font-size 16px
	tr:nth-child(odd)
		background transparent
	td, th
		border none
	thead th
		font-weight 400
		font-size 18px
		text-align center
	tbody
		tr:first-child td
			padding-top 30px
		tr:last-child td
			padding-bottom 30px
		td:first-child
			font-weight 600
			min-width 175px
		td
			padding 10px 25px
	tfoot
		background-color $colorBg
		border 1px solid $colorBd
		td
			padding 10px 25px 5px
		tr:last-child td
			padding-bottom 25px
