.b-bordered
	border 1px solid $colorBd
	padding 15px
	font-size 16px

	// MEDIA QUERIES
	@media $MQ.mdDown
		margin-left -15px
		margin-right -15px
		border-width 1px 0
		font-size 12px
	@media $MQ.lgUp
		padding 35px 35px 15px
	@media $MQ.lgUp
		padding 35px 30px 15px

