.b-brand-quote
	&__wrap
		display flex
		align-items center
		margin-left -60px
		margin-bottom -28px
		> *
			margin-left 60px
			margin-bottom 28px
	&__quote
		flex 1 1 auto
		background $colorBg
		border 1px solid $colorBd
		padding 15px 20px
		font-size 18px
		font-style oblique
		position relative
		text-align center
		&::before
		&::after
			content ''
			position absolute
			left 50%
			top -10px
			transform translateX(-50%)
			border-style solid
			border-width 0 10px 10px 10px
			border-color transparent transparent $colorBd transparent
		&::after
			top -8px
			border-color transparent transparent $colorBg transparent

	// MEDIA QUERIES
	@media $MQ.mdDown
		&__wrap
			flex-direction column
		&__img
			width 180px
			height auto

	@media $MQ.mdUp
		&__img
			width 200px
		&__quote
			padding 15px 25px
			font-size 20px
			&::before
			&::after
				left -10px
				top 50%
				transform translateY(-50%)
				border-width 10px 10px 10px 0
				border-color transparent $colorBd transparent transparent
			&::after
				left -8px
				border-color transparent $colorBg transparent transparent

	@media $MQ.xlUp
		&__img
			width 270px
		&__quote
			font-size 22px
			padding 35px 30px


