.b-brand
	display flex
	width 100%
	flex-wrap wrap
	position relative
	&__img
		flex 0 1 290px
	&__title
		margin-bottom 5px
	&__link
		font-size 18px
		font-weight 400
		&::before
			content ''
			position absolute
			left 0
			top 0
			width 100%
			height 100%
	&__annot
		line-height 1.33em
		max-height 60px
		overflow hidden
	&__side
		display flex
		flex-direction column
		width 100%
		justify-content center

	// HOVERS
	.no-touchevents &:hover &__link
		color $colorHover

	@media $MQ.mdUp
		margin-left -25px
		flex-wrap nowrap
		&__img
			margin-left 25px
			flex-grow 0
			flex-shrink 0
			flex-basis calc(25% - 25px)
		&__link
			font-size 28px
		&__annot
			font-size 18px
			max-height 70px
		&__side
			margin-left 25px
			flex-basis calc(75% - 25px)
