.b-career
	line-height 1.6
	$s = selector()
	&__list
		@extend $reset-ul
		margin-bottom -15px
	&__item
		@extend $reset-ul-li
		border 1px solid $colorBd
		padding 20px 20px 0
		margin-bottom 15px
	&__head
		display flex
		align-items center
		min-height 0
		padding-bottom 20px
		position relative
	&__link::after
		content ''
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		z-index 1
	&__name > *:last-child
		margin-bottom 0
	&__toggle
		margin 0 20px 0 0
		.icon-svg
			transition transform $t
	&__wrap
		padding-bottom 40px
		display none
	&__top
		text-transform uppercase
		font-size 18px
		font-weight 500
		color $secondary
		margin-bottom 5px
	&__title
		margin 0 0 20px
	&__annotation
		margin-bottom 40px
	&__contact
		font-size 26px
		margin 20px 0 0
	&__content
		ul
			margin-top 0
			line-height 1.5
		li
			margin-bottom 10px

	// STATES
	&__item.is-open
		{$s}
			&__wrap
				display block
			&__toggle .icon-svg
				transform rotate(180deg)

	// MEDIA QUERIES
	@media $MQ.mdDown
		&__link
			position static
	@media $MQ.mdUp
		&__item
			padding 40px 40px 0
			margin-bottom 20px
		&__head
			padding-bottom 40px
		&__toggle
			margin 0 40px 0 0
		&__wrap
			padding-left 70px
		&__contact
			font-size 32px
			margin 4
