.b-clients
	$s = selector()
	&__wrap
		border 1px solid $colorBd
		background-color white
		display flex
	&__inner
		display flex
		align-items center
		justify-content space-between
		flex-wrap wrap
		flex 1 1 auto
		width 100%
		padding 20px 20px 10px
		min-height 220px
	&__imgs
		margin-bottom 40px
	&__img
		max-height 50px
		margin 0 auto
	&__list
		@extend $reset-ul
		display flex
		flex-wrap wrap
		margin-left -20px
		margin-bottom -20px
		justify-content center
	&__item
		@extend $reset-ul-li
		margin-left 20px
		margin-bottom 20px
		flex-grow 0
		flex-shrink 0
		flex-basis calc(50% - 20px)
	&__side
		text-align center
		flex-grow 0
		flex-shrink 0
		flex-basis  calc(100% - 150px)
		margin 0 auto
	&__annot
		font-size 20px
		color $primary
		display block
		margin-bottom 10px

	@media $MQ.smDown
		&__imgs
		&__side
			flex 1 1 100%
			width 100%
	@media $MQ.smUp
		&__item
			flex-basis calc(33.3333% - 20px)
		&__imgs
			flex 1 1 100%
		&__side
			flex 0 0 auto
	@media $MQ.mdUp
		&__annot
			font-size 28px
			margin-bottom 20px
		&__list
			margin-left -70px
			margin-bottom -40px
			justify-content space-around
		&__item
			margin-left 70px
			margin-bottom 40px
			flex-basis calc(33.3333% - 70px)
		&__img
			min-width 100px
			max-width 160px
			max-height 60px

	@media $MQ.lgUp
		&__list
			margin-left -30px
			flex-wrap nowrap
		&__item
			margin-left 30px
			flex-basis calc(20% - 30px)

		@media (max-width 1099px)
			&__item:nth-child(3)
				display none
		@media $MQ.xlDown
			&__item:nth-child(6)
				display none

	@media $MQ.xlUp
		&__inner
			flex-wrap nowrap
			padding 20px 40px 10px
		&__list
			margin-left -20px
		&__item
			margin-left 20px
			// flex-basis auto
			flex-basis calc(16.666% - 20px)
		&__imgs
			margin-bottom 0
		&__img
			min-width 160px
			max-width 160px
			max-height 80px

		&--w-side &__inner
			margin-left -50px
			> *
				margin-left 50px
		&--w-side &__img
			max-height 60px
			max-width 140px
			min-width 100px
	@media $MQ.xxlUp
		&__list
			margin-left -30px
			justify-content space-around
		&__item
			margin-left 30px
			flex-basis auto
		&__img
			min-width 160px
			max-width 160px
			max-height 80px

		&--w-side &__inner
			margin-left -50px
			> *
				margin-left 50px
		&--w-side &__list
			margin-left -30px
		&--w-side &__item
			margin-left 30px
		&--w-side &__img
			min-width 150px
			max-width 150px
			max-height 70px
