.b-cookie
	position fixed
	left 0
	right 0
	bottom 0
	position fixed
	color $primary
	background $colorBg
	border-top 1px solid $colorBd
	padding 1em 0 0
	z-index 500

	@media $MQ.lgUp
		&__wrap
			display flex
			justify-content space-between
			align-items center
			> *
				flex 0 1 auto

	@media $MQ.lgDown
		.btn__text
			padding 10px
