.b-ebook
	display flex
	position relative
	&__img
		flex 1 0 80px
		img
			width 100%
			height auto
			box-shadow 0 5px 6px rgba(#000000, .16)
	&__side
		flex 1 1 auto
		margin-left 15px
		padding-top 15px
	&__title
		font-size 20px
	&__link
		text-decoration none
		&::before
			content ''
			position absolute
			left 0
			top 0
			width 100%
			height 100%
	&__annot
		font-size 16px
		margin-bottom 0

	// HOVERS
	.no-touchevents &:hover &__link
		color $colorHover

	@media $MQ.mdUp
		flex-wrap wrap
		&__img
			flex 0 1 80px
		&__side
			padding-top 0
			margin-left 0
		&__title
			max-width 225px
		&__annot
			max-width 280px

	@media $MQ.lgUp
		flex-wrap nowrap
		&__img
			flex 0 1 100px
		&__side
			padding-top 15px
			margin-left 15px

	@media $MQ.xlUp
		&__img
			flex 0 1 160px
		&__side
			margin-left 30px
