.b-ebooks
	&__annot
		font-size 18px
		margin-bottom 35px
		text-align center
	&__bottom
		background $colorBg
		border-top 1px solid $colorBd
		margin 0 -24px -24px
		padding 35px 35px 45px
		font-size 16px
	&__list
		@extend $reset-ul
		display flex
		overflow-x auto
	&__item
		@extend $reset-ul-li
		max-width 140px
		display flex
		flex-direction column
		width 100%
		&:not(:first-child)
			margin-left 50px
		a
			line-height 19px
		img
			margin-bottom 15px
			box-shadow 0 5px 6px rgba(0,0,0,0.16)
			width 135px
			height 165px

	@media $MQ.mdDown
		&__annot
			font-size 16px
			margin-bottom 20px
			padding 20px 24px 30px
