.b-event
	&__img
		min-height 100%
		margin 0
	&__side
		background-color white
		padding 20px 20px 5px
		border 1px solid $colorBd
		border-width 0 1px 1px 1px
	&__title
		color $black
		margin-bottom 35px
	&__annot
		margin-bottom 30px
		font-size 18px
		line-break 24px
	&__btn .btn__text
		padding 13px 20px

	@media $MQ.mdUp
		&__wrap
			display flex
		&__img
			flex 0 0 35%
		&__side
			flex 0 0 65%
			border-width 1px 1px 1px 0

	@media $MQ.lgUp
		&__side
			padding 50px 50px 30px 70px
