.b-flight-school
	&__inner
		display flex
		flex-direction column
		width 100%
	&__left
		background-color $primary
		color white
		position relative
		padding 20px 30px 180px
	&__center
		width 100%
		min-height 100%
		margin 0
	&__right
		background-color white
		padding 25px 20px 5px
		border 1px solid $colorBd
		border-width 0 1px 1px
		display flex
		flex-direction column
		width 100%
		justify-content center
	&__img
		position absolute
		left 50%
		transform translateX(-50%)
		bottom 0
		width 145px
		height auto
	&__left &__title
		color white
		margin 0 0 10px
		font-size 28px
	&__left &__annot
		font-size 16px
		line-height 24px
		color $colorBd
	&__right &__title
		color $colorLink
		font-size 22px
		line-height 24px
		margin 0 0 20px
		font-weight 400
	&__right &__annot
		font-size 16px
		line-height 24px
		margin-bottom 15px
	&__right &__btn.btn__text
		padding 13px 20px

	// MEDIA QUERIES
	@media $MQ.mdDown
		&__left
			text-align center

	@media $MQ.mdUp
		&__inner
			flex-direction row
			flex-wrap wrap
		&__left
			flex 0 0 100%
			min-height 250px
			padding 45px 100px 30px 320px
			max-width 100%
		&__left &__title
			margin 0 0 20px
		&__left &__annot
			font-size 18px
		&__img
			left 75px
			transform none
			width 210px
		&__center
			flex 0 0 46%
			max-width 46%
		&__right
			flex 0 0 54%
			max-width 54%
			padding 25px 30px 5px

	@media $MQ.lgUp
		&__left
			padding 60px 40px 30px 330px
		&__left &__title
			margin-bottom 35px
		&__center
			flex 1 1 30%
			width 100px
		&__right
			flex 1 1 30%
			padding 30px 45px 20px
		&__img
			left 20px

	@media $MQ.xlUp
		&__inner
			flex-wrap nowrap
		&__left
			flex 1 1 40%
		&__right
			border-width 1px 1px 1px 0
		&__right &__title
			margin-bottom 30px
		&__right &__annot
			margin-bottom 30px
		&__img
			width 270px





