.b-gallery-plain
	&__link
		display block
		text-decoration none
		text-align center
	&__link .img__holder
		transition transform $t
		transform scale3d(1.01, 1.01, 1)

	// HOVERS
	.no-touchevents &__link:hover .img__holder
		transform scale3d(1.05, 1.05, 1)
