.b-hotline
	$s = selector()
	background-color white
	text-align center
	&__top
		padding 30px 30px 90px
		border 1px solid $colorBd
		border-width 1px 1px 0 1px
	&__title
		font-size 25px
		line-height 25px
		font-weight 600
		margin-bottom 0
	&__link
		text-decoration none
		color $colorHover
	&__annot
		font-size 16px
	&__phone
		font-size 13px
		color $blue
		margin-bottom 10px
		a
			text-decoration none
			font-size 18px
			color $primary
			display block
			font-weight 600
	&__mail
		font-size 18px
	&__open
		font-size 13px
		color $blue
		margin-bottom 0
	&__btn .btn__text
		padding 14px 20px 13px
		font-size 11px
	&__bottom
		background-color $primary
		min-height 140px
		position relative
		padding-top 70px
		color white
	&__img
		position absolute
		top -62px
		left 50%
		transform translateX(-50%)
		width 142px
	&__person-name
		margin-bottom 0
		font-size 19px
		font-weight 600
	&__person-position
		font-size 15px
		margin-bottom 0
		color $colorBd

	// MODIFICATIONS
	&--small
		{$s}
			&__top
				padding 20px 20px 75px
				border-color transparent
			&__title
				margin-bottom 5px
			&__annot
			&__phone
				margin-bottom 0


	&--square
		display flex
		flex-direction column
		width 100%
		height 100%
		{$s}
			&__top
				padding 20px 20px 60px
				border 0
			&__annot
			&__phone
			&__open
				margin-bottom 0
			&__img
				width 100px
				height auto
				top -44px
			&__bottom
				min-height 100px
				padding-top 50px
				margin-top auto
			&__person-name
				font-size 16px
				line-height 16px
				font-weight 500
			&__person-position
				font-size 13px
				line-height 16px

	// MEDIA QUERIES
	@media $MQ.mdUp
		&--square
			{$s}
				&__top
					padding 10px 0 30px
				&__title
					font-size 17px
				&__annot
					font-size 13px
					margin-bottom -10px
				&__phone
					display inline-block
					a
						font-size 15px
				&__open
					font-size 11px
					display inline
				&__img
					width 65px
					top -28px
				&__bottom
					padding-top 19%
				&__person-position
					font-size 11px

	@media $MQ.lgUp
		&--square
			{$s}
				&__title
					font-size 22px
					margin-bottom 10px
				&__annot
					font-size 16px
					margin-bottom 0
				&__phone
					display block
					a
						font-size 18px
				&__open
					font-size 13px
					display block
				&__bottom
					padding-top 15%

	@media $MQ.xlUp
		&--square
			{$s}
				&__top
					padding 10px 5px 60px
				&__title
					margin-bottom 5px
				&__img
					width 70px
					top 0
					transform translate(-50%, -50%)
				&__bottom
					padding-top 15%
					position absolute
					bottom 0
					left 0
					right 0
					min-height 0
					height 35%
					max-height 100px
				&__person-name
					font-size 16px
				&__person-position
					font-size 13px

	@media $MQ.xxlUp
		&--square
			{$s}
				&__top
					padding-top 20px
				&__title
					font-size 25px

	@media screen and (min-width: 1690px)
		&--square
			{$s}
				&__img
					width 100px
				&__bottom
					padding-top 50px
					min-height 100px






