.b-icon
	font-size 18px
	line-height 1.3
	color $primary
	&__inner
		background $white
		padding 120px 20px 10px
		text-align center
		position relative
	&__icon
		color $secondary
		position absolute
		top 25px
		left 50%
		transform translateX(-50%)
	&__title
		color $primary
		font-weight 400
		margin 0 0 20px

	@media $MQ.lgUp
		&__inner
			padding 180px 30px 30px
		&__icon
			top 75px
