.b-info
	color $primary
	&__note
		display block
		font-size 16px
		line-height 1.2
		color $blue
		margin-bottom 15px
	&__highlight
		margin-bottom 0
		span
			display block
			text-transform uppercase
			font-size 36px
			font-weight 600
	&__metods
		display block
		margin-bottom 20px
	&__polygon
		padding-right 33px
		font-size 18px
		.icon-svg
			width 22px
	&__contact
		font-size 20px
		.item-icon
			padding-left 40px
		.icon-svg
			width 25px

	// MEDIA QUERIES
	@media $MQ.lgDown
		&__highlight
		&__metods
		&__info
			text-align center

	@media $MQ.lgUp
		&__contact
			font-size 26px

