.b-lang
	white-space nowrap
	margin-bottom 0
	font-size 15px
	&__link
		display block
		text-decoration none
		padding-right 20px
		position relative
		.icon-svg
			color $lightBlue
			width 9px
			position absolute
			top 50%
			margin-top -2px
			right 6px
