.b-map-thumb
	max-width 500px
	margin 0 auto
	&__wrap
		display flex
		align-items center
	&__img
		width 230px
		height 200px
	&__address
		font-size 16px
	&__link
		margin-top 25px
		padding-right 32px
		font-size 18px
		.icon-svg
			width 22px
	&__hours
		font-size 16px
		color $suplementary
		strong
			color $black
			display block
			font-weight 500

	// MEDIA QUERIES
	@media $MQ.smDown
		&__wrap
			flex-direction column
			width 100%
			margin-bottom -20px
			> *
				margin-bottom 20px
	@media $MQ.smUp
		&__wrap
			margin-left -35px
			> *
				margin-left 35px
		&__img
			flex 0 0 230px
	@media $MQ.mdUp
		&__address
			font-size 21px

