.b-other
	position relative
	&__title
		margin-bottom 5px
	&__link
		font-size 18px
		font-weight 400
		&::before
			content ''
			position absolute
			left 0
			top 0
			width 100%
			height 100%
	&__annot
		line-height 1.33em
		max-height 105px
		overflow hidden

	// HOVERS
	.no-touchevents &:hover &__link
		color $colorHover

	// MEDIA QUERIES
	@media $MQ.mdUp
		&__link
			font-size 28px
		&__annot
			font-size 18px
			max-height 115px

