.b-paging-row
	font-size 17px

	@media $MQ.smDown
		&__btn
			text-align center
	@media $MQ.mdDown
		&__item--showing
			text-align center
	@media $MQ.xlUp
		&__btn
			text-align center
			margin 0
		&__item--btn
			margin-left auto
