.b-paging
	$s = selector()
	&__list
		@extend $reset-ul
		display flex
		flex-wrap wrap
		margin-left -5px
		justify-content center
		margin-bottom -15px
	&__item
		@extend $reset-ul-li
		margin-left 5px
		position relative
		z-index 2
		margin-bottom 15px
	&__link
		text-decoration none
		display block
	&__inner
		padding 4px 0
		display flex
		justify-content center
		align-items center
		// text-align center
		min-width 23px
		font-size 14px

	// STATES
	&__item.is-active
		min-width 32px
	&__item.is-active::after
	&__item.is-active::before
		content ''
		position absolute
		left 0
		top 0
		width 32px
		height 28px
		z-index -1
	&__item.is-active::before
		left -1px
		top -1px
		width 34px
		height 30px
		bgPolygon $colorBd
	&__item.is-active::after
		bgPolygon white
	&__item.is-active &__inner
		z-index 2
	.no-touchevents &__link:hover .item-icon
	.no-touchevents &__link:hover .icon-svg
		color $colorHover

	// MODIFICATIONS
	&__item--more .icon-svg
		width 32px
		height 28px
	&__item:first-child&__item--more
		margin-left 0
		margin-right 5px
		.item-icon
			padding-left 45px // 38px
	&__item:last-child&__item--more
		margin-left 10px
		.item-icon--after
			padding-right 45px // 38px
	&--center &__list
		justify-content center

	// MEDIA QUERIES
	@media $MQ.smDown
		&__list
			position relative
			padding-bottom 40px
		&__item--more
			position absolute
			bottom 0
		&__item--more:first-child
			left 0
			// right 48%
			text-align left
		&__item--more:last-child
			// left 52%
			right 0
			text-align right

	@media $MQ.mdUp
		&__list
			justify-content flex-end
		&--large
			.item-icon
				padding-left 50px
			.item-icon--after
				padding-left 0
				padding-right 50px
			{$s}
				&__item
					height 42px
				&__item.is-active::before
					width 49px
					height 42px
				&__item.is-active::after
					width 47px
					height 40px
				&__item--more .icon-svg
					width 35px
					height 30px
				&__item:first-child&__item--more .item-icon
					padding-left 55px
				&__item:last-child&__item--more .item-icon--after
					padding-right 55px
				&__inner
					font-size 22px
					min-width 47px
	@media $MQ.xxlUp
		&__item:first-child&__item--more
			margin-right 13px
		&__item:last-child&__item--more
			margin-left 18px
