.b-person
	background-color $primary
	text-align center
	position relative
	&__inner
		padding 25px 20px 15px 20px
	&__avatar
		width 150px
		height 130px
		margin 0 auto 15px
	&__link
		display block
		height 100%
		&::before
			content ''
			position absolute
			left 0
			top 0
			width 100%
			height 100%
	&__info
		margin-bottom 20px
		margin-left -20px
		> *
			margin-left 20px
	&__name
		font-weight 500
		margin-bottom 0
		line-height 24px
	&__link
		text-decoration none
		color white
	&__position
		color $colorBd
		font-size 16px
		font-weight normal
		display block
	&__contact
		margin-bottom 0
		z-index 1
	&__contact a
		flex 0 0 200px
		font-size 13px
		color $colorBd
		line-height 24px
		strong
			display block
			font-size 24px
			color white
			margin-bottom -5px
			transition color $t
	&__desc
		color white
		font-size 16px

	// HOVERS
	.no-touchevents &__contact a:hover strong
		color darken(white, 20%)

	@media $MQ.mdUp
		text-align left
		&__inner
			display flex
			align-items center
			padding 50px 50px 30px 45px
			margin-left -50px
			> *
				margin-left 50px
		&__avatar
			flex 0 0 auto
		&__side
			flex 1 1 auto
		&__info
			display flex
			align-items flex-start
			justify-content space-between
		&__position
			line-height 1.1



