.b-person-card
	background-color $primary
	padding 15px 15px 5px 100px
	min-height 200px
	position relative
	text-align center
	display flex
	justify-content center
	align-items center
	&__img
		width 100px
		height auto
		position absolute
		left 0
		bottom 0
	&__name
		color white
		font-size 24px
		font-weight 500
		margin-bottom 0
	&__position
		color $colorBd
		font-size 16px
		margin-bottom 30px
	&__phone[href^='tel:']
		color white
		font-size 28px
		font-weight 600
	&__hours
		display block
		font-size 13px
		color $colorBd
	&__name
	&__position
	&__phone
	&__hours
		line-height 24px

	@media $MQ.smUp
		padding 35px 20px 15px 240px
		text-align left
		&__img
			width 191px
			left 15px
