.b-polygons
	$s = selector()
	&__wrap
		display flex
		justify-content center
		margin 0
	&__list
		@extend $reset-ul
		display flex
		justify-content center
		margin-left 32px
		flex-wrap wrap
		max-width 390px
		padding 35px 0
	&__item
		@extend $reset-ul-li
		margin-left -32px
		flex 0 0 160px
		width 160px
		height 77px
		text-align center
		display flex
		flex-direction column
		justify-content center
		position relative
		box-sizing content-box
		&::before
			content ''
			position absolute
			width 160px
			height 140px
			z-index 1
			bgPolygon $colorBg
		&:nth-child(even)
			margin-top 77px
	&__inner
		position relative
		z-index 2
	&__count
		font-size 39px
		display block
	&__annot
		font-size 12px

	// MODIFICATIONS
	&--circle
		{$s}
			&__wrap
				margin 0 -32px
			&__list
				flex-direction column
				justify-content flex-start
				max-height 920px
				width 800px
				padding 0
			&__item
				width 328px
				height 284px
				flex 0 0 100%
				padding-top percentage(3/4)
				margin-bottom 20px
				background-size cover
				background-position center center
				background-repeat no-repeat
				&::before
					width 328px
					height 284px
					background transparent
			&__item--empty::before
				top 0px
				left 0px
				bgPolygon #304657
			&__item--empty::after
				content ''
				position absolute
				width 326px
				height 282px
				top 1px
				left 1px
				z-index 2
				bgPolygon $primary
			&__item:nth-child(even)
				margin-top 0
			&__item:nth-child(1)
			&__item:nth-child(6)
				margin-top 150px


	// MEDIA QUERIES
	@media $MQ.xlDown
		&--circle
			{$s}
				&__wrap
					margin 0
					display block
				&__list
					flex-direction row
					width auto
					max-width none
					max-height none
					margin 0 0 -10px
					padding 30px 0 0
				&__item
					margin 0 0 10px
					width 100%
					height auto
				&__item:nth-child(1)
				&__item:nth-child(6)
					margin-top 0
				&__item--empty
					display none
				&__item
					svg
						position absolute
						left 0
						top 0
					img
					image
						clip-path none

	@media $MQ.smUp
		&__list
			padding 50px 0
			margin-left 48px
		&__item
			flex 0 0 240px
			width 240px
			height 110px
			margin-left -48px
			&::before
				width 240px
				height 210px
			&:nth-child(even)
				margin-top 115px
		&__count
			font-size 56px
		&__annot
			font-size 16px

		&--circle
			{$s}
				&__list
					margin-left -15px
					margin-bottom -20px
					// margin-bottom -15px
				&__item
					flex-grow 0
					flex-shrink 0
					flex-basis 50%
					border-left 15px solid transparent
					margin-bottom 20px
					// margin-bottom 15px
					padding-top percentage( (3/4) / 2)

	@media $MQ.lgUp
		&--circle
			{$s}
				&__list
					max-width none
					padding-top 0

	@media $MQ.xlUp
		&--circle
			{$s}
				&__list
					margin-left 62px

				&__item
					flex 0 0 auto
					padding-top 0
					margin-left -82px // 62
		&--large
			{$s}
				&__list
					max-width none
				&__item
					flex 0 0 390px
					width 390px
					height 340px
					margin-left -80px
					&::before
						width 390px
						height 340px
					&:nth-child(even)
						margin-top 190px
				&__count
					font-size 84px
				&__annot
					font-size 21px
					margin-bottom 35px
					display block
	@media $MQ.xxlUp
		&__list
			max-width none

