.b-references
	.b-clients
		margin-top -110px
	&__wrap
		position relative
		display flex
		flex-direction column
		width 100%
		align-items center
	&__list
		width 100%
	&__list ~ .m-references
		margin-top 50px
	&__item
		min-width 100%
	&__inner
		display flex
		margin-left -50px
	&__avatar
		align-self flex-start
		margin-bottom 0
		flex 0 0 170px
		width 170px
		height 145px
	&__avatar
	&__side
		margin-left 50px
	&__side
		margin-top -5px
		flex 1 1 auto
	&__annot
		margin-bottom 10px
		font-size 16px
	&__name
		margin-bottom 0
		font-weight 600
		font-size 20px
	&__position
		display block
		color $suplementary
		font-size 16px
		font-weight 400
	&__prev
	&__next
		color $primary
		padding 10px
		.icon-svg
			width 25px

	// HOVERS
	.no-touchevents &__prev:hover
	.no-touchevents &__next:hover
		color $primary

	@media $MQ.mdDown
		&__list
			margin-bottom 20px
		&__inner
			flex-wrap wrap
			justify-content center
		&__avatar
			margin-bottom 30px
		&__side
			flex-grow 0
			flex-shrink 0
			flex-basis calc(100% - 50px)
			text-align center
		&__tools
			display flex
			justify-content center

	@media $MQ.mdUp
		&__list
			max-width 90%
		&__prev
		&__next
			position absolute
			top 60px
		&__prev
			left -10px
		&__next
			right -10px

	@media $MQ.lgUp
		.b-clients
			margin-top -130px
		&__avatar
			flex 0 0 220px
			width 220px
			height 190px
		&__name
			font-size 24px
		&__annot
			font-size 20px
			margin-bottom 25px
		&__position
			font-size 19px
		&__prev
		&__next
			top 80px
		&__side
			margin-top -7px

	@media $MQ.xlUp
		.b-clients
			margin-top -180px
		&__list
			max-width 960px
		&__avatar
			flex-grow 0
			flex-shrink 0
			flex-basis calc(30% - 50px)
			width 250px
			height 215px
		&__side
			flex-grow 0
			flex-shrink 0
			flex-basis calc(100% - 50px)
		&__avatar + &__side
			flex-grow 0
			flex-shrink 0
			flex-basis calc(70% - 50px)
		&__prev
		&__next
			top 90px

	@media $MQ.xxlUp
		&__list ~ .m-references
			margin-top 100px
