.b-share
	border 1px solid $colorBd
	padding 20px
	background-color white
	text-align center
	&__title
		margin-bottom 20px
		font-size 20px
	&__list
		@extend $reset-ul
		margin 0 0 -20px -20px
		display flex
		flex-wrap wrap
		align-items center
		justify-content center
	&__item
		@extend $reset-ul-li
		margin 0 0 20px 20px
		padding-left 14px
	&__link
		position relative
		border 1px solid $colorBd
		text-transform uppercase
		padding 14px 20px 14px 30px
		font-size 11px
		font-weight 500
		text-decoration none
		min-height 50px
		display flex
		align-items center
	&__icon
		position absolute
		left 0
		top 50%
		transform translateX(-50%) translateY(-50%)
	&__icon .icon-svg
		width 30px

	// MODIFICATIONS
	&__link--facebook
		min-width 143px

	@media $MQ.mdUp
		text-align left
		display flex
		justify-content space-between
		align-items center
		&__title
			margin-bottom 0
			padding-right 20px
		&__list
			flex-wrap nowrap
			justify-content flex-start

	@media $MQ.lgUp
		padding 35px
		&__list
			margin 0 0 0 -37px
		&__item
			margin 0 0 0 37px





