.b-shop
	&__top
		display flex
		flex-wrap wrap
		align-items center
		margin-left -30px
	&__title
	&__btn
		margin-left 30px
		margin-bottom 15px
	&__img
		margin-bottom 0
		img
			width 100%
			height auto
	&__map
		height 100%
		iframe
			width 100%
			height 100%

	@media $MQ.mdUp
		&__top
			margin-bottom 15px

	@media $MQ.lgUp
		&__top
			margin-left -50px
			margin-bottom 25px
		&__title
		&__btn
			margin-left 50px
