.b-specialist
	text-align center
	font-size 18px
	line-height 1.2
	position relative
	&__inner
		border 1px solid $colorBd
		padding 130px 20px 20px 20px
		position relative
		&&
			margin-top 115px
	&__img
		font-size 0
		position absolute
		left 50%
		top 0
		transform translate(-50%, -50%)
		width 270px
		height 235px
	&__title
		font-weight 400
		color $colorLink
		text-decoration underline
		margin-bottom 15px
	&__bottom
		min-height 70px
	&__link::before
		content ''
		position absolute
		top 0
		left 0
		width 100%
		height 100%

	// HOVERS
	.no-touchevents &__inner:hover &__title a
		color $colorHover

	@media $MQ.mdUp
		&__inner
			padding 160px 30px 30px 30px
		&__title
			margin-bottom 25px

