.b-store-detail
	.item-icon
		color $primary
		padding-left 36px
	.icon-svg
		color $colorHover
		width 28px
	&__list
		@extend $reset-ul
	&__item
		@extend $reset-ul-li
		margin-bottom 16px
		font-size 14px
