.b-tiles
	&__list + &__list
		margin-top 30px
	&__list--small + &__list--small
		margin-top 60px
	&__inner
		display flex
		flex-direction column
		width 100%
		justify-content center
		> :last-child
			margin-bottom 0
	&__img
		margin-bottom 0
		img
			transition transform $t

	// MEDIA QUERIES
	@media $MQ.mdDown
		font-size 16px

	@media $MQ.mdUp
		&__list--small&__list--right &__item:first-child
			order 2

	@media $MQ.lgUp
		&__list--small + &__list--small
			margin-top 30px

	@media $MQ.xlUp
		&__list--small&__list--left &__inner:not(.b-tiles__inner--alone)
			padding-right 75px
		&__list--small&__list--right &__inner:not(.b-tiles__inner--alone)
			padding-left 75px

	@media $MQ.xlUp
		&__list + &__list
			margin-top 15px
		&__list--left &__inner:not(.b-tiles__inner--alone)
			padding-right 75px
		&__list--right &__inner:not(.b-tiles__inner--alone)
			padding-left 75px
		&__list--right &__item:first-child
			order 4
