.b-video-modal
	&__title--list
		font-weight normal
		color $primary
		margin-bottom 10px
	&__iframe
		width 100%
	&__list
		@extend $reset-ul
		margin-bottom 45px
	&__item
		@extend $reset-ul-li
		line-height 33px
		a
			font-size 14px
			text-transform uppercase
			text-decoration none
			font-weight 500
	&__bottom
		padding-top 45px
