.b-voucher
	padding-top 40px
	&__wrap
		background-color white
		display flex
		align-items center
		border 1px solid $colorBd
		position relative
		min-height 250px
	&__side
		padding 185px 15px 30px
		width 100%
	&__img
		position absolute
		left 50%
		transform translateX(-50%)
		top -70px
		width 320px
		height auto
	&__title
		color $primary
		line-height 32px
	&__annot
		font-size 20px
		line-height 26px
		margin-bottom 30px

	&__btn
		margin-bottom 0
		.btn__text
			padding 13px 30px
			letter-spacing .5px


	// MEDIA QUERIES
	@media $MQ.mdDown
		flex-direction column
		width 100%
		&__title
		&__annot
			text-align center
		&__btn
			text-align center

	@media $MQ.mdUp
		min-height 310px
		&__img
			top -45px
			left -40px
			transform none
			width 415px
		&__side
			padding 20px 20px 20px 330px
		&__title
			line-height 44px
			margin-bottom 0
		&__btn
			margin-bottom 10px
			.btn__text
				padding 13px 48px
		&__annot
			font-size 26px
			line-height 36px
			margin-bottom 35px

	@media $MQ.lgUp
		min-height 250px
		&__img
			left -20px
			top -75px
			width 375px
