.b-work
	display flex
	height 100%
	&__inner
		position relative
		flex 1 1 100%
		overflow hidden
	&__img
		position absolute
		top 0
		left 0
		right 0
		bottom 0
		transition transform $t
		transform scale3d(1, 1, 1)
		&:after
			content ''
			position absolute
			top 0
			bottom 0
			right 0
			left 0
			background linear-gradient(to bottom, rgba($white, 0) 0, rgba($white, 0) 35%, rgba($primary, 1) 100%)
		.objectfit &
			background-color $primary
	&__content
		text-align center
		width 100%
		height 100%
		display flex
		align-items flex-end
		&::before
			content ''
			display block
			width 100%
			padding-top 60.25%
			flex 1 0 100%
	&__wrap
		flex-grow 1
		flex-shrink 0
		flex-basis calc(100% - 60px)
		box-sizing border-box
		transform translateX(-100%)
		padding 30px 10px 15px
		min-width 100%
	&__title
		font-size 28px
		font-weight 600
		margin-bottom 10px
		a
			color $white
			text-decoration none
	&__tags
		color $white
		font-size 18px
		display none
	&__category
		color $colorLink
		font-size 15px

	// HOVERS
	.no-touchevents &:hover &__img
		transform scale3d(1.05, 1.05, 1)
	.no-touchevents a&__category:hover
		color $colorHover
		&::before
			content none

	// MEDIA QUERIES
	@media $MQ.xxlDown
		&__title
			text-shadow 0 1px 5px rgba(#000000, .3)
	@media $MQ.mdUp
		&__wrap
			padding 40px 30px
		&__title
			font-size 34px
		&__tags
			display block
