{% from "../macros/helpers.njk" import iconSVG %}
<!DOCTYPE html>
<!--[if IE 9 ]><html lang="cs" class="ie9 no-js"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="cs" class="no-js"><!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">

		<meta name="twitter:card" content="summary">
		<meta name="twitter:title" content="{{ pageTitle }}">
		<meta name="twitter:description" content="Description here">
		<meta name="twitter:image" content="http://www.example.com/image.jpg">

		<meta property="og:title" content="{{ pageTitle }}">
		<meta property="og:description" content="Description here">
		<meta property="og:image" content="http://www.example.com/image.jpg">
		<meta property="og:site_name" content="Project">
		<meta property="og:url" content="http://www.example.com/">

		<title>{{ pageTitle }} | Project</title>

		<link rel="stylesheet" href="{{ assets.styles }}style.css" media="screen">
		<link rel="stylesheet" href="{{ assets.styles }}print.css" media="print">
		<link rel="shortcut icon" href="{{ assets.images }}favicon.ico">

		<script src="{{ assets.scripts }}modernizr.min.js"></script>
		<script>
			(function () {
				var className = document.documentElement.className;
				className = className.replace('no-js', 'js');

				if (window.name.indexOf('fontsLoaded=true') > -1) {
					className += ' fonts-loaded';
				}

				document.documentElement.className = className;
			}());
		</script>
	</head>
	<body>
		<div class="mother">
			<p class="m-accessibility">
				<a title="Přejít k obsahu (Klávesová zkratka: Alt + 2)" accesskey="2" href="#main">Přejít k obsahu</a>
				<span class="hide">|</span>
				<a href="#menu-main">Přejít k hlavnímu menu</a>
				<span class="hide">|</span>
				<a href="#form-search">Přejít k vyhledávání</a>
			</p>
			<header role="banner" class="header">
				{% if isHomepage %}
					<h1 class="header__logo">
						<img src="../img/logo-halla.svg" alt="{_logo}" width="114" height="45">
					</h1>
				{% else %}
					<p class="header__logo">
						<a href="./">
							<img src="../img/logo-halla.svg" alt="{_logo}" width="114" height="45">
						</a>
					</p>
				{% endif %}

				<div class="header__side">
					<div class="m-top">
						<ul class="m-top__list">
							<li class="m-top__item">
								<a href="#" class="m-top__link">
									Produkty
								</a>
							</li>
							<li class="m-top__item">
								<a href="#" class="m-top__link">
									Reference
								</a>
							</li>
							<li class="m-top__item">
								<a href="#" class="m-top__link">
									Podpora
								</a>
							</li>
							<li class="m-top__item">
								<a href="#" class="m-top__link">
									Ke stažení
								</a>
							</li>
							<li class="m-top__item">
								<a href="#" class="m-top__link">
									Kontakt
								</a>
							</li>
						</ul>
					</div>

					<a href="#form-search" class="header__item header__item--search" title="{_search_title}">
						<span class="header__icon">
							{{ iconSVG('search') }}
						</span>
						<span class="vhide">{_search_title}</span>
					</a>
					<a href="#" class="header__item header__item--profile" title="{_profile_title}">
						<span class="header__icon">
							{{ iconSVG('profile') }}
						</span>
						<span class="vhide">{_profile_title}</span>
					</a>
					<a href="#menu-main" class="header__item header__item--menu">
						<span class="header__dib">
							{_menu_title}
							<span class="header__icon">
								{{ iconSVG('menu') }}
							</span>
						</span>
					</a>

				</div>
			</header>

			{% block content %}{% endblock %}


			<div class="row-main">
				<footer role="contentinfo" class="footer">
					<div class="footer__top">
						<p class="footer__logo">
							<a href="{$lg}/">
								<img src="../img/logo-halla.svg" alt="{_logo}" width="114" height="45">
							</a>
						</p>
						<p class="footer__social">
							<a href="{_facebook_link}" target="_blank" class="social__item social__item--facebook">
								{{ iconSVG('facebook') }}
								<span class="vhide">{_facebook_text}</span>
							</a>
							<a href="{_linkedin_link}" target="_blank" class="social__item social__item--linkedin">
								{{ iconSVG('linkedin') }}
								<span class="vhide">{_linkedin_text}</span>
							</a>
							<a href="{_youtube_link}" target="_blank" class="social__item social__item--youtube">
								{{ iconSVG('youtube') }}
								<span class="vhide">{_youtube_text}</span>
							</a>
							<a href="{_instagram_link}" target="_blank" class="social__item social__item--instagram">
								{{ iconSVG('instagram') }}
								<span class="vhide">{_instagram_text}</span>
							</a>
							<a href="{_pinterest_link}" target="_blank" class="social__item social__item--pinterest">
								{{ iconSVG('pinterest') }}
								<span class="vhide">{_pinterest_text}</span>
							</a>
						</p>
					</div>

					<div class="footer__bottom">
						<p class="footer__copyrights">
							{php $year = 2018}
							&copy; 1992–{$year|copyright} {_copyrights}<br>
							{_claim}
						</p>
						<div class="footer__content">
							<div class="grid">
								<div class="grid__cell size--8-12">
									<div class="footer__menu">
										<ul class="footer__list grid">
											<li class="footer__item grid__cell size--6-12">
												<a href="#" class="footer__link">
													O společnosti
												</a>
											</li>
											<li class="footer__item grid__cell size--6-12">
												<a href="#" class="footer__link">
													Novinky
												</a>
											</li>
											<li class="footer__item grid__cell size--6-12">
												<a href="#" class="footer__link">
													Kariéra
												</a>
											</li>
											<li class="footer__item grid__cell size--6-12">
												<a href="#" class="footer__link">
													Faq
												</a>
											</li>
											<li class="footer__item grid__cell size--6-12">
												<a href="#" class="footer__link">
													Ochrana soukromí
												</a>
											</li>
										</ul>
									</div>

									<p>
										TODO: Lang + Login
									</p>
								</div>
								<div class="grid__cell size--4-12">
									<p>
										{_contact_address}
									</p>
									<p>
										<a href="mailto:{_contact_email}">{_contact_email}</a><br>
										{_phone_short}. <a href="tel:{_contact_phone_nikola|replace:' ':''}">{_contact_phone_nikola}</a><br>
										{_fax}. {_contact_fax}
									</p>
								</div>
							</div>
						</div>
					</div>
				</footer>
			</div>

			<div class="b-cookie" n:if="empty($_COOKIE[eu-cookies]) && isset($pages->cookie)">
				<div class="row-main">
					<div class="b-cookie__wrap">
						<p class="b-cookie__content">
							{_cookie} <a href="{$lg}/{$pages->cookie->alias}">{_cookie_link}</a>.
						</p>
						<p class="b-cookie__btn">
							<a href="#" class="btn btn--s">
								<span>{_cookie_btn}</span>
							</a>
						</p>
					</div>
				</div>
			</div>
		</div>

		<!--[if (gte IE 9) | (!IE)]><!-->
			<script src="{{ assets.scripts }}jquery-2.2.4.min.js"></script>
			<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=default,Array.prototype.find"></script>
			<script src="{{ assets.scripts }}app.js"></script>
			<script>
				App.run({})
			</script>
		<!--<![endif]-->
	</body>
</html>
