.b-cart-login
	position relative
	.icon-svg
		color $colorLink
	&__wrap
		padding 18px
		border 1px solid $colorBd
		cursor pointer
		background white
		z-index 2
		position relative
	&__inner
		display flex
		align-items center
		margin-left -8px
		margin-bottom 0
		> *
			margin-left 8px
	&__form
		opacity 0
		visibility hidden
		transition opacity $t, visibility $t
		position absolute
		width 100%
		background white
		z-index 1
		outline 5000px solid rgba($primary, .2)
		display flex
		font-size 16px
		overflow hidden
		max-height calc(100vh - 320px)
	&__left
		flex 1 0 45%
		padding: 30px 30px 0
	&__right
		flex 1 1 55%
		padding 0 30px 15px
		height 100%

	// STATES
	&__form.is-open
		z-index 5
		opacity 1
		visibility visible
		overflow-y auto
	&__wrap.is-open
		z-index 6

	// MEDIA QUERIES
	@media $MQ.mdDown
		&__form
			flex-direction column
			width 100%
		&__right .btn
			width 100%
	@media $MQ.mdUp
		&__left
			padding 40px 50px 25px 35px
		&__right
			background $colorBg
			padding 40px 35px 25px
	@media $MQ.lgUp
		&__left
		&__right
			padding 20px
	@media $MQ.xlUp
		&__left
			padding 40px 50px 25px 35px
		&__right
			padding 40px 35px 25px

