.b-cart-summary
	&__main
		background $colorBg
		padding 15px 15px 5px
	&__table
		font-size 16px
		margin-bottom 10px
	&__table:not(&__table--others) tbody tr
		background white
	&__img
		width 85px
		padding 0
	&__desc
		padding-left 15px
		padding-right 0
	&__price
		text-align right
		width 105px
		padding 15px
	&__bottom
		background white
		padding 15px 15px 0
		border 1px solid $colorBd
	&__extra
		display block

	// MODIFICATIONS
	&__table--services
		margin-bottom 30px
	&__table--others
	&__table--others td
		border 0
		padding 0 5px
	&__table--sum
	&__table--sum th
	&__table--sum td
		border 0
		padding 0

	&__table--sum th
		font-size 16px
		font-weight unset
		strong
			font-size 20px
			font-weight bold
	&__table--sum th&__price
		width 50%
		vertical-align bottom
	&__table--sum td
		color $suplementary
		vertical-align top
		strong
			font-size 16px
			font-weight 400
	&__row--extra td
		border 0
		padding-top 0

	// MEDIA QUERIES
	@media $MQ.smDown
		&__table
		&__table--others h3
			font-size 14px
		&__img
			width 80px
			float left
			margin -15px 0 -15px -90px
			&&
				margin-top -15px
		&__table:not(&__table--others):not(&__table--sum) &__price
			text-align left
			width auto
			margin-top 10px
		&__table:not(&__table--others):not(&__table--sum)
			tr
				display block
				padding 15px 15px 15px 90px
				border-top 1px solid $colorBd
				overflow hidden
				&:first-child
					border-width 0
			tr.b-cart-summary__row--extra
				border-top 0
			td
				display block
				padding 0
				border-width 0

	@media $MQ.mdDown
		margin-left -15px
		margin-right -15px
		&__bottom
			border-width 1px 0

	@media $MQ.mdUp
		&__main
			padding 25px 15px 10px
		&__table
			margin-bottom 22px
		&__table--sum th
			font-size 20px
		&__table--sum th strong
			font-size 30px
		&__table--sum td strong
			font-size 20px
		&__table--others &__price
			padding-right 15px
		&__bottom
			padding-right 25px

	@media $MQ.lgUp
		&__table--others td
			padding 5px

	@media $MQ.xlUp
		&__main
			padding 25px 25px 10px
		&__img
			width 100px
		&__desc
			padding-left 20px
		&__price
			width 125px
			padding 15px 25px
		&__bottom
			padding 15px 50px 0 25px



