.b-steps
	padding-top 10px
	&__list
		@extend $reset-ul
		margin-left -15px
		display flex
		flex-wrap nowrap
	&__item
		@extend $reset-ul-li
		margin-left 15px
		position relative
		padding 0
		font-size 12px
		flex 1 1 auto
		&::before
			display none
	&__item:not(:last-child)::after
		content ''
		position absolute
		top 24px
		right - ( (15px + 7px) / 2)
		width 7px
		height 11px
		background-image url($img+'bg/steps-separator.svg')
		background-repeat no-repeat
		color #bababa
		pointer-events none
	&__inner
		display block
		width 100%
		height 100%
	&__text
		position relative
		z-index 1
		padding 45px 5px 8px
		display block
		text-align center
		&::before
			counter-increment item
			content counter(item) "."
			position absolute
			top 20px
			left 50%
			transform translateX(-50%)
			font-size 11px
			font-weight 600
			color white
			width 30px
			text-align center
		&::after
			content ''
			position absolute
			top 16px
			left 50%
			transform translateX(-50%)
			width 30px
			height 26px
			bgPolygon $colorLink
			z-index -1

	// STATES
	&__item.is-active
		background white

	// MEDIA QUERIES
	@media $MQ.smUp
		&__list
			margin-left -20px
		&__item
			margin-left 20px
		&__item:not(:last-child)::after
			right - ( (20px + 7px) / 2)

	@media $MQ.mdUp
		padding-top 15px
		&__item
			height 90px
			flex 1 1 auto
			font-size 15px
		&__item:not(:last-child)::after
			top 50%
			transform translateY(-50%)
		&__inner
			display flex
			justify-content center
			align-items center
		&__text
			margin-left 40px
			padding 0
			&:before
				top 50%
				transform translate(0, -50%)
				left -37px
			&:after
				position absolute
				left -38px
				top 50%
				transform translate(0, -50%)

	@media $MQ.lgUp
		padding-top 35px
		&__list
			margin-left -40px
		&__item
			margin-left 40px
		&__item:not(:last-child)::after
			right - ( (40px + 7px) / 2)
	@media $MQ.xlUp
		&__list
			padding 0 50px
			margin-left -100px
		&__item
			margin-left 100px
			font-size 25px
			flex 1 1 auto
		&__item:not(:last-child)::after
			width 14px
			height 22px
			right - ( (100px + 14px) /2)
	@media $MQ.xxlUp
		&__list
			margin-left -140px
		&__item
			margin-left 140px
		&__item:not(:last-child)::after
			right - ( (140px + 14px) /2)

