.f-lecture-select
	font-size 16px
	p
		line-height 20px
		margin-bottom 28px
	h3
		color $primary
	&__top
		margin-left -10px
		margin-bottom 26px
	p&__img
		margin-bottom 0
	&__img
		margin 0 0 0 10px
	&__title
		font-weight normal
		margin 0 0 0 10px
		font-size 22px
		strong
			font-weight 600
	&__list
		@extend $reset-ul
		flex-basis 50%
	&__item
		@extend $reset-ul-li
		margin-bottom 5px
		&:last-child
			margin-bottom 0
	&__price
		font-size 20px
		strong
			font-weight bold
	&__btn
		margin 0
		text-align center
	&__inline
		display flex
		flex-direction column
		align-items center
		margin-bottom 10px
		& > *
			margin-bottom 10px

	// MEDIA QUERIES
	@media $MQ.smUp
		&__img
			width 230px
			flex-shrink 0

	@media $MQ.mdUp
		&__top
			display flex
			align-items center
			margin-left -32px
			> *
				margin-left 32px
		&__title
			font-size 26px
		&__item
			margin-bottom 18px
		&__inline
			display flex
			flex-direction row
			align-items center
			margin-left -26px
			& > *
				margin-left 26px
		&__count
			flex-basis 100px
		&__btn
			text-align right

	@media $MQ.lgUp
		&__list--col-2
			column-count 2
			break-inside avoid
			page-break-inside avoid
		&__list--col-2 &__item
			display inline-block
			vertical-align middle
			break-inside avoid
