.f-product-borrow
	font-size 16px
	input::-webkit-clear-button
	input::-webkit-inner-spin-button
		display none

	&__inp
		margin-bottom 0

	// MODIFICATIONS
	&__inp--date
		.icon-svg--calendar
			pointer-events auto
			cursor pointer
			display none

		#endpicker + .icon-svg--calendar
		#startpicker + .icon-svg--calendar
			display block

	&__inp--fix
		width 1px
		height 1px
		font-size 1px
		overflow hidden
		opacity 0
		visibility hidden


	// MEDIA QUERIES
	@media $MQ.smUp
		&__inp--time
			input
				text-align right
		&__datetime
			flex-wrap nowrap

	@media $MQ.mdUp
		&__inp--time
			width 85px

