.f-search
	$s = selector()
	padding 0 15px
	.icon-svg
		transition opacity $t
	&__wrap
		display flex
		position relative
		min-height 50px
		z-index 101
	&__text--md
		display none
	&__text.inp__text
		font-size 12px
		padding 15px 90px 14px 38px
	&__btn
	&__inp
		margin-bottom 0
	&__inp
		flex 1 0
		.icon-svg
			left 11px
	&__btn
		flex 0 0 auto
		.btn__text
			padding 8px 16px 7px
	&__suggest
		position absolute
		z-index 100
		top 50px
		left 15px
		right 15px
	&__loader
		position absolute
		left 11px
		top 50%
		border 2px solid $colorLink
		border-top-color transparent
		width 20px
		height 20px
		margin -10px 0 0 0
		border-radius 10px
		transition opacity $t
		opacity 0

	// STATEs
	&__text.loading ~ .icon-svg
		opacity 0
	&__text.loading ~ &__loader
		opacity 1
		animation animation-rotate .8s infinite linear

	@media $MQ.mdDown
		&__wrap
			padding-top 5px
			margin-bottom 10px
		&__inp .icon-svg
			width 16px
		&__btn
			position absolute
			top calc(50% + 1px)
			right 6px
			transform translateY(-50%)
			.btn__text
				line-height 1.3
				font-size 10px

	@media $MQ.mdUp
		&__text.inp__text
			font-size 13px
			min-height 57px
			padding-left 42px
			padding-right 10px
		&__btn .btn__text
			padding 18px 15px 17px
		&__suggest
			top 71px
		&--w-alert &__suggest
			top 113px

	@media $MQ.lgUp
		&__text
			display inline
		&__suggest
			top 83px
		&--w-alert &__suggest
			top 125px

	@media (min-width 1100px)
		&__text.inp__text
			font-size 17px

	@media $MQ.xlUp
		padding 0 28px
		&__text.inp__text
			padding 16px 20px 16px 57px
		&__btn .btn__text
			padding 18px 20px 17px
		&__inp .icon-svg
		&__loader
			left 20px
	@media $MQ.xxlUp
		position relative
		&--w-alert &__suggest
		&__suggest
			top 100%
			left auto
			right 28px

