.b-about-us
	position relative
	margin 0 -15px
	&__box
		background-color $primary
		margin-bottom 130px
		position relative
		padding 55px 15px 130px
		a:not(:hover)
			color white
		&::after
			content ''
			display none
			position absolute
			width 250px
			height 270px
			top 70px
			right 190px
			background-image url($img+'bg/polygons.svg')
			background-repeat no-repeat
			background-size 250px 270px
	&__polygon
		position absolute
		width 215px
		height 185px
		right 15px
		bottom 0
		transform translateY(50%)
		img
			width 100%
			height auto
	&__img
		position absolute
		width 160px
		bottom 0
		transform translateY(100%)
		right 145px
		img
			width 100%
			height auto
	&__title
		color white
		font-size 28px
		font-weight 500
		margin-bottom 35px
	&__annot
		font-size 20px
		color $lightBlue
		max-width 630px

	@media $MQ.mdUp
		&__box
			padding 80px 80px 260px
			margin-bottom 280px
		&__title
			font-size 56px
			line-height 79px
			margin-bottom 20px
		&__polygon
			width 515px
			height 445px
		&__img
			width 380px
			right 320px

	@media $MQ.xlUp
		display flex
		margin 0
		&__box
			min-height 600px
			padding 120px 290px 90px 140px
			margin-bottom 60px
			flex 0 0 73%
			max-width 73%
			&::after
				display block
		&__title
			margin-bottom 35px
		&__polygon
			top 85px
			bottom auto
			right 50px
			transform translate(0)
		&__img
			bottom 250px
			left 55%
			transform translate(0)

	@media $MQ.xxlUp
		&__box
			margin-bottom 180px
		&__polygon
			flex 0 0 780px
			width 780px
			height 680px
			right 0
		&__img
			width 595px
			bottom -20px
			left 40%

