.b-tips
	&__left
		padding 36px 20px 10px
		text-align center
		background-color $primary
		color $white
		position relative
		> :last-child
			margin-bottom 0
	&__left &__img
		display none
		max-width 200px
		margin 0 auto
	&__side
		background $white
	&__center
		margin-bottom 0
		position relative
		padding 0 20px
	&__right
		overflow hidden
		padding 25px 20px 5px
	&__left &__title
		color white
		margin 0 0 15px
		font-size 28px
	&__left &__annot
		color $colorBd
	&__polygon
		position absolute
		top -23px
		left 50%
		transform translateX(-50%)
		width 54px
		margin 0 auto
		display block
	&__discount
		position absolute
		right 25px
		bottom 45px
		width 62px
		height 54px
		font-size 17px
		text-align center
		line-height 54px
		font-weight 500
		color white
		bgPolygon $red
	&__right &__title
		color $colorLink
		font-size 18px
		font-weight 400
		margin 0 0 10px
	&__right &__annot
		font-size 16px
		line-height 24px
		margin-bottom 35px
	&__flag
		display block
		text-transform uppercase
		font-weight bold
		font-size 10px
		line-height 21px
	&__buy
		s
			display block
			font-size 11px
			color $lightBlue
		strong
			display block
			font-weight bold
			font-size 17px
			color $primary
	&__right &__btn .btn__text
		padding 13px 30px

	@media $MQ.smUp
		&__center
			padding 0 50px

	@media $MQ.mdUp
		&__side
			display flex
			align-items center
			> *
				flex 1 1 50%
		&__left &__annot
			font-size 18px
			line-height 24px
		&__left &__img
			position absolute
			left 50%
			margin 0 0 0 -100px
			bottom 0
			.img
				top 50%
				transform translateY(-50%)
		&__right &__title
			margin 0 0 20px

	@media $MQ.lgUp
		display flex
		&__left
			flex 1 1 41%
			padding-top 85px
		&__side
			flex 1 1 59%
			display block
		&__center
			padding 0 0 0 20px
			flex 1 1 25%
		&__right
			flex 1 1 35%
			padding 45px 30px 20px
		&__side
			display flex
			align-items center
		&__polygon
			top -62px
			width 142px

	@media $MQ.xxlUp
		&__left
			padding 60px 55px 30px 330px
			text-align left
			min-height 305px
		&__left &__img
			display block
			left 20px
			margin-left 0
			max-width none
		&__center
			padding 0 0 0 35px
		&__buy
			display flex
			align-items center
			margin-left -35px
			> *
				margin-left 35px
		&__right
			padding 45px 45px 20px
		&__polygon
			display none
