.u-max
	&-width
		for $i in (1..14)
			&-{$i}-12
				max-width unit($rowMainWidth / 12 * $i - 10, 'px')
		&-3-12-space
			max-width unit($rowMainWidth / 12 * 3 - 10 + 15, 'px')

.u-min-max
	&-width
		for $i in (1..14)
			&-{$i}-12
				width unit($rowMainWidth / 12 * $i - 10, 'px')
				max-width 100%
			&-620
				width 620px
				max-width 100%
