// padding left
.u-pl-md
	padding-left 30px
	@media $MQ.mdUp
		padding-left 60px


// padding top
.u-pt-xs
	padding-top 20px
.u-pt-sm
	padding-top 20px
	@media $MQ.xlUp
		padding-top 30px
.u-pt-md
	padding-top 30px
	@media $MQ.xlUp
		padding-top 60px
.u-pt-lg
	padding-top 50px
	@media $MQ.mdUp
		padding-top 60px
	@media $MQ.xlUp
		padding-top 100px
.u-pt-xl
	padding-top 70px
	@media $MQ.mdUp
		padding-top 80px
	@media $MQ.xlUp
		padding-top 140px
.u-pt-xxl
	padding-top 90px
	@media $MQ.mdUp
		padding-top 120px
	@media $MQ.xlUp
		padding-top 180px

// padding bottom
.u-pb-sm
	padding-bottom 20px
	@media $MQ.mdUp
		padding-bottom 30px
.u-pb-md
	padding-bottom 30px
	@media $MQ.xlUp
		padding-bottom 60px
.u-pb-lg
	padding-bottom 50px
	@media $MQ.mdUp
		padding-bottom 60px
	@media $MQ.xlUp
		padding-bottom 100px

// margin bottom
.u-mb-0
	margin-bottom 0
.u-mb-5
	margin-bottom 5px
.u-mb-10
	margin-bottom 10px
.u-mb-xs
	margin-bottom 20px
.u-mb-sm
	margin-bottom 20px
	@media $MQ.xlUp
		margin-bottom 30px
.u-mb-md
	margin-bottom 30px
	@media $MQ.xlUp
		margin-bottom 60px
.u-mb-lg
	margin-bottom 50px
	@media $MQ.mdUp
		margin-bottom 60px
	@media $MQ.xlUp
		margin-bottom 100px
.u-mb-xl
	margin-bottom 70px
	@media $MQ.mdUp
		margin-bottom 80px
	@media $MQ.xlUp
		margin-bottom 140px
.u-mb-xxl
	margin-bottom 90px
	@media $MQ.mdUp
		margin-bottom 120px
	@media $MQ.xlUp
		margin-bottom 180px
.u-mb-spc
	margin-bottom 20px
	@media $MQ.mdUp
		margin-bottom 50px
	@media $MQ.xlUp
		margin-bottom 100px

// margin top
.u-mt-0
	margin-top 0
.u-mt-5
	margin-top 5px
.u-mt-xs
	margin-top 20px
.u-mt-sm
	margin-top 20px
	@media $MQ.xlUp
		margin-top 30px
.u-mt-md
	margin-top 30px
	@media $MQ.xlUp
		margin-top 60px
.u-mt-lg
	margin-top 50px
	@media $MQ.mdUp
		margin-top 60px
	@media $MQ.xlUp
		margin-top 100px
.u-mt-xl
	margin-top 70px
	@media $MQ.mdUp
		margin-top 80px
	@media $MQ.xlUp
		margin-top 140px
.u-mt-xxl
	margin-top 90px
	@media $MQ.mdUp
		margin-top 120px
	@media $MQ.xlUp
		margin-top 180px

.u-mt--lg-lg-up
	@media $MQ.lgUp
		margin-top -100px
.u-mt--xl
	margin-top -70px !important
	@media $MQ.mdUp
		margin-top -80px !important
	@media $MQ.xlUp
		margin-top -140px !important
