.u-text-left
	text-align left
.u-text-right
	text-align right
.u-text-center
	text-align center
.u-text-justify
	text-align justify



.u-text-nowrap
	white-space nowrap
.u-text-truncate
	text-truncate()

.u-text-lowercase
	text-transform lowercase
.u-text-uppercase
	text-transform uppercase
.u-text-capitalize
	text-transform capitalize

.u-font-light
	font-weight 300
.u-font-regular
	font-weight normal
.u-font-medium
	font-weight 500
.u-font-bold
	font-weight bold
.u-font-black
	font-weight 800
.u-font-italic
	font-style italic

.u-text-xs
	font-size 14px
.u-text-sm
	font-size 16px
.u-text-regular
	font-size 20px

.u-title
	font-size 28px
	@media $MQ.mdUp
		font-size 40px

@media $MQ.mdDown
	.u-text-md--md-down
		font-size 18px
		line-height 24px

.u-text-hide
	text-hide()

.u-color-dark
	color $primary

.u-color-secondary
	color $secondary

.u-color-suplementary
	color $suplementary

.u-color-lightBlue
	color $lightBlue

.u-color-green
	color $green

.u-color-link
	color $colorLink

.u-color-hover
	color $colorHover

.u-color-red
	color $red

.u-color-blue
	color $blue

.u-font-xs
	font-size 14px
	line-height 1.3
.u-font-sm
	font-size 18px
	line-height 1.3
.u-font-md
	font-size 20px
	line-height 1.3
.u-font-lg
	font-size 24px
	line-height 1.3
.u-font-xl
	font-size 32px
	line-height 1.3

@media $MQ.mdUp
	.u-font-lg--md
		font-size 24px
		line-height 1.3

.u-no-decoration
.u-no-decoration[href^='mailto:']
	text-decoration none

