.no-js .u-no-js-hide
.js .u-js-hide
	display none
.u-out
.js .u-js-out
	position absolute
	left -5000px

.u-hide
	display none
.u-hide\@xs
	display none

.print
	display none

.u-display-block
	display block

// up
@media $MQ.smUp
	.u-hide--sm
	.u-hide--sm-up
		display none
	.u-hide--xs
		display inherit
@media $MQ.mdUp
	.u-hide--md
	.u-hide--md-up
		display none
	.u-hide--sm
		display inherit
@media $MQ.lgUp
	.u-hide--lg
	.u-hide--lg-up
		display none
	.u-hide--md
		display inherit
	.u-out--lg-up
		position absolute
		left -5000px
	.js .u-js-hide
		+suffix('lg')
			display none
@media $MQ.xlUp
	.u-hide--xl
	.u-hide--xl-up
		display none
	.u-hide--lg
		display inherit

// down
@media $MQ.smDown
	.u-hide--xs-down
	.u-hide--xs
		display none
@media $MQ.mdDown
	.u-hide--sm-down
		display none
@media $MQ.lgDown
	.u-hide--md-down
		display none
@media $MQ.xlDown
	.u-hide--lg-down
		display none
@media $MQ.xxlDown
	.u-hide--xl-down
		display none
