.m-advice
	background-color white
	width 100%
	&__title
		font-weight normal
		margin-bottom 0
	&__title-link
		text-decoration none
		color $black
	&__list
		@extend $reset-ul
		margin-bottom -18px
	&__item
		@extend $reset-ul-li
		font-size 14px
		font-weight 500
		text-transform uppercase
		margin-bottom 19px
	&__link
		text-decoration none

	// HOVERS
	.no-touchevents &__link:hover
		color $colorLink
		text-decoration underline

	// MODIFICATIONS
	&--photo
		display none

	// MEDIA QUERIES
	@media $MQ.mdDown
		&__list
			margin-bottom 0

	@media $MQ.mdUp
		position absolute
		right $gridGutter
		bottom -30px
		padding 15px 25px 35px
		width 250px
		border 1px solid $colorBd
		&__title
			font-size 20px
			margin-bottom 20px
		&__item
			font-size 12px

		// MODIFICATIONS
		&--photo
			padding 20px
			height 250px
			display flex
			align-items center

	@media $MQ.lgUp
		width 410px
		padding 40px 50px 60px
		&__title
			margin-bottom 40px
		&__list
			margin-bottom -28px
		&__item
			font-size 14px
			margin-bottom 28px

		// MODIFICATIONS
		&--photo
			padding 50px 100px
			height 325px


	@media screen and (min-width: $rowMainWidth)
		right "calc( (100% - %s) / 2 + 15px)" % $rowMainWidth

