.m-breadcrumb
	font-size 14px
	padding 0 0 8px 0
	.icon-svg
		width 15px
	&__wrap
		display flex
		flex-wrap wrap
		margin-left -5px
		margin-bottom -3px
		> *
			margin-left 5px
			margin-bottom 3px

	&__link
		text-decoration none
		font-weight 500
		.icon-svg--home
			margin-top -6px
	&__separator .icon-svg
		margin-top -3px
		width 10px
		color $lightBlue

	// MEDIA QUERIES
	@media $MQ.mdDown
		&__wrap
			white-space nowrap
			text-overflow ellipsis
			overflow hidden
	@media $MQ.mdUp
		padding 15px 0
		&__wrap
			display flex
			align-items center
			flex-wrap wrap
			margin-left -10px
			> *
				margin-left 10px
	@media $MQ.lgUp
		padding 25px 0
