.m-login
	flex 1 1 100%
	&__list
		@extend $reset-ul
		padding 25px 30px
	&__item
		@extend $reset-ul-li
		margin-bottom 10px
		&:last-child
			margin 30px 0 0
	&__link
		display block
		text-decoration underline

	// MODIF
	&__link--logout
		.icon-svg
			width 16px
