.m-main
	border 1px solid $colorBd
	text-transform uppercase
	font-size 14px
	font-weight 600
	letter-spacing 0.09em
	padding-left 10px
	&__list
		@extend $reset-ul
		display flex
		align-items flex-start
		transition height $t
	&__item
		@extend $reset-ul-li
		text-align center
		flex 0 0 auto
	&__link
		color $colorLink
		padding 28px 10px 27px
		text-decoration none
		position relative
		transition box-shadow $t, color $t, padding $t
		display block
		text-align center
		white-space nowrap
		line-height 20px
		&:before
			content ''
			position absolute
			top -1px
			left 1px
			right 1px
			background $colorLink
			height 3px
			opacity 0
			transition opacity $t
	&__select
		display inline-block
		vertical-align top
		padding-right 20px
		position relative
		.icon-svg
			color $lightBlue
			width 11px
			position absolute
			top 50%
			margin-top -6px
			right 0
			transition transform $t
	&__btn
		@extend $reset-ul-li
		width 240px
		flex-basis 240px
		margin -1px -1px -1px auto
		.btn
			width 100%
		.btn__text
			transition padding $t, background-color $t
			padding 28px 10px 27px
			line-height 20px
			font-size 14px
	&__btn-icon
		display inline-block
		vertical-align top
		padding-right 20px
		position relative
		.icon-svg
			position absolute
			width 11px
			right 0
			top 50%
			margin-top -6px
			transition transform $t

	// MODIFICATIONS
	&__item--submenu &__link
		&::before
			left 0
			right 0
		&::after
			content ''
			position absolute
			left 0
			right 0
			bottom -1px
			height 3px
			background #fff
			z-index 100
			opacity 0
			transition opacity $t

	// HOVERS
	&__item
	&__btn
		.touchevents .header:not(.headroom--unpinned) &.is-open
		.no-touchevents .header:not(.headroom--unpinned) &:hover
			.m-submenu
				opacity 1
				visibility visible
			.icon-svg--select
				transform rotate(180deg)
	&__item--submenu:hover &__link
		color $colorLink
		box-shadow 0 1px 6px 0 rgba($black, .16)
		&:before
		&:after
			opacity 1
		.icon-svg
			transform rotate(180deg)
	.no-touchevents &__link:hover
	&__link.is-active
		color $colorLink
		&:before
			opacity 1
	&__btn.is-active .btn
		position relative
		&::after
			content ''
			position absolute
			height 3px
			left 0
			top 0
			right 0
			background $colorLink

	// STATES
	.headroom--not-top &__link
	.headroom--not-top &__btn .btn__text
		padding-top 14px
		padding-bottom 14px

	// MEDIA QUERIES
	@media (min-width 1100px)
		&__link
			padding-left 15px
			padding-right 15px
		&__select
			margin-right -5px
		&__btn
			width 270px
			flex-basis 270px

	@media $MQ.xlUp
		padding 0 0 0 25px
		font-size 16px
		&__link
			padding-left 15px
			padding-right 15px
			margin 0 10px
		&__btn
			.btn__text
				font-size 16px

	@media $MQ.xxlUp
		&__link
			padding-left 30px
			padding-right 30px
		&__select
			margin-right -10px
