.m-mobile
	position absolute
	opacity 0
	visibility hidden
	left 15px
	right 15px
	width calc(100% - 30px)
	outline 5000px solid rgba($primary, .2)
	font-size 16px
	z-index 102
	transition opacity $t, visibility $t, transform $t
	&__wrap
		position relative
		background white
		overflow-y auto
		overflow-x hidden
		max-height calc(100vh - 160px)
		height auto
	&__list
		@extend $reset-ul
		border-bottom 1px solid $colorBd
		display flex
		flex-direction column
		width 100%
		flex-wrap wrap
	&__item
		@extend $reset-ul-li
		display flex
		align-items center
		height 50px
		&:not(:first-child)
			border-top 1px solid $colorBd
	&__link
		flex 1 1 auto
		text-decoration none
		height 100%
		display flex
		align-items center
		padding-left 15px
		font-weight 500
	&__item &__toggle
		flex 0 0 45px
		padding-right 20px
		display flex
		align-items center
		justify-content flex-end
		height 100%
		text-align right
		.icon-svg
			left auto
			width 12px
	&__submenu
		display none
	&__others
		background $colorBg
		padding 10px 0
	&__others &__list
		flex-direction row
		border-bottom none
	&__others &__item
		border none
		width 50%
	&__title
		text-transform uppercase
		color $colorLink
		font-size 22px
		margin-bottom 0
		height 50px
		display flex
		justify-content center
		align-items center
		font-weight 500
		border-bottom 1px solid $colorBd
	&__wrap &__back
		position absolute
		top 0
		height 50px
		padding-left 15px
		.icon-svg
			left 0
			top 50%
			width 25px
			transform translateY(-50%)
	.nano-pane
		transform translateX(-5000px)
		transition none

	// STATES
	.headroom--unpinned .header__toggle.is-open &
		opacity 0
		visibility hidden
	.header__toggle.is-open &
		opacity 1
		visibility visible
		.nano-pane
			transform translateX(0px)
	&[data-mobile-submenu-depth='2']
		transform translateX(-100%) translateX(-15px)

	// MODIFICATIONS
	&__wrap--depth-2
		position absolute
		top 0
		width 100%
		left calc(100% + 15px)

	// MEDIA QUERIES
	@media $MQ.mdUp
		font-size 20px
		&__title
		&__back
		&__item
			height 67px
		&__item &__toggle
			flex 0 0 67px
			padding-right 30px
		&__link
			padding-left 30px
		&__toggle
			padding-right 40px
		&__others
			column-count 2
			padding 30px 0 35px
		&__others &__item
			width 50%
			height 50px
		&__others &__list
			width 110%
		&__wrap &__back
			height 67px
			padding-left 30px
			.icon-svg
				width 40px

	@media $MQ.xlUp
		display none
