.m-references
	$s = selector()
	display none
	&__list
		@extend $reset-ul
	&__item
		@extend $reset-ul-li
	@media $MQ.mdUp
		display block
		width 100%
		&__list
			display flex
			justify-content center
			flex-wrap wrap
			margin-left -15px
			margin-bottom -20px
		&__item
			flex 0 1 230px
			margin-left 15px
			margin-bottom 20px
		&__link
			display block
			min-height 70px
			height 100%
			padding 10px 22px
			border 1px solid $colorBd
			position relative
			text-decoration none
			transition background-color $t
			display flex
			flex-direction column
			justify-content center
			&::before
			&::after
				content ''
				position absolute
				top -10px
				left 50%
				transform translateX(-50%)
				border-style solid
				border-width 0 10px 10px 10px
				border-color transparent transparent $colorBd transparent
				opacity 0
				transition opacity $t
			&::after
				top -9px
				border-color transparent transparent white transparent
		&__name
			text-decoration underline
			font-size 18px
			transition color $t
		&__position
			font-size 13px
			color $suplementary
			text-decoration none
			display block

		// STATES
		&__item.is-active
			{$s}
				&__link
					background-color white
					&::before
					&::after
						opacity 1
				&__name
					color black
					text-decoration none
					font-weight 600

		// HOVER
		.no-touchevents
			{$s}
				&__item:hover &__link
					background-color white
				&__item:hover &__name
					color $colorLink
				&__item.is-active:hover &__name
					color black

	@media $MQ.lgUp
		&__item
			flex 0 1 270px
