.m-submenu
	visibility hidden
	opacity 0
	background $white
	position absolute
	top 100%
	left 0
	right 0
	z-index 99
	box-shadow 0 3px 6px 0 rgba($black, .16)
	font-size 14px
	letter-spacing .05em
	text-transform uppercase
	font-weight 500
	transition opacity $t, visibility $t
	overflow-x hidden
	overflow-y auto
	max-height calc(100vh - 300px)
	.row-main
		overflow hidden
	&__wrap
		display flex
	&__list
		@extend $reset-ul
		padding 20px 20px 20px 10px
		display flex
		flex 1 0
		flex-wrap wrap
		margin 0 0 -25px -20px
	&__item
		@extend $reset-ul-li
		text-align center
		border-left 20px solid transparent
		margin-bottom 25px
		width 33.3333%
	&__link
		display block
		text-decoration none
	&__img
		border 1px solid $colorBd
		display block
		margin-bottom 5px
		// position relative
		// padding-top percentage(9/16)
		// img
		// 	width 100%
		// 	height auto

		// 	position absolute
		// 	left 0
		// 	top 50%
		// 	transform translateY(-50%)
	&__side
		background $colorBg
		padding 20px
		width 350px
		text-align left
		position relative
		border-left 1px solid $colorBd
		&::before
			content ''
			position absolute
			left 100%
			top 0
			bottom 0
			width 1000px
			background $colorBg
	&__side-title
		font-weight 400
		text-transform none
		font-size 20px
		color $primary
		margin-bottom 30px
	&__side-list
		@extend $reset-ul
	&__side-item
		@extend $reset-ul-li
		margin-bottom 20px
	&__side-link
		text-decoration none

	// STATES
	.no-touchevents &__side-link:hover
	.no-touchevents &__link:hover
		color $colorLink
		text-decoration underline

	@media $MQ.xlUp
		&__item
			width 20%
			&:last-child
				width 20%

	@media $MQ.xxlUp
		&__list
			margin 0 0 -25px -40px
			padding 30px 60px 30px 30px
		&__item
			border-left 40px solid transparent
		&__side
			padding 35px 50px
			max-width 415px
			width 100%
