.b-borrow
	border 1px solid $colorBd
	margin-top -1px
	padding 20px 20px 5px
	&__wrap
		display flex
		flex-wrap wrap
		margin-left -20px
	&__name
	&__price
	&__info
	&__btn
	&__sold
		margin 0 0 20px 20px
	&__sold
		flex 0 0 100%
	&__name
	&__info
		font-size 14px
	&__name
		color $primary
		.icon-svg
			color $suplementary
			width 17px
	&__price
		font-size 16px
		color $suplementary
		padding-left 27px
		strong
			color $primary
			font-weight bold
	&__btn
		padding-left 20px
		.btn__text
			padding 13px 20px

	// MEDIA QUERIES
	@media $MQ.mdDown
		&__info
			text-align center
		&__btn
			margin-left auto
			margin-right auto

	@media $MQ.mdUp
		padding 30px 40px 10px
		&__name
		&__price
		&__info
		&__btn
			flex-grow 1
			flex-shrink 1
			flex-basis calc(50% - 25px)
			margin-bottom 25px
		&__price
		&__btn
			text-align right
			justify-content flex-end
		&__price
			padding-left 22px
			font-size 16px
		&__name
		&__info
			font-size 16px



