.c-brand-thumbs
	&__list
		@extend $reset-ul
		display flex
		flex-wrap wrap
		margin-left -30px
		margin-bottom -30px
	&__item
		@extend $reset-ul-li
		flex-grow 1
		flex-shrink 1
		flex-basis calc(50% - 30px)
		margin-left 30px
		margin-bottom 30px
	&__link
		display block
	&__img
		max-width 135px
		max-height 40px
		margin 0 auto

	// MEDIA QUERIES
	@media $MQ.smUp
		&__list
			padding 0 10%
		&__item
			flex-basis calc(33.333% - 30px)
	@media $MQ.lgUp
		&__list
			padding 0
		&__item
			flex 1 1 auto
		&__img
			max-width 240px
			max-height 60px
	@media $MQ.xlUp
		&__list
			margin-left -100px
		&__item
			margin-left 100px
