.b-emotions
	padding 15px 20px
	&__content
		font-size 24px
		line-height 1.25
		margin-bottom 32px
	&__link
		font-size 18px
		padding-right 30px

	// MEDIA QUERIES
	@media $MQ.smUp
		padding 15px

	@media $MQ.mdUp
		padding 30px

	@media $MQ.xxlUp
		padding 62px 50px 30px
