.b-empty
	background-color white
	padding 20px 15px 5px
	text-align center
	&__img
		margin 0 0 10px
		img
			width 100%
			height auto
	&__title
		color $primary
	&__annot
		font-size 18px
		a[href^='tel:']
			color black
			text-decoration none

	// HOVERS
	.no-touchevents &__annot a[href^='tel:']:hover
		color $colorHover

	@media $MQ.mdDown
		&__img
			max-width 280px
			margin-left auto
			margin-right auto

	@media $MQ.mdUp
		display flex
		align-items center
		text-align center
		padding 35px 25px 25px
		&__title
			font-size 32px
			margin 0 0 20px
		&__img
			flex 0 1 350px
			margin 0 20px 0 0
		&__side
			flex 1 1 auto

	@media $MQ.xlUp
		padding 85px 75px 65px


