.b-filters
	background-color white
	font-size 17px
	&__filters
		padding 12px 20px
		border-bottom 1px solid $colorBd
	&__group
		display flex
		margin-bottom 10px
		margin-left -15px
	&__title
		margin-left 15px
		margin-bottom 0
		padding-top 6px
		min-width 80px
	&__list
		@extend $reset-ul
		display flex
		flex-wrap wrap
		margin-bottom -10px
	&__item
		@extend $reset-ul-li
		margin-left 15px
		margin-bottom 10px
		background-color $colorBd
	&__remove
		display block
		padding 6px 38px 6px 12px
		text-decoration underline
		cursor pointer
		.icon-svg
			width 23px
			right 8px
	&__remove-all
		display flex
		align-items center
		flex 1 1 auto
		margin-bottom 0
		padding 12px 20px
		min-width 230px
		.item-icon
			text-decoration underline
			padding-left 30px
		.icon-svg
			width 23px

	@media $MQ.mdUp
		&__wrap
			display flex
		&__filters
			flex 0 0 auto
			padding 12px 40px 2px 20px
			max-width calc(100% - 230px)
			border-bottom none
			border-right 1px solid $colorBd
		&__remove-all
			padding 12px 20px 12px 35px
