.b-free-lecture
	border 1px solid $colorBd
	margin-top -1px
	&__inner
		padding 20px 20px 5px
		display flex
		flex-wrap wrap
		flex-direction column
		width 100%
	&__left
		flex 1 1 auto
	&__right
		text-align center
	&__title
		font-weight 600
		font-size 22px
		margin-bottom 15px
	&__annot
		font-size 14px
		margin-bottom 20px
	&__link
		font-size 16px
		padding-right 30px
		.icon-svg
			width 22px
	&__table
		border 0
		font-size 14px
		strong
			display block
		tr:nth-child(odd)
			background-color transparent
		td
			padding 0
			border 0
			width 35%

	// HOVERS
	.no-touchevents &:hover &__link
	.no-touchevents &:hover &__link .icon-svg
		color $colorHover

	// MEDIA QUERIES
	@media $MQ.mdDown
		&__title
			text-align center
		&__annot
			text-align center

	@media $MQ.mdUp
		&__inner
			flex-wrap nowrap
			padding 20px 40px 15px
			flex-direction row
			margin-left -50px
			width calc(100% + 50px)
		&__left
			margin-left 50px
		&__right
			margin-left 50px
			flex 0 0 auto
			justify-content flex-end
			align-self flex-end
			text-align right
		&__table
			max-width 100%
			width auto
			margin-left -10px
		&__table td
			width 120px
			padding-left 10px
		&__link
			font-size 18px
	@media $MQ.lgUp
		&__inner
			flex-direction column
	@media $MQ.xlUp
		&__inner
			flex-direction row
