.b-gift
	border 1px solid $colorBd
	position relative
	&__inner
		padding 20px
		display flex
		flex-direction column
		width 100%
		align-items center
	&__img
		width 60px
		height 60px
		border 1px solid $colorBd
		.img__holder
			padding 5px
	&__side
		margin-bottom 0
		font-size 18px
		line-height 21px
		text-align center
	&__label
		font-size 14px
		display block
	&__link::before
		content ''
		position absolute
		left 0
		top 0
		width 100%
		height 100%

	// MEDIA QUERIES
	@media $MQ.mdUp
		&__inner
			padding 30px 40px
			margin-left -20px
			flex-direction row
		&__img
			margin-bottom 0
			margin-left 20px
		&__side
			margin-left 20px
			text-align left
