.b-new-product
	background-size cover
	background-position center center
	background-color $primary
	display flex
	&__link
		width 100%
		min-height 270px
		text-decoration none
		padding 20px
		display flex
		flex-direction column
		justify-content center
	&__label
		text-transform uppercase
		color $secondary
		font-size 22px
		margin-bottom 5px
		font-weight 600
	&__name
		color white
		font-size 32px
		margin-top 0
		font-weight 600

	// HOVERS
	.no-touchevets &&:hover &__label
	.no-touchevets &&:hover &__name

	// MODIFICATIONS

	&--box
		min-height 500px
		padding 0 40px 10px
	&--box &__label
		margin-top auto

	@media $MQ.mdUp
		&__link
			padding 20px

	@media $MQ.lgUp
		&__link
			padding 20px 140px
