.b-offer
	background-color $colorBg
	position relative
	color $suplementary
	strong
		color $primary
	&::after
		content ''
		position absolute
		left 50%
		transform translateX(-50%)
		bottom -8px
		border-style solid
		border-width 8px 10px 0 10px
		border-color $colorBg transparent transparent transparent
	&__inner
		padding 15px
		font-size 14px
		margin-bottom 0
		text-align center
	&__time
		display block
		margin 5px 5px 5px -5px
		strong
			margin 0 5px 0 10px

	// MEDIA QUERIES

	@media $MQ.mdUp
		font-size 16px
		&::after
			left 50px
			transform translateX(0%)
		&__time
			display inline
			margin 5px
			strong
				margin 0 5px 0 30px
			strong:first-child
				margin-left 0
		&__inner
			padding 18px 30px
			text-align left
			margin-left -35px
			font-size 16px
			> *
				margin-left 35px


