.b-optional
	border 1px solid $colorBd
	margin-top -1px
	padding 20px
	display flex
	flex-direction column
	justify-content flex-end
	width 100%
	font-size 16px
	min-height 78px
	&__left
		flex 1 1 auto
		margin-bottom 0
		&--price.is-hidden
			display none
	&__right
		flex 0 0 auto
		margin-left auto
		margin-bottom 0
		text-align center
	&__link
		font-size 16px
		text-decoration underline
		font-family $font
		color $colorLink
		border none
		padding 0
		transition color $t
	&__img
		width 50px
		max-width 50px
		height 50px

	// MODIFICATIOSN
	&__right--x-15
		margin-left -15px
		> *
			margin-left 15px

	&__right--x-30
		margin-left -30px
		> *
			margin-left 30px

	// HOVERS
	.no-touchevents &:hover &__link
		color $colorHover

	// MEDIA QUERIES
	@media $MQ.mdUp
		padding 13px 40px
		flex-direction row
		align-items center
		&__right
			text-align left


