.b-package
	&__list
		@extend $reset-ul
		margin-bottom -5px
	&__item
		@extend $reset-ul-li
		margin-bottom 5px
	&__inner
		display flex
		align-items center
		margin-left -10px
		text-decoration none
		color $primary
		> *
			margin-left 10px
	&__polygon
		flex 0 0 30px
		min-height 27px
	&__img
		flex 0 0 60px
		&::before
			padding-top 80%
	&__name
		font-size 14px

	// HOVERS
	.no-touchevents a&__inner:hover
		color $colorHover

	// MEDIA QUERIES
	@media $MQ.mdDown
		&__inner
			align-items flex-start
		&__img
			transform translateY(-25%)
	@media $MQ.mdUp
		padding 0 60px
		&__name
			font-size 18px
		&__list
			margin-bottom -10px
		&__item
			margin-bottom 10px
	@media $MQ.lgUp
		border 1px solid $colorBd
		padding 55px 70px 70px
		&__list
			column-count 2
		&__item
			break-inside avoid-column
