.b-parameters
	&__columns
		margin-bottom 30px
	&__dl
		border 1px solid #D9E9F3
		margin 0 0 -1px
		padding 14px 0
		font-size 13px
		align-items flex-start
		background white
		dt
			max-width calc(45% - 16px)
			flex-basis calc(45% - 16px)
			margin-left 15px
			line-height 1.4
		dd
			max-width calc(55% - 30px)
			flex-basis calc(55% - 30px)
			margin 0 15px
			line-height 1.4
	&__more
		text-align center
		position relative
		&::before
			content ''
			position absolute
			top 50%
			left 0
			width 100%
			height 1px
			background-color $colorBd
	&__link
		padding 0 60px 0 30px
		background-color white
		font-size 18px
		.icon-svg
			right 30px
			width 22px
			transition transform $t
	&__info
		color #C3DBEB
	&__message
		margin 15px 0 0 0

	// MODIFICATIONS
	&__dl--hidden
	&__link--less
	&__link--more
		display none

	// STATES
	&__dl--hidden.is-open
		display flex
	&__link .icon-svg.is-open
		transform rotate(180deg) translateY(50%)
	&__link--less.is-open
	&__link--more.is-open
		display inline

	// MEDIA QUERIES
	@media $MQ.mdUp
		&__columns
			column-count 2
			column-gap 15px
		&__dl
			break-inside avoid-column
			min-height 56px

	@media $MQ.lgUp
		dt
			max-width calc(35% - 26px)
			flex-basis calc(35% - 26px)
			margin-left 25px
			font-size 17px
		dd
			max-width calc(65% - 50px)
			flex-basis calc(65% - 50px)
			margin 0 25px
			font-size 17px
		&__message
			margin 15px 0 0 -10px

