.b-photo-samples
	&__list
		@extend $reset-ul
		display flex
		flex-wrap wrap
	&__item
		@extend $reset-ul-li
		flex 1 1 auto
		min-width (100/2)%
	&__link
		position relative
		display block
	&__img
		height 240px
		&::before
			display none
	&__wrapper
		position absolute
		left 0
		bottom 14px
		max-width 134px
		padding 8px 14px
		font-size 13px
		line-height 15px
		background-color $primary
	&__title
		color $lightBlue
	&__description
		display block
		text-decoration underline
		color $white

	// HOVERS
	.no-touchevents &__item:hover &__description
		text-decoration none

	@media $MQ.mdUp
		&__list
			max-width 100%
			flex-wrap nowrap
		&__item
			min-width 0
		&__img
			height 318px
