.f-add-to-cart + .b-product-help
	margin-top -1px
.b-product-help
	display flex
	flex-wrap wrap
	&__left
		flex 1 1 auto
		border 1px solid $colorBd
		display flex
		flex-direction column
		width 100%
		padding 20px 15px
	&__img
		width 155px
		height 132px
		margin-bottom 0
		margin 0 auto
	&__title
		font-weight 600
		font-size 25px
		margin-bottom 5px
		color $colorHover
	&__name
		font-weight 500
		line-height 24px
		margin-bottom 0
	&__position
		font-size 15px
		color $suplementary
		margin-bottom 10px
	&__contact
		font-size 18px
		margin-bottom 10px
		.icon-svg
			width 18px
	&__phone
		display block
		strong
			color $primary
			transition color $t
		&--small
			font-size 13px
			color $suplementary
			transition color $t
	&__mail
		display block
		text-decoration underline
	&__right
		flex 1 1 100%
		background-color $colorBg
		border 1px solid $colorBd
		border-width 0 1px 1px
		padding 20px 30px 30px
	&__list-title
		font-size 22px
		margin-bottom 25px
	&__list
		@extend $reset-ul
		margin-bottom -5px
	&__item
		@extend $reset-ul-li
		margin-bottom 8px
		font-size 18px

	// MODIFICATIONS
	&--side &__left
		border-width 1px 1px 0

	// HOVERS
	.no-touchevents &__phone:hover &__phone--small
	.no-touchevents &__phone:hover strong
		color $colorHover

	// MEDIA QUERIES
	@media $MQ.mdDown
		&__content
			text-align center
		&__contact
			text-align left
			margin 0 auto 10px
			display inline-block

	@media $MQ.mdUp
		flex-wrap nowrap
		&__left
			flex-direction row
			padding 20px 30px 20px 0
			> *
				margin-left 15px

			// MODIFICATIONS
			&--side &__left
				border-width 1px 0 1px 1px
		&__img
			flex 0 0 155px
			width auto
			margin-right 0
		&__right
			border-width 1px 1px 1px 0
			flex 0 1 315px
			padding 20px 30px
		&__list-title
			font-size 25px
			margin-bottom 15px
		&__item
			margin-bottom 5px

	@media $MQ.lgUp
		flex-wrap wrap
		&__left
			> *
				margin-left 25px
		&__right
			border-width 0 1px 1px
			margin-top -1px
			flex 1 0 auto

	@media $MQ.xxlUp
		flex-wrap nowrap
		&__right
			border-width 1px 1px 1px 0
			margin-top 0
			flex 0 0 315px

