.b-product-info
	padding 30px 0 0
	font-size 18px
	&__list
		display flex
		justify-content center
		align-items center
		flex-wrap wrap
		margin-bottom 8px
	&__item--id dt
		flex-basis 120px
		max-width 120px
	&__innerlist
		display flex
		align-items center
		flex-wrap wrap
		justify-content center
		flex 1 1 100%
		margin-left -20px
		dt
		dd
			font-weight normal
			line-height 28px
			font-size 18px
		dd
			white-space nowrap
	&__brand
		display flex
		flex 1 1 100%
		justify-content center
		align-items center
		margin-left -30px
		> *
			margin-left 30px
	&__img
		width 90px
	&__compare
		display flex
		flex-direction column
		width 100%
		align-items center
		margin-left -20px
		> *
			margin-left 20px
		.item-icon
			padding-left 42px
		.icon-svg
			width 32px
	&__message
		font-size 14px

	// MEDIA QUERIES
	@media $MQ.mdDown
		&__list
			flex-direction column
		&__item--id dt
			white-space nowrap

		&__item--id &__innerlist
			flex-wrap nowrap
		&__item--id &__innerlist--2
			flex-wrap wrap
	@media $MQ.mdUp
		&__list
			justify-content space-between
		&__innerlist
			flex 0 0 auto
			justify-content space-between
			flex-wrap nowrap
			flex 0 0 auto
			margin-left -20px
			margin 0 0 0 -20px
		&__innerlist--2
			flex-wrap wrap
		&__compare
			flex-direction row
		&__brand
			justify-content flex-start
			margin-bottom 0
			margin-left -35px
			> *
				margin-left 35px
		&__message
			font-size 18px
	@media $MQ.xlUp
		&__list
			flex-wrap nowrap
		padding 0 40px

