.b-product-gallery
	&__main
		position relative
	&__flags
		margin-bottom -2px
		font-size 12px
	&__flag
		display block
		margin-bottom 2px
		.flag
			font-size 12px
			padding 3px 15px 3px 10px
	&__discount
		position absolute
		width 62px
		height 54px
		line-height 54px
		top 0
		right 0
		font-weight 600
		color white
		z-index 1
		text-align center
		font-size 17px
		&::after
			content ''
			position absolute
			top 50%
			left 0
			transform translateY(-50%)
			z-index -1
			width 62px
			height 54px
			bgPolygon $red
	&__list
		display flex
		overflow hidden
	&__item
		flex 0 0 100%
	&__thumbs
		display none
	&__prev
	&__next
		position absolute
		top 50%
		padding 10px
		outline none
		.icon-svg
			width 10px
			color $colorLink
	&__prev
		left -10px
	&__next
		right -10px

	// MODIFICATIONS
	&__thumbitem--more &__thumblink
		font-size 18px
		display flex
		flex-direction column
		align-items center
		justify-content center
		text-align center
		width 100%
		height 100%
		text-decoration none
		.icon-svg
			width 24px
			margin-bottom 8px

	// STATES
	&__prev.slick-disabled
	&__next.slick-disabled
		pointer-events none
		opacity .6
	.no-touchevents &__thumblink:hover
		transition color $t
	.no-touchevents &__thumbitem:not(&__thumbitem--more) &__thumblink:hover
	&__thumbitem.is-active &__thumblink
		border-color $colorBd
	.no-js &__list
		overflow-x scroll

	// MEDIA QUERIES
	@media $MQ.mdDown
		&__item
			padding 0 0 30px
		&__list
			width calc(100% - 40px)
			margin 0 auto
	@media $MQ.mdUp
		&__flags
			position absolute
			top 0
			left 0
			z-index 1
			margin-bottom -2px
		&__flag .flag
			margin-bottom 2px
			font-size 16px
			padding 4px 15px 4px 10px
		&__tools
			display none
		&__discount
			width 100px
			height 85px
			line-height 85px
			font-size 25px
			&::after
				width 100px
				height 85px
		&__thumbs
			display block
		&__discount
			top 45px
			right 40px
		&__thumblist
			@extend $reset-ul
			display flex
			margin-left -20px
		&__thumbitem
			@extend $reset-ul-li
			flex-grow 0
			flex-shrink 0
			flex-basis calc(100%/6 - 20px)
			margin-left 20px
			margin-bottom 25px
			img
				max-height 75px
		&__thumblink
			border 1px solid transparent
			transition border-color $t
	@media $MQ.lgUp
		&__thumbitem--more &__thumblink
			font-size 15px
	@media $MQ.xlUp
		&__flags
			top 45px
			font-size 20px
		&__thumbitem--more &__thumblink
			font-size 18px
