.b-product-reference
	background-color $primary
	position relative
	color white
	padding-top 30px
	&__title
		color white
		font-weight 500
		margin 0 15px 40px
	&__img
		position absolute
		bottom 0
		right 20px
		width 130px
		height auto
	&__side
		padding 0 15px 20px
	&__quote
		text-align inherit
		font-size inherit
		color $colorBd
		font-style oblique
		line-height 24px
		margin-bottom 15px

		overflow hidden
		&::before
			content none
	&__author strong
		font-weight 500
		font-size 20px
	&__author--small
		font-size 15px
		color $colorBd
		margin-top -5px
		display block
	&__link
		margin-bottom 40px
		.item-icon
			padding-right 32px
			color white
		.icon-svg
			color white

	// MEDIA QUERIES
	@media $MQ.mdDown
		&__title
			text-align center
			line-height 32px
		&__author
			max-width 50%

	@media $MQ.mdUp
		min-height 430px
		padding-top 55px
		&__title
			text-align center
		&__side
			padding 0 75px 60px 290px
		&__img
			left 35px
			width 230px
		&__quote
			margin-bottom 25px
		&__link
			margin-bottom 0

	@media $MQ.lgDown
		margin 0 -15px
		&__quote
			font-size 16px
			line-height 20px

	@media $MQ.lgUp
		min-height 470px
		&__img
			width 270px
			left 60px
		&__title
			margin-left 390px
			margin-bottom 80px
			text-align left
		&__side
			padding 0 100px 50px 390px
		&__quote
			margin-bottom 30px



