.b-properties
	&__list
		@extend $reset-ul
		display flex
		flex-wrap wrap
		align-items flex-end
		margin-left -35px
		margin-bottom -20px
	&__item
		@extend $reset-ul-li
		margin-left 35px
		margin-bottom 20px
		flex-grow 1
		flex-shrink 1
		flex-basis calc(50% - 35px)
		.icon-svg
			flex 0 0 50px
			width 50px
			color $colorHover
			margin-bottom 5px
		> *
			display block
	&__name
		display block
		font-size 14px
		line-height 20px
	&__value
		display block
		font-size 18px

	// MEDIA QUERIES
	@media $MQ.mdUp
		&__item
			flex-basis calc(33.333% - 35px)
			.icon-svg
				margin 0
		&__value
			font-size 20px
			line-height (30/26)

	@media $MQ.lgUp
		&__item
			flex-basis calc(50% - 35px)
			display flex
		&__side
			margin-left 10px

	@media $MQ.xlUp
		&&
			margin-bottom 40px
		&__item
			flex-grow 0
			flex-shrink 0
			flex-basis calc(33.333% - 35px)

