.b-rental
	min-height 710px
	background-position center right calc( 50% - 280px)
	background-size 850px auto
	background-repeat no-repeat
	background-color #0C2D43
	overflow hidden
	dl
	dd
	dt
	a
		color white
	&__title
		text-align center
		font-size 28px
		color white
		margin-bottom 20px
	&__annot
		margin-bottom 40px
		color white
	// &__annot
	// &__list
	// 	max-width 500px
	&__annot
		font-size 16px
	&__bottom
		display flex
		flex-direction column-reverse
		// width 100%
		color white
		font-size 16px
		margin-bottom -30px
		> *
			margin-bottom 30px
	&__contact
		a[href^='tel:']
			display block
			font-size 13px
			color $lightBlue
			.icon-svg
				width 16px
				color $secondary
			strong
				font-size 18px
				color white

	// HOVERS
	.no-touchevents &__contact:hover strong
		color $colorHover

	// MEDIA QUERIES
	@media $MQ.mdDown
		&__annot
		&__contact
		dl
			padding 0 8px
		&__contact .item-icon
			padding-left 27px
		&__btn
			width 100%

	@media $MQ.mdUp
		&__title
			text-align left
			font-size 40px
			margin-bottom 40px
		&__annot
			font-size 20px
		&__bottom
			flex-direction row
			align-items center
			margin-left -35px
			> *
				margin-left 35px
		dl
			margin-bottom 40px

	@media $MQ.lgUp
		&__inner
			padding-right calc(50% + 15px)
			position relative
			> *
				z-index 2
				position relative
		&__inner &__polygons
			z-index 1
		&__polygons
			position absolute
			right 0
			top 0
			width calc(50% - 15px)
			z-index 10

	@media $MQ.xlUp
		&__title
			font-size 32px
			margin-bottom 30px
		&__annot
		// &__contact
		dl
			padding 0
		&__polygons
			position absolute
			top calc(50% + 20px)
			right 6%
			transform translateY(-50%)
		&__inner
			max-width 520px
			padding-right 0
			position static
		&__polygons
			width auto

	@media screen and (min-width: 1690px)
		&__polygons
			right 11%
