.b-shipping-options
	&__title
		margin-bottom 40px
		font-size 20px
		text-align center
	&__list
		@extend $reset-ul
		margin-bottom 35px
	&__item
		@extend $reset-ul-li
		display flex
		flex-wrap wrap
		align-items center
		margin-left -15px
		margin-bottom 10px
		& > *
			margin-left 15px
	&__img
		flex 0 0 60px
		max-width 60px
		max-height 30px
		transform translateY(-4px)
	&__content
		flex-grow 0
		flex-shrink 0
		flex-basis calc(100% - 90px)
	&__annot
		display block
		font-size 14px
		padding-top 6px
		margin-bottom 5px
	&__date
		flex 1 1 50%
		margin-left 90px
		color $green
	&__price
		flex 0 0 65px
		margin-left 90px
	&__shipping
		border-top 1px solid $colorBd
		margin 0 -24px -24px
		min-height 90px
		display flex
		align-items center
		justify-content center
		padding 0 20px
		.item-icon
			color $primary
			padding-left 45px
		.icon-svg
			width 30px

	// MEDIA QUERIES
	@media $MQ.smUp
		&__price
			text-align right
		&__date
			flex 1 0 auto
	@media $MQ.mdUp
		&__item
			align-items flex-start
			flex-wrap nowrap
		&__content
			flex 0 1 50%
		&__date
			flex 0 1 150px
			margin-left 15px
		&__price
			margin-left 15px

