.b-tip-bnr
	display flex
	flex-wrap wrap
	background-color white
	min-height 390px
	strong
		font-weight 500
	&__left
		position relative
		padding 25px 15px 180px
		flex 1 1 100%
	&__img
		position absolute
		left 50%
		bottom 0
		transform translateX(-50%)
		max-width 145px
	&__title
		margin-top 0
		margin-bottom 20px
	&__annot
		margin-bottom 15px
	&__center
	&__right
		flex 1 1 50%
		margin-bottom 0

	@media $MQ.mdUp
		&__annot
			margin-bottom 25px

	@media $MQ.lgUp
		&__left
			padding 45px 60px 45px 390px
		&__img
			max-width none
			left 60px
			bottom 0
			transform translateX(0)
			img
				width 100%
				height auto

	@media $MQ.xlUp
		flex-wrap nowrap
		&__left
			flex 1 1 60%
		&__center
		&__right
			flex 1 1 20%

