.b-variants
	&__title
		font-size 14px
		margin-bottom 10px
	&__list
		@extend $reset-ul
		display flex
		flex-wrap wrap
		margin-left -10px
		margin-bottom -10px
	&__item
		@extend $reset-ul-li
		margin-left 10px
		margin-bottom 10px
	&__link
		display block
		width 70px
		height 70px
		border 1px solid $colorBd
		transition border-color $t, box-shadow $t
		.img__holder
			padding 5px
		&::before
			bottom calc(100% + 5px)
		&::after
			bottom calc(100% + 12px)


	// STATES
	// HOVERS
	&__link.is-active
	.no-touchevents &__link:hover
		border-color $green
		box-shadow 0 3px 6px rgba(#000000, .16)

	// MEDIA QUERIES
	@media $MQ.mdDown
		text-align center
		margin-bottom 20px
		&__list
			justify-content center



