.b-warranty
	font-size 16px
	width 100%
	strong
		font-weight 500
	.inp__item
		font-size 15px
	&__table
		margin 0
		border 0
		font-size 15px
		tr:nth-child(odd)
			background transparent
		td
			padding 0 0 10px
			border 0
		td:last-child
			text-align right
			padding-top 2px
			padding-left 20px
			vertical-align top
		strong
			font-weight 600
	&__info
		.icon-svg
			margin -3px 0 0 2px
			width 22px

	// STATES
	.inp__item input:checked + span
		font-weight 400

	// HOVERS
	.no-touchevents &__label:hover
		color $colorHover
		// color $colorLink

	// MEDIA QUERIES
	@media $MQ.mdDown
		&__name
			max-width 80%
			margin 0 auto 20px
			text-align center
		&__table td
			vertical-align top
		&__table
		&__table label
			font-size 14px
