.accordion
	$s = selector()
	border-top 1px solid $colorBd
	&__list
		@extend $reset-ul
	&__item
		@extend $reset-ul-li
		border-bottom 1px solid $colorBd
	&__title
		margin-bottom 0
	&__link
		padding 20px 20px 20px 0
		display block
		position relative
		text-decoration none
		&:after
			content ''
			position absolute
			top 50%
			right 0
			transform translate3d(0, -50%, 0)
			width 0
			height 0
			border-style solid
			border-width 6px 4px 0 4px
			border-color rgba($dark, .2) transparent transparent transparent
		&.is-active
			&:after
				border-width 0 4px 6px 4px
				border-color transparent transparent $dark transparent
		.no-touchevents &:hover
			&:after
				border-color $light transparent transparent transparent

	@media $MQ.mdMin
		&__link
			&:after
				border-width 8px 6px 0 6px

			&.is-active
				&:after
					border-width 0 6px 8px 6px
