.alert
	background $green
	font-size 14px
	line-height 16px
	color $white
	text-align center
	&__wrap
		padding 5px 25px 5px 0
		position relative
		&:before
			content ''
			position absolute
			right 105px
			bottom -9px
			border-style solid
			border-width 10px 9px 0 9px
			border-color $green transparent transparent transparent
			z-index 100
	&__body
		margin-bottom 0
		display inline-block
		vertical-align middle
		padding-left 25px
		position relative
	&__special
		color #6F9F24
		font-size 20px
		line-height 1
		font-weight bold
		position absolute
		left 0
		top 50%
		transform translateY(-50%)
	&__close
		color $white
		padding 10px
		line-height 10px
		position absolute
		right -10px
		top 50%
		&&
			margin-top -16px
		.icon-svg
			transition transform $t
	// STATES
	.no-touchevents &__close:hover
		color $white
		.icon-svg
			transform rotate(90deg)

	// MEDIA QUERIES
	@media (min-width 375px)
		&__wrap:before
			right 114px
	@media $MQ.smUp
		&__wrap::before
			right 122px
	@media $MQ.mdUp
		font-size 18px
		line-height 20px
		&__wrap
			padding 10px 30px 10px
			&::before
				right 185px
		&__body
			padding-left 40px
		&__special
			font-size 38px
	@media $MQ.lgUp
		&__wrap::before
			right 168px
	@media (min-width 1100px)
		&__wrap::before
			right 194px

