.avatar
	background $colorBg
	width 50px
	height 50px
	line-height 50px
	font-size 0px
	text-align center
	overflow hidden
	position relative
	border-radius 60px
	img
		width 100%
		height auto
		display block

	@media $MQ.smMin
		width 70px
		height 70px
		line-height 70px

	@media $MQ.lgMin

		&--lg
			width 90px
			height 90px
			line-height 90px
		&--xl
			width 110px
			height 110px
			line-height 110px
