.card
	font-size 16px
	line-height 1
	text-align left
	position relative
	padding-left 65px
	margin-bottom 0
	&__img
		font-size 0
		position absolute
		left 0
		top 50%
		transform translateY(-50%)
		width 55px
		height 48px
	&__name
		display block
		margin-bottom 2px
		color $primary
	&__note
		font-size 13px
		font-weight 400
		color $blue
		letter-spacing normal
