.circle
	position relative
	size 30px
	margin 0
	padding 0
	display block
	background none
	border 2px solid $colorBd
	border-radius 50px
	transition border $t, color $t
	&.is-loading
		&:before
			opacity 1
			animation fancybox-rotate .8s infinite linear
		.icon-svg
			opacity 0
	&:before
		content ''
		position absolute
		left 50%
		top 50%
		border 2px solid $primary
		border-color transparent $primary $primary
		size 16px
		border-radius 25px
		margin -8px 0 0 -8px
		opacity 0
		transition opacity $t
		pointer-events none
	.icon-svg
		transition opacity $t
		&.icon-svg
			position absolute
			top 50%
			transform translate(-50%, -50%)
			left 50%
			max-width 20px
		&--heart
			width 12px
			&.icon-svg
				transform translate(-50%, -45%)


	.no-touchevents a:hover &
	.no-touchevents &:hover
		border-color $dark
		color $dark

	.no-touchevents .bg-dark a:hover &
	.no-touchevents .bg-dark &:hover
		border-color $white
		color $white

	&--no-border
		color $dark
		border-color transparent
		.no-touchevents a:hover &
		.no-touchevents &:hover
			color $dark
			border-color $colorBd

	&.is-highlight
	&--highlight
		border-color $primary

	&.is-disable
	&--disable
		pointer-events none
		background $colorBg
		color $light

	@media $MQ.mdMin
		&--lg
			size 36px
			.icon-svg
				width 14px
				&--trash
					width 12px
				&--plus
				&--cross
					width 10px
				&--chevron-down
					border-top 2px solid transparent
				&--chevron-up
					border-bottom 2px solid transparent
				&--chevron-left
					border-right 2px solid transparent
				&--chevron-right
					border-left 2px solid transparent
		&--xl
			size 48px
			.icon-svg
				width 12px

