.inp-custom-select
	position relative
	display block
	&__select
		@extend $inp-text
		text-decoration none
		padding 12px 40px 12px 15px
		background white
		border 1px solid $colorBd
		border-width 1px 0
		&:focus
			border-color #C5CFDB
			box-shadow 0 0 5px 0 rgba(87, 99, 113, .1)
		.inp-item
			border 0
			margin -12px -16px -11px
			.no-touchevents &:hover
				background-color $colorWhite
				color $colorText
			.no-touchevents &:hover
				.inp-item__tool
					border-color $colorBd
	&__select-wrap
		color $colorText
		font-size 22px
	.inp-icon__icon
		color $colorBlue
		.icon-svg
			transition transform $t
			width 15px
	&__wrapper
		position absolute
		top 100%
		left 0
		right 0
		margin-top -1px
		visibility hidden
		opacity 0
		max-height 230px
		overflow-y scroll
		z-index 999
		transition opacity $t, visibility $t
		border-top 1px solid $colorBd
		border-bottom 1px solid $colorBd
		> :last-child
			border-bottom 0
	&__item
		padding 12px 40px 12px 15px
		background-color white
		transition background-color $t
		font-size 22px
		cursor pointer
		position relative
		&.inp-item
			display block
		.inp-item__inp
			position absolute
			left -5000px
	&__link
		text-decoration none
		color $color
		&::before
			content ''
			position absolute
			top 0
			left 0
			width 100%
			height 100%
			z-index 1
	.inp-item__tool
		top 50%
		left 13px
		transform translateY(-50%)
		border-width 2px
		&:after
			top 4px
			left 2px

	// STATES
	&.is-open &__select
		border-color #C5CFDB
		border-bottom-color $colorWhite
		border-radius $borderRadius $borderRadius 0 0
		box-shadow 0 0 5px 0 rgba(87, 99, 113, .1)
	&.is-open &__wrapper
		opacity 1
		visibility visible
		border-color #C5CFDB
		border-top-color $colorBd
	&.is-open .icon-svg
		transform rotate(180deg) translateY(50%)
	&__item.is-active
		background-color $colorBg

	// HOVERS
	.no-touchevents &:not(.is-open):hover &__select
		border-color #C5CFDB
		box-shadow 0 0 5px 0 rgba(87, 99, 113, .1)
	.no-touchevents &__item:hover
		background-color $colorBg
		color $colorBlue
	.no-touchevents &__item:hover .inp-item__tool
		border-color $colorBlue
