.date
	text-align center
	display inline-block
	min-width 70px
	margin-bottom 0
	&__day
		color white
		font-size 40px
		display block
	&__month
	&__year
		display block
		color white
		font-size 15px
		line-height 16px
