@import '../../../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.css';

.fancybox-slide
	padding 0
	&--iframe
		padding 15px
.fancybox-slide--html .fancybox-close-small
.fancybox-close-small
	position absolute
	opacity 1
	top 15px
	right 15px
	width 30px
	height 26px
	padding 0
	margin 0
	border 0
	border-radius 0
	z-index 10
	cursor pointer
	transform translate(8px, -50%)
	transition background-color $t, background-image $t
	bgPolygon $colorLink
	svg
		display none
	.fancybox-slide--iframe &
		top 0
		right 0
	&::before
		content ''
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		opacity 0
		visibility hidden
		bgPolygon $colorHover
		transition opacity $t, visibility $t
	&::after
		content ''
		background-image url($svgClose)
		background-size 10px 10px
		background-repeat no-repeat
		background-position center center
		position absolute
		top 0
		right 0
		width 30px
		height 26px
		color white
		font-weight 300
		text-align center
		z-index 2
	&:focus
		outline none

.fancybox-iframe
	max-width 500px
	// width auto

.fancybox-slide--iframe .fancybox-content
	overflow auto


.no-touchevents .fancybox-close-small:hover::before
	opacity 1
	visibility visible
	// bgPolygon $colorHover

/* Prebasket backrounds */
.fancybox-inner-bg
	margin 0 auto
	padding 24px
	&--white
		background white
	&--blue
		background $colorBg
	&--no-padding
		padding 0
.fancybox-content
	margin 0 -15px
	padding 15px
	background transparent
	overflow visible

@media $MQ.smDown
	.fancybox-content
		// max-width 320px
		// max-width 290px
		overflow scroll

.fancybox-is-open .fancybox-bg
	opacity .2

// // .fancybox-active.compensate-for-scrollbar
// // .fancybox-active .compensate-for-scrollbar
// // 		margin-right 15px !important
// body.fancybox-active
// 	overflow hidden

// body.fancybox-iosfix
// 	position fixed
// 	left 0
// 	right 0

// .fancybox-is-hidden
// 	position absolute
// 	top -9999px
// 	left -9999px
// 	visibility hidden

// .fancybox-container
// 	position fixed
// 	top 0
// 	left 0
// 	width 100%
// 	height 100%
// 	z-index 99992
// 	backface-visibility hidden
// 	transform translateZ(0)

// .fancybox-outer,
// .fancybox-inner,
// .fancybox-bg,
// .fancybox-stage
// 	position absolute
// 	top 0
// 	right 0
// 	bottom 0
// 	left 0

// .fancybox-outer
// 	overflow-y auto

// .fancybox-bg
// 	background $primary
// 	opacity 0
// 	transition-duration inherit
// 	transition-property opacity
// 	transition-timing-function cubic-bezier(.47, 0, .74, .71)

// .fancybox-infobar,
// .fancybox-toolbar,
// .fancybox-caption-wrap
// 	position absolute
// 	direction ltr
// 	z-index 99997
// 	opacity 0
// 	visibility hidden
// 	transition opacity .25s, visibility 0s linear .25s
// 	box-sizing border-box

// .fancybox-show-infobar .fancybox-infobar,
// .fancybox-show-toolbar .fancybox-toolbar,
// .fancybox-show-caption .fancybox-caption-wrap
// 	opacity 1
// 	visibility visible
// 	transition opacity .25s, visibility 0s

// .fancybox-infobar
// 	top 0
// 	left 0
// 	font-size 13px
// 	padding 0 10px
// 	height 44px
// 	min-width 44px
// 	line-height 44px
// 	color #ccc
// 	text-align center
// 	pointer-events none
// 	user-select none
// 	mix-blend-mode exclusion
// 	.fancybox-page &
// 		display none

// .fancybox-toolbar
// 	top 0
// 	right 0
// 	margin 0
// 	padding 0

// .fancybox-stage
// 	overflow hidden
// 	direction ltr
// 	z-index 99994

// .fancybox-is-closing .fancybox-stage
// 	overflow visible

// .fancybox-slide
// 	position absolute
// 	top 0
// 	left 0
// 	width 100%
// 	height 100%
// 	margin 0
// 	padding 0
// 	overflow auto
// 	outline none
// 	white-space normal
// 	box-sizing border-box
// 	text-align center
// 	z-index 99994
// 	display none
// 	backface-visibility hidden
// 	transition-property transform, opacity

// .fancybox-slide::before
// 	content ''
// 	display inline-block
// 	vertical-align middle
// 	height 100%
// 	width 0

// .fancybox-is-sliding .fancybox-slide,
// .fancybox-slide--previous,
// .fancybox-slide--current,
// .fancybox-slide--next
// 	display block

// .fancybox-slide--image
// 	overflow visible

// .fancybox-slide--image::before
// 	display none

// .fancybox-slide--video .fancybox-content,
// .fancybox-slide--video iframe
// 	background #000

// .fancybox-slide--map .fancybox-content,
// .fancybox-slide--map iframe
// 	background #E5E3DF

// .fancybox-slide--next
// 	z-index 99995

// .fancybox-slide > *
// 	display inline-block
// 	position relative
// 	margin 44px 0 44px
// 	border-width 0
// 	vertical-align middle
// 	text-align left
// 	box-sizing border-box
// 	max-width 100%

// .fancybox-slide > title,
// .fancybox-slide > style,
// .fancybox-slide > meta,
// .fancybox-slide > link,
// .fancybox-slide > script,
// .fancybox-slide > base
// 	display none

// .fancybox-slide .fancybox-image-wrap
// 	position absolute
// 	top 0
// 	left 0
// 	margin 0
// 	padding 0
// 	border 0
// 	z-index 99995
// 	background transparent
// 	cursor default
// 	overflow visible
// 	transform-origin top left
// 	background-size 100% 100%
// 	background-repeat no-repeat
// 	backface-visibility hidden
// 	user-select none
// 	transition-property transform, opacity
// 	background-color white

// .fancybox-can-zoomOut .fancybox-image-wrap
// 	cursor zoom-out

// .fancybox-can-zoomIn .fancybox-image-wrap
// 	cursor zoom-in

// .fancybox-can-drag .fancybox-image-wrap
// 	cursor grab

// .fancybox-is-dragging .fancybox-image-wrap
// 	cursor grabbing

// .fancybox-image,
// .fancybox-spaceball
// 	position absolute
// 	top 0
// 	left 0
// 	width 101%
// 	height 101%
// 	margin 0
// 	padding 0
// 	border 0
// 	max-width none
// 	max-height none
// 	user-select none

// .fancybox-spaceball
// 	z-index 1

// .fancybox-iframe
// 	display block
// 	margin 0
// 	padding 0
// 	border 0
// 	width 100%
// 	height 100%
// 	background #fff

// .fancybox-error
// 	margin 0
// 	padding 40px
// 	width 100%
// 	max-width 380px
// 	background #fff
// 	cursor default

// .fancybox-error p
// 	margin 0
// 	padding 0
// 	color #444
// 	font-size 16px
// 	line-height 20px

// /* Buttons */
// .fancybox-button
// 	box-sizing border-box
// 	display inline-block
// 	vertical-align top
// 	width 44px
// 	height 44px
// 	margin 0
// 	padding 10px
// 	border 0
// 	border-radius 0
// 	background rgba(30, 30, 30, .6)
// 	transition color .3s ease
// 	cursor pointer
// 	outline none

// .fancybox-button,
// .fancybox-button:visited,
// .fancybox-button:link
// 	color #ccc

// .fancybox-button:focus,
// .fancybox-button:hover
// 	color #fff

// .fancybox-button[disabled]
// 	color #ccc
// 	cursor default
// 	opacity 0.6

// .fancybox-button svg
// 	display block
// 	position relative
// 	overflow visible
// 	shape-rendering geometricPrecision

// .fancybox-button svg path
// 	fill transparent
// 	stroke transparent
// 	stroke-linejoin round
// 	stroke-width 3

// .fancybox-button--share svg path
// 	stroke-width 1

// .fancybox-button--play svg path:nth-child(2)
// 	display none

// .fancybox-button--pause svg path:nth-child(1)
// 	display none

// .fancybox-button--zoom svg path
// 	fill transparent

// /* Navigation arrows */
// .fancybox-navigation
// 	display none

// .fancybox-show-nav .fancybox-navigation
// 	display block

// .fancybox-navigation button
// 	position absolute
// 	top 50%
// 	margin -50px 0 0 0
// 	z-index 99997
// 	background transparent
// 	width 60px
// 	height 100px
// 	padding 17px

// .fancybox-navigation button:before
// 	content ""
// 	position absolute
// 	top 30px
// 	right 10px
// 	width 40px
// 	height 40px
// 	background rgba(30, 30, 30, .6)

// .fancybox-navigation .fancybox-button--arrow_left
// 	left 0

// .fancybox-navigation .fancybox-button--arrow_right
// 	right 0

// @media $MQ.lgUp
// 	#popup-gallery .fancybox-close-small
// 		right 310px

// .fancybox-close-small:after
// 	content ''
// 	background-image url($svgClose)
// 	background-size 10px 10px
// 	background-repeat no-repeat
// 	background-position center center
// 	position absolute
// 	top 0
// 	right 0
// 	width 30px
// 	height 26px
// 	font 20px/30px Arial,"Helvetica Neue",Helvetica,sans-serif
// 	color white
// 	font-weight 300
// 	text-align center
// 	z-index 2

// .fancybox-close-small:focus
// 	outline none

// .fancybox-is-scaling .fancybox-close-small,
// .fancybox-is-zoomable.fancybox-can-drag .fancybox-close-small
// 	display none

// /* Caption */
// .fancybox-caption-wrap
// 	bottom 0
// 	left 0
// 	right 0
// 	padding 60px 2vw 0 2vw
// 	background linear-gradient(to bottom, transparent 0%, rgba(#000, .1) 20%, rgba(#000, .2) 40%, rgba(#000, .6) 80%, rgba(#000, .8) 100%)
// 	pointer-events none

// .fancybox-caption
// 	padding 30px 0
// 	border-top 1px solid rgba(255, 255, 255, .4)
// 	font-size 14px
// 	color #fff
// 	line-height 20px

// .fancybox-caption a,
// .fancybox-caption button,
// .fancybox-caption select
// 	pointer-events all
// 	position relative
// 	/* Fix IE11 */

// .fancybox-caption a
// 	color #fff
// 	text-decoration underline

// /* Loading indicator */
// .fancybox-slide > .fancybox-loading
// 	border 6px solid rgba(100, 100, 100, .4)
// 	border-top 6px solid rgba(255, 255, 255, .6)
// 	border-radius 100%
// 	height 50px
// 	width 50px
// 	animation fancybox-rotate .8s infinite linear
// 	background transparent
// 	position absolute
// 	top 50%
// 	left 50%
// 	margin-top -30px
// 	margin-left -30px
// 	z-index 99999

// @keyframes fancybox-rotate
// 	from
// 		transform rotate(0deg)
// 	to
// 		transform rotate(359deg)

// /* Transition effects */
// .fancybox-animated
// 	transition-timing-function cubic-bezier(0, 0, .25, 1)

// /* transitionEffect slide */
// .fancybox-fx-slide.fancybox-slide--previous
// 	transform translate3d(-100%, 0, 0)
// 	opacity 0

// .fancybox-fx-slide.fancybox-slide--next
// 	transform translate3d(100%, 0, 0)
// 	opacity 0

// .fancybox-fx-slide.fancybox-slide--current
// 	transform translate3d(0, 0, 0)
// 	opacity 1

// /* transitionEffect fade */
// .fancybox-fx-fade.fancybox-slide--previous,
// .fancybox-fx-fade.fancybox-slide--next
// 	opacity 0
// 	transition-timing-function cubic-bezier(.19, 1, .22, 1)

// .fancybox-fx-fade.fancybox-slide--current
// 	opacity 1

// /* transitionEffect zoom-in-out */
// .fancybox-fx-zoom-in-out.fancybox-slide--previous
// 	transform scale3d(1.5, 1.5, 1.5)
// 	opacity 0

// .fancybox-fx-zoom-in-out.fancybox-slide--next
// 	transform scale3d(.5, .5, .5)
// 	opacity 0

// .fancybox-fx-zoom-in-out.fancybox-slide--current
// 	transform scale3d(1, 1, 1)
// 	opacity 1

// /* transitionEffect rotate */
// .fancybox-fx-rotate.fancybox-slide--previous
// 	transform rotate(-360deg)
// 	opacity 0

// .fancybox-fx-rotate.fancybox-slide--next
// 	transform rotate(360deg)
// 	opacity 0

// .fancybox-fx-rotate.fancybox-slide--current
// 	transform rotate(0deg)
// 	opacity 1

// /* transitionEffect circular */
// .fancybox-fx-circular.fancybox-slide--previous
// 	transform scale3d(0, 0, 0) translate3d(-100%, 0, 0)
// 	opacity 0

// .fancybox-fx-circular.fancybox-slide--next
// 	transform scale3d(0, 0, 0) translate3d(100%, 0, 0)
// 	opacity 0

// .fancybox-fx-circular.fancybox-slide--current
// 	transform scale3d(1, 1, 1) translate3d(0, 0, 0)
// 	opacity 1

// /* transitionEffect tube */
// .fancybox-fx-tube.fancybox-slide--previous
// 	transform translate3d(-100%, 0, 0) scale(.1) skew(-10deg)

// .fancybox-fx-tube.fancybox-slide--next
// 	transform translate3d(100%, 0, 0) scale(.1) skew(10deg)

// .fancybox-fx-tube.fancybox-slide--current
// 	transform translate3d(0, 0, 0) scale(1)

// /* Share */
// .fancybox-share
// 	padding 30px
// 	border-radius 3px
// 	background #f4f4f4
// 	max-width 90%

// .fancybox-share h1
// 	color #222
// 	margin 0 0 20px 0
// 	font-size 33px
// 	font-weight 700
// 	text-align center

// .fancybox-share p
// 	margin 0
// 	padding 0
// 	text-align center

// .fancybox-share p:first-of-type
// 	margin-right -10px

// .fancybox-share_button
// 	display inline-block
// 	text-decoration none
// 	margin 0 10px 10px 0
// 	padding 10px 20px
// 	border 0
// 	border-radius 3px
// 	box-shadow 0 2px 2px 0 rgba(#000, .16)
// 	background #fff
// 	white-space nowrap
// 	font-size 16px
// 	line-height 23px
// 	user-select none
// 	min-width 140px
// 	color #707070
// 	transition all .2s

// .fancybox-share_button:focus,
// .fancybox-share_button:hover
// 	text-decoration none
// 	color #333
// 	box-shadow 0 2px 2px 0 rgba(#000, .3)

// .fancybox-share_button svg
// 	margin-right 5px
// 	width 20px
// 	height 20px
// 	vertical-align text-bottom

// .fancybox-share input
// 	box-sizing border-box
// 	width 100%
// 	margin 5px 0 0 0
// 	padding 10px 15px
// 	border 1px solid #d7d7d7
// 	border-radius 3px
// 	background #ebebeb
// 	color #5d5b5b
// 	font-size 14px
// 	outline none

// /* Thumbs */
// .fancybox-thumbs
// 	display none
// 	position absolute
// 	top 0
// 	bottom 0
// 	right 0
// 	width 212px
// 	margin 0
// 	padding 2px 2px 4px 2px
// 	background #fff
// 	box-sizing border-box
// 	z-index 99995

// .fancybox-thumbs-x
// 	overflow-y hidden
// 	overflow-x auto

// .fancybox-show-thumbs .fancybox-thumbs
// 	display block

// .fancybox-show-thumbs .fancybox-inner
// 	right 212px

// .fancybox-thumbs > ul
// 	list-style none
// 	position absolute
// 	position relative
// 	width 100%
// 	height 100%
// 	margin 0
// 	padding 0
// 	overflow-x hidden
// 	overflow-y auto
// 	font-size 0
// 	white-space nowrap

// .fancybox-thumbs-x > ul
// 	overflow hidden
// 	width 7px
// 	background #fff
// 	border-radius 10px
// 	box-shadow inset 0 0 6px rgba(#000, .3)
// 	background #2a2a2a
// 	border-radius 10px

// .fancybox-thumbs > ul > li
// 	float left
// 	overflow hidden
// 	padding 0
// 	margin 2px
// 	width 100px
// 	height 75px
// 	max-width calc(50% - 4px)
// 	max-height calc(100% - 8px)
// 	position relative
// 	cursor pointer
// 	outline none
// 	backface-visibility hidden
// 	box-sizing border-box

// li.fancybox-thumbs-loading
// 	background rgba(#000, .1)

// .fancybox-thumbs > ul > li > img
// 	position absolute
// 	top 0
// 	left 0
// 	max-width none
// 	max-height none
// 	user-select none

// .fancybox-thumbs > ul > li:before
// 	content ''
// 	position absolute
// 	top 0
// 	right 0
// 	bottom 0
// 	left 0
// 	border 4px solid #4ea7f9
// 	z-index 99991
// 	opacity 0
// 	transition all 0.2s cubic-bezier(.25, .46, .45, .94)

// .fancybox-thumbs > ul > li.fancybox-thumbs-active:before
// 	opacity 1

// @media $MQ.tabletMax
// 	.fancybox-thumbs
// 		width 110px
// 	.fancybox-show-thumbs .fancybox-inner
// 		right 110px
// 	.fancybox-thumbs > ul > li
// 		max-width calc(100% - 10px)
