.flag
	display inline-block
	vertical-align top
	color white
	background-color $green
	font-size 12px
	padding 3px 6px 2px
	font-family $font
	font-weight 600

	// MODIFICATIONS
	&--dark
		background-color $primary
	&--yellow
		background-color $yellow
	&--red
		background-color $red
	&--light-blue
		background-color $secondary
	&--white
		background-color white
		border 1px solid $colorBd
		color $colorLink

	// @media $MQ.xlUp
	// 	font-size 10px

