// row-main
.row-main
	clearfix()
	position relative
	margin 0 auto
	padding 0 15px
	max-width $rowMainWidth
	// overflow hidden
	&--50
		padding 0 50px
	@media $MQ.xlUp
		padding-left 30px
		padding-right 30px
		max-width $rowMainWidth	+ 30px

// grid
.grid
	@extend $reset-ol
	@extend $grid
	margin-left -(15px)
	&__cell
		@extend $reset-ol-li
		@extend $grid__cell
		position relative
		border 15px solid transparent
		border-width 0 0 0 15px
		&--top
			align-self flex-start
		&--middle
			align-self center
		&--bottom
			align-self flex-end
		&--eq
			display flex
			> *
				flex 1 1 auto
	&--x-0
		margin-left 0
	&--x-0 > &__cell
	&--x-0 .slick-slide &__cell
		border-left-width 0
	&--x-5
		margin-left -5px
	&--x-5 > &__cell
		border-left-width 5px
	&--x-xs
		margin-left -15px
	&--x-xs > &__cell
		border-left-width 15px
	&--x-sm
		margin-left -30px
	&--x-sm > &__cell
		border-left-width 30px
	&--x-md
		margin-left -30px
		@media $MQ.xlUp
			margin-left -60px
	&--x-md > &__cell
		border-left-width 30px
		@media $MQ.xlUp
			border-left-width 60px
	&--x-lg
		margin-left -30px
		@media $MQ.mdUp
			margin-left -50px
		@media $MQ.xlUp
			margin-left -100px
	&--x-lg > &__cell
		border-left-width 30px
		@media $MQ.mdUp
			border-left-width 50px
		@media $MQ.xlUp
			border-left-width 100px
	&--x-xl
		margin-left -160px
	&--x-xl > &__cell
		border-left-width 160px

	&--y-xs
		margin-bottom -15px
	&--y-xs > &__cell
	&--y-xs .slick-slide &__cell
		margin-bottom 15px
	&--y-sm
		margin-bottom -30px
	&--y-sm > &__cell
	&--y-sm .slick-slide &__cell
		margin-bottom 30px
	&--y-md
		margin-bottom -30px
		@media $MQ.mdUp
			margin-bottom -60px
	&--y-md > &__cell
	&--y-md .slick-slide &__cell
		margin-bottom 30px
		@media $MQ.mdUp
			margin-bottom 60px
	&--y-lg
		margin-bottom -100px
	&--y-lg > &__cell
	&--y-lg .slick-slide &__cell
		margin-bottom 100px

	// VARIANTS
	&--scroll
		@extend $grid--scroll

	&--nowrap
		flex-wrap nowrap

	// horizontal
	&--middle
		align-items center

	&--bottom
		align-items flex-end

	// vertical
	&--center
		justify-content center

	&--right
		justify-content flex-end

	&--space-between
		justify-content space-between

	// STATES
	// horizontal
	.no-flexwrap &--middle &__cell
		vertical-align middle

	.no-flexwrap &--bottom &__cell
		vertical-align bottom

	// vertical
	.no-flexwrap &--center &__cell
		text-align center

	.no-flexwrap &--right &__cell
		text-align right

	// MEDIA QUERIES
	@media $MQ.lgUp
		&--left-lg
			justify-content flex-start
		&--y-lg-lg
			margin-bottom -100px
		&--y-lg-lg > &__cell
			margin-bottom 100px
	@media $MQ.xlUp
		&--y-md-xl
			margin-bottom -60px
		&--y-md-xl > &__cell
			margin-bottom 60px


.size
	generateGridSize()

.order
	generateGridOrder()


