.img
	display block
	position relative
	overflow hidden
	&::before
		content ''
		display block
		padding-top 100%
	img
		max-width 100%
		max-height 100%
		position absolute
		// IE max-width hack
		top 50%
		left 50%
		transform translate(-50%, -50%)
	&__holder
		position absolute
		left 0
		right 0
		top 0
		bottom 0
		display flex
		align-items center
		justify-content center
	&__holder iframe
		width 100%
		height 100%

	// MODIFICATION
	.no-objectfit &--fill .img__holder
		background-size cover
		background-position center center
		img
			opacity 0
	.objectfit &--fill
		background-color white
	.no-js &--fill img
	.objectfit &--fill img
		position absolute
		top 0
		left 0
		transform translate(0)
		width 101%
		height 101%
		max-width none
		max-height none
		object-fit cover
	.iframe--fb
		height 95%

	&--2-1::before
		padding-top percentage(1/2)
	&--3-2::before
		padding-top percentage(2/3)
	&--4-3::before
		padding-top percentage(3/4)
	&--5-3::before
		padding-top percentage(3/5)
	&--16-9::before
		padding-top percentage(9/16)

	&--empty
		border 1px solid lightGray
		img
			width 80%
			max-width 300px

	&--dark
		background $primary
