.info
	position relative
	padding-right 30px
	display flex
	align-items center
	margin-left -8px
	& > *
		margin-left 8px
	&__number
		display inline-block
		width 24px
		height 20px
		text-align center
		color $primary
		font-size 10px
		line-height 20px
		position relative
		z-index 2
		&::before
		&::after
			content ''
			position absolute
			top 0
			left 0
			right 0
			bottom 0
			z-index -1
		&::before
			bgPolygon $colorBd
		&::after
			top 1px
			left 1px
			bottom 1px
			right 1px
			bgPolygon white

	&--center
		justify-content center
