.item-icon
	position relative
	display inline-block
	vertical-align middle
	padding-left 27px
	transition color $t
	text-decoration none
	color $colorLink
	&[href^='mailto:']
		text-decoration underline

	.icon-svg
		width 22px
		position absolute
		left 0
		top 50%
		transform translateY(-50%)
		color $colorLink
		transition color $t
		&--angle-right-polygon
		&--angle-left-polygon
			width 23px
			height 20px
		&--plus
			width 12px
		&--minus
			width 12px
		&--share
			width 15px


	// MODIFICATIONS
	&--after
		padding-left 0
		padding-right 27px
		.icon-svg
			left auto
			right 0

	&--sm
		color $blue
		display block
		margin-top -8px
		font-size 13px
		.icon-svg
			width 8px

	&--md
		.icon-svg
			width 12px

	&--lg&--after
		padding-right 35px
		.icon-svg
			width 22px



	// HOVERS
	.no-touchevents a&:hover .icon-svg
		color $secondary
