.items
	$s = selector()
	display block
	margin 0 0 -10px -15px
	font-size 0
	> *
		display inline-block
	&--inline
		display inline-block
		vertical-align top
	&__item
		display inline-block
		vertical-align top
		margin 0 0 10px 15px
		font-size 14px
		&--middle
			vertical-align middle

	&--x-20
		margin-left -20px
		>
			{$s}
				&__item
					margin-left 20px

	&--x-30
		margin-left -30px
		>
			{$s}
				&__item
					margin-left 30px

	&--x-60
		margin-left -60px
		>
			{$s}
				&__item
					margin-left 60px

	&--y-20
		margin-bottom -20px
		>
			{$s}
				&__item
					margin-bottom 20px

	&--y-30
		margin-bottom -30px
		>
			{$s}
				&__item
					margin-bottom 30px

	&--vertical
		{$s}
			&__item
				display block
