.js-fixed

	@media $MQ.lgUp
		position relative
		&__target
			background white
			z-index 3
			// transition top $t, transform $t
			transform translateY(0)

		// STATES
		&__target.is-fixed
			position fixed
			top 0
			transition top $t, transform $t
			transform translateZ(0) translateY(0)

		.headroom--pinned ~ .main &__target.is-fixed:not(.is-fixed-bottom)
			// top 84px
			transform translateY(84px) translateZ(0)
			// margin-bottom 84px
		.headroom--top ~ .main &__target.is-fixed:not(.is-fixed-bottom)
			// top 185px
			transform translateY(185px) translateZ(0)
			// margin-bottom 185px
		.headroom--pinned ~ .main &--w-alert &__target.is-fixed:not(.is-fixed-bottom)
			// top 200px
			transform translateY(200px) translateZ(0)
			// margin-bottom 200px
		.headroom--top ~ .main &--w-alert &__target.is-fixed:not(.is-fixed-bottom)
			// top 227px
			transform translateY(227px) translateZ(0)
			// margin-bottom 227px
		.headroom--pinned.headroom--not-top ~ .main &--w-alert &__target.is-fixed:not(.is-fixed-bottom)
			// top 200px
			transform translateY(200px) translateZ(0)
			// margin-bottom 200px
		.headroom--pinned.headroom--not-top ~ .main &__target.is-fixed:not(.is-fixed-bottom)
			// top 158px
			transform translateY(158px) translateZ(0)
			// margin-bottom 158px
		&:not(&--no-bottom) &__target.is-fixed-bottom
			position absolute
			top auto
			bottom 0
			transform translateY(0) translateZ(0)
			transition none
