.js .js-tabs
	position relative
	&__fragment
		position absolute
		// width 100%
		visibility hidden
		opacity 0
		transition visibility 0s, opacity $t
		&.is-active
			position relative
			top auto
			visibility visible
			opacity 1

	@media $MQ.lgUp
		// STATES
		&.is-fixed
			position fixed
