.js-validate
	&__message
		font-size 15px
		display none
		.icon-svg
			width 30px
	&__item--hidden
		display none

	// STATES
	&__item--hidden.is-active
		display block
	.has-error &__message
		color $red
		padding 0
		display block
		.icon-svg
			display none
	.has-success &__message
		color $green
		display block
		.icon-svg
			color $green
			position absolute
			top -30px
			left auto
			right 10px


	// MODIFICATIONS
	&__item--agree.has-error .inp__item
	&__item--agree.has-error a:not(:hover)
		color $red

	&--hide-icon &__message .icon-svg
		display none

	// MEDIA QUERIES
	@media $MQ.smUp
		.has-success &__message .icon-svg
			position absolute
			top -30px
			left auto
			right -40px
	@media $MQ.mdUp
		&__message
			font-size 17px
			margin-left 28%
			&--absolute
			&--left
				margin-left 0
	@media $MQ.lgUp
		&__message
			margin-left 38%
			&--left
				margin-left 0
			&--absolute
				position absolute
				margin-left 0

	@media $MQ.xlUp
		&__message
			margin-left 0
		.has-success &__message .icon-svg
			position relative
			top 50%
			transform translateY(0%)
			left -27px
			right auto
