.list-icon
	@extend $reset-ul
	margin-bottom 25px
	li
		@extend $reset-ul-li
		padding-left 28px
		position relative
		margin-bottom 10px
		.icon-svg
			width 18px
			color $green
			position absolute
			top 5px
			left 0
