.list-count
	position relative
	&::before
		content ''
		position absolute
		top 0
		left 16px
		bottom 0
		height 100%
		width 1px
		background-color #C3DBEB
	li
		padding-left 50px
		margin-bottom 20px
		padding-top 2px
		&::before
			width 30px
			height 25px
			top 1px
			left 1px
			line-height 25px
			text-align center
			font-size 16px
			color $primary
			z-index 2
		&::before
			bgPolygon white
		&::after
			content ''
			position absolute
			top 0
			left 0
			width 32px
			height 27px
			z-index 1
			bgPolygon #C3DBEB
		&:last-child
			background white


	// MEDIA QUERIES
	@media $MQ.mdUp
		&::before
			left 24px
		li
			padding-left 82px
			margin-bottom 50px
			&::before
				width 46px
				height 40px
				line-height 42px
				font-size 24px
			&::after
				width 48px
				height 42px

