.body-loader
	position fixed
	left 50%
	top 50%
	background rgba($dark, .7)
	size 100
	border-radius 50px
	margin -50px 0 0 -50px
	opacity 0
	visibility hidden
	transition opacity $t 0s, visibility 0s $t
	pointer-events none
	z-index 1000
	&:before
		content ''
		position absolute
		left 50%
		top 50%
		border 5px solid $colorBd
		border-color transparent $colorBd $colorBd
		size 50px
		border-radius 25px
		margin -25px 0 0 -25px
	.page-loading &
		opacity 1
		visibility visible
		transition-delay 0s, 0s
		&:before
			animation animation-rotate .8s infinite linear
