.message
	border 1px solid $colorBd
	background-color $colorBg
	font-size 16px
	position relative
	padding 4px 15px

	&::before
	&::after
		position absolute
		border-style solid

	// MODIFICATIONS
	// arrow possition
	&--left::before
	&--left::after
		content ''
		top 50%
		transform translateY(-50%)
		left -10px
		border-width 10px 10px 10px 0
		border-color transparent $colorBd transparent transparent
	&--left::after
		left -8px
		border-color transparent $colorBg transparent transparent

	&--topleft::before
	&--topleft::after
		content ''
		top -10px
		left 25px
		border-width 0 10px 10px 10px
		border-color transparent transparent $colorBd transparent
	&--topleft::after
		top -8px
		border-color transparent transparent $colorBg transparent

	&--topcenter::before
	&--topcenter::after
		content ''
		top -10px
		left 50%
		transform translateX(-50%)
		border-width 0 10px 10px 10px
		border-color transparent transparent $colorBd transparent
	&--topcenter::after
		top -8px
		border-color transparent transparent $colorBg transparent

	// sizes
	&--lg
		padding 7px 22px
	&--xl
		padding 20px

	// MEDIA QUERIES
	@media $MQ.mdUp
		&--left-md::before
		&--left-md::after
			content ''
			top 50%
			transform translateY(-50%)
			left -10px
			border-width 10px 10px 10px 0
			border-color transparent $colorBd transparent transparent
		&--left-md::after
			left -8px
			border-color transparent $colorBg transparent transparent

	@media $MQ.lgUp
		&--left-lg::before
		&--left-lg::after
			content ''
			top 50%
			transform translateY(-50%)
			left -10px
			border-width 10px 10px 10px 0
			border-color transparent $colorBd transparent transparent
		&--left-lg::after
			left -8px
			border-color transparent $colorBg transparent transparent
		&--xl
			padding 14px 48px 24px 30px
