.js-mobile-tab
	@include clearfix()
	&__more
		display none

	@media $MQ.mdDown
		border-bottom 1px solid $colorBd
		&__wrap
			border 1px solid $colorBd
			border-width 1px 0 0
			margin 0 -15px
			padding 0 15px
			background-color white
			transition background-color $t
		&__link
			position relative
			padding 11px 15px
			font-size 22px
			font-weight 400
			margin 0 -15px
			cursor pointer
		&__more
			display block
			position absolute
			right 15px
			top 50%
			transform translateY(-50%)
			.icon-svg
				width 10px
				height 10px
				transition transform $t
		&__link
		&__content
			transition background-color $t
		&__content
			padding 6px 0 10px
			font-size 16px

		// MODIFICATIONS
		&__wrap--norow
			margin 0

		// STATES
		.js &__content
			display none
		.js &__link::after
			transition transform $t
		.js &__item.is-open &__wrap
			background-color $colorBg
		&__item.is-open &__link .icon-svg
			transform rotate(-180deg) translateY(50%)
		&__item.is-open &__content
			display block
