.paging
	text-align center
	margin 0
	&__wrap
		display inline-block
		vertical-align top
		position relative
		padding 0 68px
		line-height 30px
	&__pages
		color $dark
		font-size 12px
		font-weight 500
		font-family $fontExt
	&__prev
	&__next
		position absolute
		top 0
	&__prev
		left 0
	&__next
		right 0

	@media $MQ.mdMin
		&__wrap
			line-height 48px
