.person
	&__name
		display block
		font-size 14px
		font-weight 500
		line-height 18px
	&__link
		text-decoration none
		display block
	&__avatar
		width 54px
		height 47px
		min-width 54px
		min-height 47px
		margin 0 auto 5px
		display block
	&__firstname
	&__lastname
		display block
		color $colorLink
		text-align center
		transition color $t
	&__small
		font-size 12px
		color $suplementary
		display block

	// HOVER
	.no-touchevents &:hover &__firstname
	.no-touchevents &:hover &__lastname
		color $colorHover

	// MODIFICATIOSN
	&--inline &__link
		display flex
		align-items center
		align-items center
		margin-left -20px
		> *
			margin-left 20px
	&--inline &__name > *
		display inline
		font-size 20px
	&--inline &__avatar
		width 107px
		height 93px
		min-width 107px
		min-height 93px
		margin-right 0

	@media $MQ.lgUp
		&__name
			font-size 16px
		&__avatar
			width 70px
			height 60px
			min-width 70px
			min-height 60px

