.polygon
	$s = selector();
	position relative
	display inline-block
	width 30px
	height 26px
	z-index 2

	&::before
	&::after
		content ''
		position absolute
		width 30px
		height 26px
		top 0
		left 0
		bgPolygon $colorBd
		z-index -1
	&::after
		width 28px
		height 24px
		top 1px
		left 1px
		bgPolygon white
	&__count
		position absolute
		line-height 26px
		top 0
		left 0
		width 30px
		text-align center
		z-index 2
		font-size 10px
		font-weight 400

	// MODIFICATIONS
	@media $MQ.mdUp
		&--lg
			width 37px
			height 32px
			&::before
				width 37px
				height 32px
			&::after
				width 35px
				height 30px
			{$s}
				&__count
					width 37px
					line-height 32px
					font-size 15px
