.hide
	&-sm
		&-down
			@media $MQ.smMax
				display none
		&-up
			@media $MQ.smMin
				display none
	&-md
		&-down
			@media $MQ.mdMax
				display none
		&-up
			@media $MQ.mdMin
				display none
	&-lg
		&-down
			@media $MQ.lgMax
				display none
		&-up
			@media $MQ.lgMin
				display none
	&-xl
		&-down
			@media $MQ.xlMax
				display none
		&-up
			@media $MQ.xlMin
				display none
