.slick-slider
	position relative
	user-select none
	touch-action pan-y
	&.grid:not(.grid--x-0) // visible box shadow
		padding-right 14px
		margin-right -14px
.slick-list
	transform translate3d(0, 0, 0)
	position relative
	overflow hidden
	&.grid:not(.grid--x-0) // visible box shadow
		padding-right 15px
		margin-right -15px
	&:focus
		outline 0
.slick-track
	transform translate3d(0, 0, 0)
	display flex
	width 100% !important
	margin 0
.slick-slide
	display flex
	outline 0
	width 100% !important
	flex 0 0 100% !important

	padding-bottom 15px
	margin-bottom -15px
	& > div
		display flex
		width 100%
		.grid__cell--eq
			display flex !important
			align-items stretch
	.grid__cell
		max-width 100%
.slick-initialized
	display block !important
.slick-dots
	@extend $reset-ul
	display flex
	justify-content center
	margin-left -3px
	li
		@extend $reset-ul-li
		text-align center
		display flex
		align-items center
		justify-content center
		cursor pointer
		margin-left 3px
	button
		transition background-color $t
		position relative
		width 8px
		height 7px
		font-size 0
		padding 0
		border none
		bgPolygon #C3DBEB

	.slick-active button
		bgPolygon $colorLink

.slick-hidden
	display none
