@import '../../../../node_modules/nouislider/distribute/nouislider.css'

.no-js .js-slider__range
	display none

.noUi-horizontal
	height 5px
	margin 0 16px 30px
	background $colorBd
	border 0
	box-shadow none
	border-radius 0
	&::before
	&::after
		content ''
		position absolute
		top 0
		bottom 0
		width 14px
		background $colorBd
	&::before
		left -14px
	&::after
		right -14px
	.noUi-handle
		outline none
		width 32px
		height 28px
		box-shadow none
		border 0
		left -16px
		top -11px
		cursor pointer
		border-radius 0
		bgPolygon $colorLink
		&:before
			color white
			background none
			position absolute
			width 100%
			height 100%
			font-size 14px
			text-align center
			left 0
			top 0
			display flex
			justify-content center
			align-items center
		&::after
			display none

	.noUi-handle-lower::before
		content 'od'
	.noUi-handle-upper::before
		content 'do'
	.noUi-connect
		background $lightBlue
		box-shadow none

.js-slider
	padding-top 10px
	&__inps
		display flex
		justify-content space-between
		align-items center
		margin-bottom 0
		margin-left -15px
		*
			margin-left 15px
			white-space nowrap
	&__inp--from,
	&__inp--to
		font-size 17px
		height 42px
		text-align center
		max-width 125px
		padding 10px 5px
