.social
	&__item
		color $dark
		&--facebook
			.no-touchevents &:hover
				color $facebook
		&--linkedin
			.no-touchevents &:hover
				color $linkedin
		&--youtube
			.no-touchevents &:hover
				color $youtube
		&--instagram
			.no-touchevents &:hover
				color $instagram
		&--pinterest
			.no-touchevents &:hover
				color $pinterest
		&--twitter
			.no-touchevents &:hover
				color $twitter
		&--google
			.no-touchevents &:hover
				color $google
