.stars
	display flex
	position relative
	margin-left -5px
	.icon-svg
		flex 0 0 auto
		color $colorBd
		width 22px
		margin 0 5px
	&__inner
		position relative
	&__icons
		display flex
		line-height 1
		white-space nowrap
	&__text
		margin-left 15px

	// VARIANTS
	&__icons--active
		position absolute
		left 0
		top 0
		color $primary
		background #fff
		overflow hidden
		display flex
		.icon-svg
			color $colorHover
