.table
	$s = selector()
	margin 0
	border 0
	width 100%
	tr
		&.is-disable
			> td
				color $light
				img
					opacity .2
	th
	td
		border-width 0
		vertical-align top
		font-size 12px
		text-align left
		border-bottom 1px solid $colorBd
		&.text-center
			text-align center
		&.text-right
			text-align right
		&:first-child
			.tooltip
				&:after
					left 0
					transform none
	th
		color $dark
	a
		text-decoration none
	thead
		th
			font-family $fontExt
			font-weight 500
			padding 0 5px 10px 0
	tbody
		td
		th
			padding 10px 5px 10px 0

	.items__item > svg
		size 24px
		vertical-align top
		position relative
		bottom -2px

	&--hover
		.circle
			background $white
			.no-touchevents &:hover
				border-color $dark
		tbody
			th
			td
				transition background $t
			tr
				.no-touchevents &:hover
					cursor pointer
					th
					td
						background $colorBg

	&--responsive
		td
		th
			vertical-align middle
		thead
			th
				vertical-align bottom

	&--lg
		tbody
			td
			th
				padding-top 20px
				padding-bottom 2
				0px
				font-size 12px
	.bg-dark &
		th
			color $white
		td
			color $whiteLight

	.pt-0
		padding-top 0

	@media $MQ.mdMax
		td
		th
		.has-dot
			display inline-block
			vertical-align middle
			&:after
				display none
		&--responsive
			thead
				display none
			tr
				padding 10px 20px
				display block
				border 1px solid $colorBd
				margin 0 0 20px
			td
			th
				padding 0
				display block
				&:last-child
					border none
			.responsive-hide
				display none
			.is-empty
				display none
			[data-before]
				padding-left 110px
				overflow hidden
				&:before
					content attr(data-before)
					font-family $fontExt
					color $dark
					font-weight 500
					width 100px
					margin-left -110px
					float left
					.b-product-table &
					.bg-dark &
						color $white

	@media $MQ.mdMin
		td
		th
			&.min-width
				width 1px
		.has-dot
			position relative
			padding-right 10px
			display block
			&:after
				position absolute
				top 50%
				right 0
				transform translateY(-50%)
				content ''
				height 4px
				width 4px
				background rgba($dark, .4)
				border-radius 50%
		thead
			th
				padding-bottom 20px
				padding-right 15px
				&:first-child
					padding-left 10px
		tbody
			td
			th
				padding-top 20px
				padding-bottom 20px
				padding-right 15px
			tr
				&:last-child
					td
					th
						border-bottom 0
				td
				th
					&:first-child
						padding-left 10px
		&--lg
			tbody
				td
				th
					padding-top 35px
					padding-bottom 35px
