.table-responsive
	@media $MQ.mdMax
		tr
			display block
			padding 20px 0 5px
			border-top 1px solid $colorBd
			.bg-dark &
				border-top 1px solid rgba(#979797, .1)
			&:first-child
				border-top 0
		td
		th
			display block
			border none
			padding 0 0 15px
