.tags
	font-size 0px
	display block
	margin 0 0 -5px -5px
	.tag
		margin 0 0 5px 5px
.tag
	display inline-block
	vertical-align top
	border 1px solid $colorBd
	padding 5px 10px
	background $white
	position relative
	font-size 14px
	color $dark
	text-decoration none
	&--light
		color $light
	&--secondary
		border 1px solid $white
		color $primary
	&:before
		content ''
		position absolute
		left -1px
		top -1px
		bottom -1px
		right -1px
		border 2px solid $primary
		opacity 0
		transition opacity $t
		pointer-events none
	a&
		.no-touchevents &:hover
			color $dark
			&:before
				opacity 1
