.tooltip
	position relative
	text-decoration none
	&::before
	&::after
		position absolute
		opacity 0
		visibility hidden
		transition opacity $t, visibility $t
		pointer-events none
		z-index 1
	&::before
		content ''
		left 50%
		bottom 31px
		// bottom calc(-100% + 59px)
		transform translate3d(-50%, 0, 0)
		border-style solid
		border-width 7px 7px 0 7px
		border-color rgba($primary, .66) transparent transparent transparent
	&::after
		content attr(data-title)
		bottom 38px
		// bottom calc(-100% + 66px)
		color white
		font-size 16px
		line-height 1.25
		background rgba($primary, .66)
		padding 10px 15px 15px
		width 230px
		white-space pre-wrap
		left 50%
		right auto
		transform translate3d(-50%, 0, 0)

	// STATES & HOVERS
	&.is-open
	.no-touchevents &:hover
		&::before
		&::after
			opacity 1
			visibility visible

	// MODIFICATIONS
	&--reversed::after
		left auto
		right 50%
		transform translate3d(15%, 0, 0)


	// MEDIA QUERIES
	@media $MQ.smUp
		&::after
			left 50%
			right auto
			transform translate3d(-15%, 0, 0)


