.top
	display none

	@media $MQ.mdUp
		display block
		position fixed
		width 52px
		height 45px
		bottom 30px
		// bottom 60px
		right 30px
		z-index 4
		transition display $t, opacity $t, visibility $t
		transform rotate(-90deg)
		&::before
		&::after
			content ''
			position absolute
			width 52px
			height 45px
			top 0
			left 0
			z-index 1
		&::before
			bgPolygon $colorBd
		&::after
			width 50px
			height 43px
			top 1px
			left 1px
			bgPolygon white
		.icon-svg
			height 12px
			color $colorLink
			transition color $t
			position absolute
			top 50%
			left 50%
			transform translateX(-50%) translateY(-50%)
			z-index 2

		// HOVERS
		.no-touchevents &:hover .icon-svg
			color $colorHover
