.f-basket
	&__content
		margin-left -30px
		> .grid__cell
			border-left-width 30px
	&__link
		text-align center
		margin-bottom 0
	&__btn
		text-align center
		margin-bottom 0
	&__dl dt
		flex-basis calc(30% - 20px)
		max-width calc(30% - 20px)
	&__dl dd
		flex-basis calc(70% - 20px)
		max-width calc(70% - 20px)
	&__btn
		.btn__text
			padding-top 29px
			padding-bottom 27px

	// MEDIA QUERIES
	@media $MQ.smDown
		&__btn
			.btn
				width 100%

	@media $MQ.smUp
		&__address
			padding 0 25px
		&__dl dt
			flex-basis calc(40% - 20px)
			max-width calc(40% - 20px)
		&__dl dd
			flex-basis calc(60% - 20px)
			max-width calc(60% - 20px)

	@media $MQ.mdUp
		&__btn
			.btn__text
				font-size 18px
		&__link
			font-size 17px

	@media $MQ.lgUp
		&__link
			text-align right

	@media $MQ.xxlUp
		&__content
			margin-left -160px
			> .grid__cell
				border-left-width 160px
