.f-common
	&__wrap
		display flex
		justify-content space-between
		align-items center
		flex-wrap wrap
		font-size 14px

	@media $MQ.smUp
		&__wrap
			flex-wrap nowrap
			p
				flex 1 1 50%
		&__btn
			padding-left 20px
