.f-contact
	border 1px solid $colorBd
	padding 15px
	&__btn
		display flex
		flex-wrap wrap
		justify-content flex-end
		align-items center
		margin-left -30px
		margin-bottom -15px
		& > *
			margin-left 30px
			margin-bottom 15px

	@media $MQ.smUp
		padding 30px

	@media $MQ.lgUp
		padding-top 60px
		padding-bottom 60px
		&__btn
			margin-top 45px

	@media $MQ.xlUp
		padding-top 100px
		padding-bottom 100px
