.c-tags + .f-rating
	border-top 1px solid $colorBd
	padding-top 60px

.f-rating
	$s = selector()
	&__inner
		margin-left -25px
	&__title
		font-size 20px
		margin-bottom 10px
		margin-left 25px
	&__ratings
		display flex
		position relative
		margin-left 25px
		~ *
			margin-left 25px
	&__current
		position absolute
		top 0
		left 0
		transition opacity $t


	// HOVERS
	&:not(.is-disabled) &__ratings:hover &__current
		opacity 0
		pointer-events none

	// STATES
	&__new.is-visible
		pointer-events none
	&__new.is-visible + &__current
		opacity 0

	// MODIFICATIONS
	&.is-disabled &__new
		pointer-events none
		opacity 0


	@media $MQ.smUp
		&__inner
			display flex
			align-items center
		&__title
			margin-bottom 0
