.f-watchdog
	text-align center
	&__title
		font-size 20px
		margin-bottom 10px
	&__annot
		margin-bottom 20px
	&__inp
		max-width 420px
		margin 0 auto 25px
		text-align left
		.inp__label
			display block
			margin-bottom 10px
			text-align center
		.icon-svg
			width 17px
