.icon-svg
	display inline-block
	vertical-align middle
	position relative
	&--square svg
	&__svg
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		fill currentColor
		pointer-events none
		transform translateZ(0)
	&:before
		content ''
		display block
	&--square
		width 36px
		&:before
			padding-top 100%

	<% _.each(glyphs, function(glyph) { %>
	&--<%= glyph.name %>
		width <%= glyph.width %>px
		&:before
			padding-top (<%= glyph.height %> / <%= glyph.width %> * 100)%
	<% }); %>
