.b-cta-bnr
	background-position center center
	background-repeat no-repeat
	background-size cover
	background-image url($img'/illust/cta-bnr-480.jpg')
	display flex
	&__inner
		display flex
		flex-direction column
		width 100%
		min-height 300px
		justify-content center
		text-align center
		padding 20px
	&__title
		color white
		margin-bottom 20px
		font-size 32px
	&__btn
		margin-bottom 0

	@media $MQ.smUp
		background-image url($img'/illust/cta-bnr-750.jpg')
	@media $MQ.mdUp
		background-image url($img'/illust/cta-bnr-1000.jpg')
		&__inner
			min-height 425px
		&__title
			font-size 40px
			margin-bottom 45px
		&__btn
			margin-bottom 40px
	@media $MQ.lgUp
		background-image url($img'/illust/cta-bnr-1445.jpg')
	@media $MQ.xlUp
		background-image url($img'/illust/cta-bnr-1920.jpg')

