.b-faqs
	overflow hidden
	&__list
		margin-bottom -30px
	&__item
		margin-bottom 30px
		padding-top 15px
	&__inner
		border 1px solid $colorBd
		padding 25px 35px 10px
		position relative
		background white
		&::before
			position absolute
			content '?'
			top -13px
			left 35px
			width 35px
			counter-increment item
			font-weight 600
			font-size 19px
			z-index 2
			color white
			text-align center
		&::after
			content ''
			position absolute
			left 35px
			top -15px
			width 35px
			height 30px
			bgPolygon $primary
			z-index 1
	&__question
		margin-bottom 5px

	// MEDIA QUERIES
	@media $MQ.mdDown
		&__inner
			padding 25px 15px 0px
			&:before
			&:after
				left 15px
		&__question
			font-size 18px
		&__answer
			font-size 16px
	@media $MQ.mdUp
		&__list
			margin-bottom -45px
		&__item
			margin-bottom 45px
	@media $MQ.lgUp
		&__wrap
			max-width 50%
		&__wrap--col-2
			max-width none
		&__wrap--col-2 &__list
			column-count 2
			break-inside avoid
		&__wrap--col-2 &__item
			display inline-block
			vertical-align top
			width 100%
			break-inside avoid
