.b-instructions
	&__inner
		border 1px solid $colorBd
		padding 15px 15px 0
	&__list
		display flex
		margin-left -35px
		margin-bottom -20px
		flex-wrap wrap
	&__item
		margin-left 35px
		margin-bottom 20px
		flex 1 1 auto
	&__name
		margin-bottom .25em

	// MODIFICATIONS
	&__item
		flex 1 1
		&--20
			flex-basis 100%
		&--30
			flex-basis 100%
		&--50
			flex-basis 100%

	// MEDIA QUERIES
	@media $MQ.mdUp
		&__inner
			padding 35px 35px 15px
		&__item
			&--20
				flex-basis calc(40% - 35px)
			&--30
				flex-basis calc(60% - 35px)
			&--50
				flex-basis calc(100% - 35px)

	@media $MQ.xlUp
		&__inner
			padding 50px 35px 30px 70px
		&__item
			&--20
				flex-basis calc(20% - 35px)
			&--30
				flex-basis calc(30% - 35px)
			&--50
				flex-basis calc(50% - 35px)
