.b-insurance
	display flex
	flex-direction column
	width 100%
	height 100%
	padding 30px 20px 10px
	background-color $white
	position relative
	&__title
		text-align center
	&__icon
		display block
		margin-bottom 15px
	&__name
		display block
		margin-bottom 10px
		font-size 26px
		font-weight normal
		color $primary
	&__subname
		display block
		font-size 20px
		color $primary
		font-weight normal
		strong
			font-weight bold
	&__annot
		margin-bottom 30px
		font-size 16px
		line-height 21px
		text-align center
		> :last-child
			margin-bottom 0
	&__bottom
		margin-top auto
		text-align center
		display flex
		flex-wrap wrap
		justify-content center
		align-items center
		&--space-between
			justify-content space-between
		> *
			flex 0 1 auto
	&__price
		font-size 20px
		line-height 21px
		color $suplementary
		strong
			font-weight bold
			color $primary
	&__price-title
		display block
		font-size 13px
		line-height 1
	&__btn
		&::before
			content ''
			position absolute
			left 0
			top 0
			width 100%
			height 100%
		.btn__text
			min-width 185px
			padding 12px 15px 11px
			font-size 13px
			font-weight 600

	// MEDIA QUERIES
	@media $MQ.smUp
		&__bottom
			text-align left

	@media $MQ.mdUp
		padding 55px 30px 10px
		&__icon
			margin-bottom 35px
		&__bottom
			text-align center
			> *
				flex 0 0 100%

	@media $MQ.lgUp
		&__bottom > *
			flex 0 1 auto
		&__icon
			.icon-svg
				width 90px

	@media $MQ.xlUp
		&__bottom
			text-align left
