.b-lecture
	display flex
	flex-direction column
	width 100%
	height 100%
	padding 0 30px 10px
	background-color $white
	position relative
	&__title
		position relative
		text-align center
	&__img
		margin 0 -30px 10px
	&__flag
		position absolute
		top 16px
		left -30px
		font-size 12px
		font-weight 600
	&__name
		font-size 18px
		font-weight normal
		color $colorLink
	&__address
		margin-bottom 20px
		text-align center
		font-size 16px
		line-height 21px
		font-weight normal
	&__bottom
		margin-top auto
		&--inline
			display flex
			flex-wrap wrap
			justify-content space-between
			align-items center
			margin-left -30px
			> *
				margin-left 30px
	&__bottom &__item:first-child
		border-left-width 60px
	&__bottom &__item--price
		border-left-width 30px
	&__bottom &__item--duration
		position relative
		line-height 1em
		&::before
			content ''
			position absolute
			top 0
			left -30px
			width 1px
			height 100%
			background $colorBd

	&__inline
		display flex
		margin-top auto
		margin-left -30px
		> *
			margin-left 30px
	&__inline + &__bottom
		margin-top 0
	&__info
		font-size 20px
		line-height 21px
		color $suplementary
		strong
			font-weight bold
			color $primary
	&__info-title
		display block
		font-size 13px
		line-height 1
	&__btn
		&::before
			content ''
			position absolute
			left 0
			top 0
			width 100%
			height 100%
		.btn__text
			padding 12px 15px 11px
			font-size 13px
			font-weight 600

	// HOVERS
	.no-touchevents &:hover
		.btn__text
			background-color $greenDark

	// MEDIA QUERIES
	@media $MQ.smDown
		&__bottom
			justify-content center
			text-align center
		&__inline
			justify-content center
	@media $MQ.mdUp
		&__name
			font-size 26px
		&__img
			margin-bottom 25px
