.b-lecturer
	max-width 410px
	&__title
		margin-bottom 30px
	&__inner
		background-color $primary
		padding 50px 20px 10px
		position relative
	&__name
		color white
		margin-bottom 20px
	&__position
		font-size 17px
		color $colorBd
		display block
		font-weight 400
	&__img
		position absolute
		width 100px
		height 85px
		top 0
		right 20px
		transform translateY(-50%)
	&__annot
		color white

	// MEDIA QUERIES
	@media $MQ.mdUp
		&__inner
			padding 60px 35px 25px
		&__img
			width 150px
			height 130px
			right 40px
		&__name
			margin-bottom 30px
		&__annot
			line-height 30px


