.b-process
	&__list
		@extend $reset-ul
		display flex
		margin-left -50px
		margin-top -15px
		padding 15px 0 0
		overflow-x scroll
		overflow-y hidden
		-webkit-overflow-scrolling touch
	&__item
		@extend $reset-ul-li
		margin-left 50px
		max-width 150px
		text-align center
		position relative
		font-size 16px
		padding-top 15px
		&::before
			position absolute
			content counter(item) ". "
			top 5px
			left 22px
			width 35px
			counter-increment item
			font-weight 600
			font-size 15px
			z-index 2
			color white
			text-align center
		&::after
			content ''
			position absolute
			left 20px
			top 0
			width 35px
			height 30px
			z-index 1
			bgPolygon $colorHover
	&__item:not(:last-child) &__img:after
		content ''
		background-image url($img+'bg/separator.svg')
		width 22px
		height 22px
		position absolute
		top 50%
		right - ( (50px + 22px) / 2 )
		transform translateY(-50%)
		pointer-events none
	&__img
		width 150px
		height 150px
		margin 0 auto 10px
		position relative
		overflow visible
	&__btn
		text-align center
	&__list + &__btn
		padding-top 60px


	// MEDIA QUERIES
	@media $MQ.lgDown
		&__wrap
			position relative
			margin 0 -15px
			&::after
			&::before
				content ''
				position absolute
				top 0
				width 70px
				height 100%
				z-index 1
				pointer-events none
			&::before
				left 0
				background linear-gradient(to left, rgba(255, 255, 255, 0.001), rgba(255, 255, 255, 0.8) 60%, #fff 100%)
			&::after
				right 0
				background linear-gradient(to right, rgba(255, 255, 255, 0.001), rgba(255, 255, 255, 0.8) 60%, #fff 100%)
		&__list
			padding-left 40px
		&__item:last-child
			box-sizing content-box
			padding-right 40px

	@media $MQ.lgUp
		&__list
			justify-content center
			padding-top 0
			margin-top 0
			overflow visible

	@media $MQ.xlUp
		&__list
			margin-left -100px
		&__item
			margin-left 100px
			max-width 192px
			font-size 20px
		&__item:not(:last-child) &__img:after
			right - ( (100px + 22px) / 2 )
		&__img
			width 190px
			height 190px
