.b-training
	position relative
	overflow hidden
	display flex // IE
	flex-direction column // IE
	$s = selector()
	&__bg
		position absolute
		top 0
		left 0
		right 0
		bottom 0
		transition transform $t
		transform scale3d(1, 1, 1)
		img
			position absolute
			top 50%
			left 50%
			transform translate(-50%, -50%)
			width 100%
			height auto
	&__wrap
		display flex
		align-items flex-end
		min-height 100%
		color $white
		&::before
			content ''
			display block
			width 100%
			padding-top calc(100% * (3/4))
			flex 1 0 100%
			z-index 1
		&::after
			content ''
			position absolute
			left 0
			right 0
			bottom 0
			height 65%
			background-image: linear-gradient(to top, #0C2D43, rgba(#0C2D43, 0))
			transition height $t
	&__title
		min-height 56px
	&__link
		text-decoration none
		color $white
		&--expand::before
		&--overlay
			display block
			position absolute
			top 0
			left 0
			width 100%
			height 100%
			z-index 2
		&--expand::before
			content ''
	&__inner
		padding 0 20px 30px
		text-align center
		z-index 2
		position absolute
		top 100%
		left 0
		width 100%
		transform translateY(-220px)
		transition transform $t
		> :last-child
			margin-bottom 0
	&__flag
		font-size 18px
		padding 5px 12px
		margin 0
	&__length
		color $colorBd
		font-size 14px
		margin 0
		line-height 1.4em
		text-align left
		strong
			color white
			font-size 18px
			display block
	&__title
		margin-bottom 5px
		font-size 24px
		line-height 1
		color inherit
	&__annot
		min-height 106px
		max-height 106px
		overflow hidden
		font-size 16px
		line-height 20px
		margin 0
		// margin-bottom 30px
	&__item
		margin-bottom 0
		z-index 2

	// HOVERS
	.no-touchevents &:hover
		{$s}
			&__bg
				transform scale3d(1.05, 1.05, 1)
			&__link
				color $white
	.no-touchevents &:hover &__wrap--has-items
		&::after
			height 110%
		{$s}
			&__inner
				transform translateY(-100%)
	.no-touchevents &__item &__link:hover
		text-decoration underline

	// MEDIA QUERIES
	@media $MQ.mdUp
		&__annot
			font-size 18px
			line-height 24px
	@media $MQ.xlUp
		&__title
			font-size 28px
		&__inner
			padding 30px 45px
			transform translateY(-250px)
