.b-abandoned
	&__group
		margin-left -24px
		margin-right -24px
		padding 20px 24px 15px
		&:not(:last-child)
			border-top 1px solid $colorBd
	&__name
		font-size 16px
		color $primary
		font-weight normal
		display flex
		align-items center
		margin-bottom 20px
	&__count
		font-size 10px
		position relative
		z-index 2
		width 23px
		text-align center
		line-height 20px
		margin-left 5px
		&::before
		&::after
			content ''
			position absolute
			top 0
			left 0
			width 23px
			height 20px
			z-index -1
		&::before
			bgPolygon $colorBd
		&::after
			top 1px
			left 1px
			width 21px
			height 18px
			bgPolygon white
	&__list
		margin-bottom -15px
	&__item
		margin-bottom 15px
		// .b-product-small
		// 	padding-right 50px
		.b-product-small__main
			flex 0 1 100%
		.b-product-small__img
			width 75px
			img
				max-width 75px
				max-height 75px
	&__shipping.item-icon
		color $primary
		padding-left 45px
		line-height 18px
		max-width 215px
		.icon-svg
			width 30px
	&__total
		margin-left auto
		strong
			display inline-block
			width 100px
			font-weight bold
			text-align right
	&__tax
		display inline-block
		width 50px
		text-align right

	// MODIFICATIONS
	&__group--products
	&__group--lectures
			padding-left 20px
			padding-right 0
	&__group--total
		display flex
		flex-wrap wrap
		align-items center
		justify-content space-between

	// MEDIA QUERIES
	@media $MQ.mdDown
		&__group--total
			flex-wrap wrap
			justify-content center
		&__shipping
		&__total
			flex 1 1 100%
			text-align center
		&__item .b-product-small__close
			padding-right 0

	@media $MQ.smUp
		// &__item .b-product-small
		// 	padding-right 77px

	@media $MQ.mdUp
		&__item .b-product-small__main
			flex 0 0 260px
