.b-article
	$s = selector()
	*:last-child
		margin-bottom 0
	&__img-wrap
		overflow hidden
	&__img
		background-size cover
		transition transform $t
		transform scale3d(1, 1, 1)
		&::after
			content ''
			position absolute
			top 0
			left 0
			right 0
			bottom 0
			background linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(12, 45, 67, .65) 100%)
	&__head
		display block
		position relative
		margin-bottom 20px
		color $white
		// overflow hidden
	&__name
		margin-top 0
		color $colorLink
	&__info
		display block
		margin-bottom 15px
		line-height 1
	&__category
	&__reading-time
		font-size 12px
		.icon-svg
			width 14px
	&__category
		padding-right 10px
		text-transform uppercase
		text-decoration none
		font-weight 600
		color $secondary
		position relative
		z-index 1
	&__reading-time
		padding-left 20px
		font-weight normal
		color $lightBlue
		.icon-svg
			color $lightBlue
	&__side-info
		position absolute
		display flex
		flex-direction column
		width 100%
		left 0
		right 0
		top -118px
		align-items flex-end
	&__date
		align-self flex-start
		margin-bottom -5px
	&__name
		font-weight normal
		font-size 20px
		line-height 1.25
	&__author
		max-width 70px
		position relative
		right 5px
	&__text
		font-size 18px
		color $primary
		line-height 24px
		margin-bottom 18px
		max-height 120px
		overflow hidden
	&__link
		margin-top 20px
		font-size 18px
		text-decoration none
		padding-right 30px

	// MODIFICATIONS
	&--no-author
		{$s}
			&__content
				max-width none

	&--single
		align-items flex-start
		{$s}
			&__head
				margin-bottom 0
			&__content
				max-width none
			&__info
				text-align right
			&__date
				position absolute
				top 0
			&__author
				max-width none
				.person__link
					display block
				.person__name
					margin 8px 0 0
			&__name
				margin-bottom 25px
				color $colorLink
			&__text
				margin-bottom 25px
				max-height 220px
				overflow hidden

	// HOVERS
	.no-touchevents &:hover &__img
		transform scale3d(1.05, 1.05, 1)
	.no-touchevents &__category:hover
		text-decoration underline

	// MEDIA QUERIES
	@media $MQ.mdDown
		&--single
			{$s}
				&__author
					position absolute
					top -80px
					left 5px
					right auto

	@media $MQ.xlDown
		&__title
			padding-top 10px
		&__info
			padding 15px 0
		&__name
			margin-bottom 0

	@media $MQ.mdUp
		&__name
		&__content
			width percentage(11/12)
		&__side-info
			right 10px
		&__author
			right 10px
		&__info
			padding 10px 0 25px
		&--single
			display flex
			{$s}
				&__head
					flex 1 0 47%
				&__content
					flex 1 1 50%
					padding 0 0 0 30px
				&__info
					margin 0
				&__author
					position relative
					right auto
					top -5px
					.person__link
						display flex
						align-items center
					.person__name
						margin 0
						padding-left 10px
					.person__avatar
						margin 0
					.person__firstname
					.person__lastname
						text-align left
	@media $MQ.lgUp
		&__side-info
			top -125px

		&--single
			{$s}
				&__title
					padding-top 15px
				&__author
					top auto
					right auto
	@media $MQ.xlUp
		&__head
			margin-bottom 25px
		&__title
			width calc(100% - 30px)
			position absolute
			left 30px
			bottom 25px
		&__name
			color white
			font-size 26px
			line-height 30px
			margin-bottom 5px
		&__name
		&__content
			width 100%
		&__content
			max-width 75%
			padding 0 30px
		&__info
			padding 0
			margin-bottom 10px
		&__side-info
			top calc(100% - 120px)
			left auto
			right 30px
			min-height 130px
			justify-content flex-end
		&__date
			margin-bottom 25px
			align-self flex-end
		&__author
			right 0
			align-self flex-end

		&--single
			{$s}
				&__content
					padding 10px 0 0 50px
				&__author
					padding-right 30px
					.person__avatar
						margin 0 0 0 auto
					.person__firstname
					.person__lastname
						color $white
				&__info
					text-align left
