.b-attached
	&__title
		margin-bottom 15px
		text-align center
	&__list
		@extend $reset-ul
		display flex
		flex-wrap wrap
		justify-content center
	&__item
		flex 0 1 auto
		margin-bottom 15px
	&__link
		text-decoration underline
		font-size 18px
		&.item-icon
			padding-left 35px
		.icon-svg
			width 24px

	// MODIFICATIONS
	&--files &__item
		padding 0
		&:before
			display none

	// MEDIA QUERIES
	@media $MQ.mdUp
		text-align center
		&__wrap
			border 1px solid $colorBd
			border-width 1px 0
			padding 55px 0 65px
			width calc(100% + 30px)
			margin-left -15px
			margin-right -15px
		&__title
			font-size 40px
			margin-bottom 60px
		&__list
			justify-content center
			margin-left -60px
			margin-bottom -30px
			margin-left -60px
		&__item
			margin 0 0 30px 60px
			margin-left 60px
		&__link
			font-size 18px

	@media $MQ.lgUp
		&__wrap
			border-width 1px
			width 100%
			margin-left 0
			margin-right 0
	@media $MQ.xlUp
		& + &
			margin-top -40px
