.b-basket
	$s = selector()
	text-align center
	font-size 15px
	height 100%
	&__link
		top 10px
		height calc(100% - 18px)
		display block
		width 100%
		// width 28px
		position relative
		background $white
	&__icon
		position absolute
		top calc(50% - 3px)
		left 50%
		transform translate(-50%, -50%)
		.icon-svg
			width 14px
	&__text
		display none
	&__count
		display block
		padding 0
		color $white
		position absolute
		font-size 8px
		min-width 14px
		padding-top 1px
		min-height 11px
		line-height 11px
		top 14px
		right -5px
		bgPolygon $red
	&__body
		top calc(100% - 8px)
		visibility hidden
		opacity 0
		font-size 18px
		color $primary
		text-align left
		position absolute
		right 15px
		left 15px
		background $white
		box-shadow 0 3px 6px rgba($black, .16)
		z-index 101
		outline 5000px solid rgba($primary, .2)
		transition opacity $t, visibility $t
	&__content
		> :last-child
			margin-bottom 0
	&__inner
		text-align center
		padding 25px 20px
	&__img
		margin 0 0 15px
		img
			max-width 226px
	&__content
		flex 1 0
	.nano-pane
		transform translateX(-5000px)
		transition none

	// STATES
	&.is-hover
		{$s}
			&__text .icon-svg--select
				transform rotate(180deg)
			&__link
				z-index 102
				border-color #fff
			&__body
				visibility visible
				opacity 1
				.nano-pane
					transform translateX(0px)

	// MEDIA QUERIES
	@media $MQ.smUp
		// width 30px
		&__content
			text-align left
		&__inner
			display flex
			align-items center
		&__img
			margin 0 20px 0 0
			width 150px
		&__link
			// width 30px
		&__icon .icon-svg
			width 18px
		&__count
			font-size 10px
			min-width 16px
			min-height 14px
			line-height 14px
			padding 0

	@media $MQ.mdUp
		// width 42px
		&__icon .icon-svg
			width 22px
		&__count
			font-size 12px
			min-width 24px
			min-height 20px
			line-height 20px
			top 15px
			right -11px
		&__link
			top 15px
			height calc(100% - 28px)
			// width 42px
		&__body
			top calc(100% - 13px)
			left auto
			right 15px
		&__img
			width 226px
			margin-right 30px
		&--full &__body
			width 600px

	@media $MQ.lgUp
		// width 118px
		position relative
		&__link
			top 0
			// width 118px
			padding 72px 0 15px
			height 100%
			text-decoration none
			transition color $t, border-color $t
			border-right 1px solid $colorBd
		&__text
			display inline-block
			vertical-align top
			padding-right 20px
			position relative
			.icon-svg
				color $lightBlue
				width 11px
				position absolute
				top 50%
				margin-top -5px
				right 0
				transition transform $t
		&__icon
			top 30px
			transform translateY(0%) translateX(-50%)
			margin-left 0
		&__count
			top 13px
			right -12px
		&__body
			top 100%
			right 0
			width 750px
		&__inner
			padding 25px 60px 25px 30px

	@media (min-width 1100px)
		// width 134px
		&__link
			// width 134px
