.b-benefits
	&__list
		margin-left -40px
		margin-bottom -22px
		@extend $reset-ul
		display flex
		justify-content space-between
		flex-wrap wrap
	&__item
		@extend $reset-ul-li
		position relative
		margin-left 40px
		margin-bottom 22px
		flex 1 1 100%
		padding-left 65px
		color black
		font-size 13px
		line-height 24px
		.icon-svg
			width 50px
			height 42px
			color $secondary
		strong
			display block
			color $colorLink
			font-size 18px

	// MEDIA QUERIES
	@media $MQ.smUp
		&__item
			flex 1 0 290px

	@media $MQ.mdUp
		&__list
			margin-left 0
		&__item
			flex 0 0 48%
			padding-left 80px
			font-size 18px
			margin-left 0
			.icon-svg
				width 60px
				height 50px
				&--chat
					height 54px
			strong
				font-size 22px
			&:nth-child(even)
				flex 1 1 360px

	@media $MQ.lgUp
		&__list
			margin-left -40px
		&__item
			flex 0 0 auto
			margin-left 40px
			&:nth-child(even)
				flex inherit

	@media $MQ.xlUp
		&__list
			flex-wrap nowrap
		&__item
			flex 0 1 auto
