.b-burger
	width 12px
	height 10px
	margin-bottom -2px
	span
		display block
		position absolute
		width 100%
		height 1px
		background white
		left 0
		transition transform $t, top $t, left $t, width $t
		&:nth-child(1)
			top 0
		&:nth-child(2)
		&:nth-child(3)
			top 4px
		&:nth-child(4)
			top 8px

		.is-open &
			&:nth-child(1)
			&:nth-child(4)
				top 4px
				width 0
				left 50%
			&:nth-child(2)
				transform rotate(45deg)
			&:nth-child(3)
				transform rotate(-45deg)
	@media $MQ.mdUp
		width 22px
		height 18px
		span
			height 3px
			&:nth-child(2)
			&:nth-child(3)
				top 8px
			&:nth-child(4)
				top 16px
