.b-closest
	background $primary
	position relative
	font-size 14px
	br
		display none
	&__inner
		padding 10px 30px 10px 0
		max-width 780px
		margin 0 auto
		overflow hidden
	&__store
		flex 0 0 78px
		max-width 78px
		height 68px
		margin-bottom 0
	&__img
		display none
	&__address
		flex 1 1 490px
		color white
		strong
			font-weight 500
	&__show
		flex 0 0 auto
		margin-bottom 0
		position relative
		.icon-svg
			z-index 2
	&__link
		color white
		text-decoration underline
	&__link:first-child()::before
		content ''
		position absolute
		top 0
		left 0
		width 100%
		height 100%
	&__close
		position absolute
		top 50%
		transform translateY(-50%)
		right 10px
		text-decoration none
		z-index 4
	&__close-link
		padding 10px
		color white
		text-decoration none
		.icon-svg
			width 10px
			color $lightBlue
			transition transform $t, color $t

	// HOVER
	.no-touchevents &__close-link:hover .icon-svg
		color white
		transform rotate(90deg)

	@media $MQ.smDown
		&__store
			display none

	@media $MQ.mdDown
		&__store
			float left
			margin-right 20px

	@media $MQ.mdUp
		br
			display block
		&__center
			display flex
			align-items center
			margin-left -25px
			> *
				margin-left 25px
		&__img
			display block
			width 79px
			height 68px

	@media $MQ.lgUp
		font-size 18px
		&__inner
			padding-right 0
