.b-compare
	display flex
	&__group
		font-size 16px
	&__space-between
		display flex
		align-items center
		justify-content space-between
	&__inline
		display flex
		align-items center
		justify-content flex-end
		margin-left -23px
		& > *
			margin-left 23px
	&__inp
		margin-bottom 0
		flex-basis 320px
		.inp__text
			height 42px
			padding 10px 20px
		.btn
			width 120px
		.btn__text
			height 42px
			&--success
				display none
	&__socials
		@extend $reset-ul
		display flex
		margin-left -28px
	&__social
		@extend $reset-ul-li
		margin-left 28px
		.icon-svg
		svg
			width 48px
			height 48px


	// MODIFICATIONS
	&--fixed
		display none
	&__group--share
		width 100%
	&__group--share &__name
		margin-bottom 8px

	// MEDIA QUERIES
	@media $MQ.mdUp
		&__hanger
			min-width 196px
			height 60px
			transform rotate(-90deg) translateX(-57px) translateY(67px)
			margin-bottom 0
			background $colorLink
			transition background-color $t
		&__hanger &__link
			display inline-block
			height 100%
			display flex
			align-items center
			justify-content center
			text-decoration none
			color white
			margin-left -12px
			& > *
				margin-left 12px
			.item-icon
				color white
				padding-left 40px
			.icon-svg
				color white
				width 28px
		&__hanger &__count
			width 22px
			height 20px
			line-height 20px
			text-align center
			font-size 10px
			color black
			bgPolygon white
		&__wrap
			opacity 0
			visibility hidden
			transition opacity $t, visibility $t
			position absolute
			top -10px
			right 61px
			background white
			z-index 1
			outline 5000px solid rgba($primary, .2)
			box-shadow 0 3px 6px rgba(0,0,0,0.16)
			display flex
			flex-direction column
			width 600px
			max-height calc(100vh - 350px)
			overflow-x hidden
			overflow-y auto
		&__list
			@extend $reset-ul
		&__item
			@extend $reset-ul-li
		&__item .b-product-small
			min-height 50px
			&__img
				width 75px
				background transparent
				flex 0 0 75px
				img
					max-width 75px
					max-height 75px

		// MODIFICATIONS
		&__group--products
			padding 14px 5px 14px 14px
			border-bottom 1px solid $colorBd
		&__group--tools
			padding	26px 35px 14px 25px
			border-bottom 1px solid $colorBd
		&--fixed &__group--share
			padding 20px 35px 20px 25px
		&__link--social
			transition opacity $t
		&--fixed
			pointer-events none
			display block
			position fixed
			top 290px
			right -1px
			z-index 4
		&__wrap
		&__hanger
			pointer-events auto

		// STATES
		&.is-open
			z-index 10
		&.is-open &__hanger
			z-index 1
		&.is-open &__wrap
			opacity 1
			visibility visible

		// HOVERS
		.no-touchevents &__hanger:hover
			background $colorHover
		.no-touchevents &__link--social:hover
			opacity .7
