.b-full-basket
	display flex
	flex-direction column
	width 100%
	max-height calc(100vh - 150px)
	height 100%
	min-height 0
	&__nano
		overflow-x hidden
		flex 1 1 auto
		max-height 340px
	&__group
		padding 20px 5px 20px 15px
		p:last-child
			margin-bottom 0
	&__group + &__group
		border-top 1px solid $colorBd
	&__title
		margin-bottom 0
	&__list
		margin-bottom -15px
		.b-product-small__img
			flex 0 0 67px
	&__bottom
		flex 0 0 auto
		border-top 1px solid $colorBd
		padding 20px
	&__total
		font-size 17px
		text-align center
		margin-bottom 25px
		strong
			font-weight bold
			display inline-block
			min-width 110px
	&__tax
		display inline-block
		min-width 50px
		color $suplementary
	&__btn
		margin-bottom 0
		flex 0 1 auto
		margin-left auto
	&__free
		flex 1 1 auto
		line-height 1.2
		padding-left 50px
		position relative
		margin-bottom 15px
		.icon-svg
			color $colorLink
			position absolute
			left 0
			top 50%
			margin-top -15px
		strong
			display block

	@media $MQ.mdDown
		&__wrap
			text-align center
		&__free
			display inline-block
			text-align left
	@media $MQ.mdUp
		&__bottom
			padding 30px 30px 35px 15px
		&__wrap
			display flex
			justify-content space-between
			align-items center
		&__total
			text-align right
		&__free
			margin-bottom 0
		&__btn
			text-align right
