.b-gallery
	&__top
		display flex
		flex-wrap wrap
		align-items center
		justify-content center
		margin-left -20px
		> *
			margin-left 20px
			margin-bottom 20px
	&__title
		// font-size 20px
		font-size 28px // podle grafiky
		&--full
			flex 1 1 100%
	&__count
		font-size 13px
		min-width 32px
		font-weight normal
		text-align center
		position relative
		z-index 2
		&::before
		&::after
			content ''
			position absolute
			width 32px
			height 28px
			z-index -1
			top 50%
			left 0
			transform translateY(-50%)
		&::before
			bgPolygon $colorBd
		&::after
			top calc(50% + 1px)
			left 1px
			width 30px
			height 26px
			transform translateY(calc(-50% - 1px))
			bgPolygon white
	&__item
		&.size--3-12
			min-width 25%
		&.size--4-12
			min-width 33.333%
	&__link
		display block
		text-decoration none
		text-align center
		font-size 24px
	&__link .img__holder
		transition transform $t
		transform scale3d(1.01, 1.01, 1)
	&__img
		margin-bottom 5px
	&__tools
		// display none
		display flex
		flex-grow 1
		justify-content center
		align-items center
		margin-left -15px
	&__top &__tools
		flex 0 0 100%
	&__prev
	&__next
		text-decoration none
		margin-left 15px
		.icon-svg
			width 35px
	&__btn
		text-align center
		margin-top 30px
	.slick-track
		width 100% !important


	// MODIFICATIONS
	&__tools--right
		padding-top 10px
	&__title--center
		flex 1 1 100%
		text-align center
		// margin-bottom 0 - attached videos / pages mobil bylo spatne
	&--videos .icon-svg
		width 90px
		height 90px
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -50%)
		color white
	&--products
		.slick-track
			width 100% !important
		&__item
			min-width 100%
	&--products .b-product__img
		max-height: 200px;
	.fancybox-inner-bg &__title
		font-size 32px
	.fancybox-inner-bg &__top > *
		margin-bottom 40px

	// HOVERS
	.no-touchevents &__link:hover .img__holder
		transform scale3d(1.05, 1.05, 1)

	.no-touchevents &--videos &__link:hover .img__holder
		transform scale3d(1.05, 1.05, 1)

	// STATES
	.no-js &__list
		overflow-x scroll
	.no-js &__tools
		display none
	&__prev.slick-disabled
	&__next.slick-disabled
		opacity .6
		pointer-events none
	&__list.slick-initialized &__tools
		display flex

	// MEDIA QUERIES
	@media $MQ.smUp
		&__top
			justify-content flex-start
			&--center
				justify-content center
		&__top > *
			margin-bottom 40px
		&__top &__tools
			display flex
			flex 1 0 auto
			justify-content flex-end
			margin-bottom 0
			> *
				margin-bottom 40px
		&__title
			font-size 28px
		// 	font-size 32px
	@media $MQ.mdUp
		// &__top > *
		// 	margin-bottom 80px
		&__title
			font-size 40px
			// font-size 32px
			&--center
				margin-bottom 80px
		&__link
			font-size 20px
		.slick-track
			width 50% !important
		&__item
			min-width 50%
		&__btn
			margin-top 40px

	@media $MQ.lgUp
		&__title
			font-size 40px
		.slick-track
			width 33.333% !important
		&__item
			min-width 33.33333%
		&__img
			margin-bottom 15px

		// MODIFICATIONS
		&__tools--right
			padding-top 20px
			justify-content flex-end
	@media $MQ.xlUp
		&__item
			min-width 25%

		&--photos &__item
		&--videos &__item
			min-width 33.333333%
		&--products
			[data-desktop-slides="4"]
				.slick-track
					width 25% !important
				&__item
					min-width 25%
