.b-header-contact
	font-size 16px
	color $primary
	position relative
	margin-bottom 0
	overflow hidden
	&::before
		display none
		content ''
		position absolute
		top 50%
		margin-top -88px
		left 0
		bottom 0
		width 220px
		height 176px
		background url('../../static/img/bg/nikca.png')
		background-position center center
		background-size 221px 177px
		z-index -1
	&__img
		position absolute
		left 50px
		top 25px
	&__link
		font-size 18px
		color $primary
	&__note
		font-size 13px
		color $blue

	// STATES
	&__link .no-touchevents &:hover
		text-decoration none

	// MEDIA QUERIES
	@media $MQ.xlUp
		padding 29px 0 29px 130px
		// padding-right 100px
		&::before
			display block

	@media $MQ.xxlUp
		padding-right 100px
