.b-hotline-card
	font-weight 400
	font-size 18px
	line-height 1.2
	text-transform initial
	border 1px solid $colorBd
	padding 10px 6px 13px
	&__title
		font-size 16px
	&__note
		color $blue
		font-size 13px

	@media $MQ.xxlUp
		padding 13px
