.b-intro
	$s = selector()
	position relative
	&__wrap
		position relative
		background-repeat no-repeat
		background-color black
		background-size cover
		background-position center center
		&::before
			content ''
			position absolute
			top 0
			bottom 0
			left 0
			width 100%
			height 100%
			background-image linear-gradient(to right, #0C2D43 , rgba(#0C2D43, 0%))
			opacity .8
		&.img-399
		&.img-401
			background-position center right
	&__flex
		display flex // IE
		&--center
			justify-content center // IE
	&__inner
		position relative
		min-height 150px
		display flex
		flex-direction column
		width 100%
		justify-content flex-end
		padding 15px 0 0
		a
			color white
			.no-touchevents a:hover
				color $colorHover
	&__title
		font-size 32px
		margin-bottom 15px
		font-weight 500
		line-height 36px
	&__annot
		display none
		margin-bottom 40px
		a
			color white
			.no-touchevents a:hover
				color $colorHover
	&__title
	&__annot
		color white
	&__btns
		display flex
		flex-wrap wrap
		margin 0 0 0 -25px
	&__btn
		margin-left 25px
		margin-bottom 15px
	&__info
		margin-left -15px
		display flex
		align-items center
		margin-bottom 10px
	&__category
		text-transform uppercase
		font-size 15px
		font-weight 600
		margin-left 15px
		text-decoration none
		color $colorHover
		&.tag
			margin-left 0
	&__reading-time
		color $lightBlue
		font-size 15px
		margin-left 15px
		padding-left 20px
		.icon-svg
			width 14px
			color $lightBlue
	&__date
		position absolute
		left -10px
		bottom 25px
	&__training
		margin-left 30px
		color white

	// MODIFICATIONS
	&--article
		{$s}
			&__inner
				padding 40px 0 125px
			&__title
				margin-top 0
	&--main
		background-color $primary
		background-repeat no-repeat
		background-size cover
		background-position 18% 50%
		&::before
			content ''
			width 100%
			height 100%
			position absolute
			top 0
			left 0
			background-image url($img+'bg/polygons.svg')
			background-repeat no-repeat
			background-position 45% center
			background-size 900px 970px
			z-index 0
		{$s}
			&__wrap
				min-height 400px
			&__inner
				display flex
				flex-direction column
				width 100%
				justify-content center
				padding 70px 0 55px
				min-height 385px
			&__title
				text-transform uppercase
				font-size 32px
				font-weight 600
				line-height 1.4
				margin-bottom 10px
				max-width none
				text-align center
			&__list
				@extend $reset-ul
				justify-content center
				margin-left -30px
				margin-bottom 30px
				display none
			&__item
				@extend $reset-ul-li
				margin-left 30px
				position relative
			&__item:not(:first-child)::before
				content ''
				position absolute
				width 8px
				height 7px
				top 40%
				left -18px
				bgPolygon $colorHover
			&__link
				color white
				text-decoration none
			&__title
			&__link
				text-shadow 0 2px 3px rgba(#000000, .16)
			&__btns
				justify-content center
			&__scroll
				display none
			&__scroll .icon-svg
				position absolute
				left 50%
				bottom 70px
				transform translateX(-50%)
				width 65px
				color rgba($colorBd, .24)
				transition color $t
	&--video
		{$s}
			&__inner
				display flex
				flex-direction column
				width 100%
				justify-content center
			&__title
				max-width none
			&__annot
				max-width 500px
				margin 0 auto
			&__tags
				color white
				font-size 18px
			&__category
				font-size 15px
				text-transform none
				font-weight 400
				color $colorLink
				.no-touchevents &:hover
					text-decoration none
					color $colorHover
					&::before
						content none
			&__video
				flex 1 1 100%
				display flex
				flex-direction column
				width 100%
				justify-content center
				color white
				.icon-svg
					color white
					width 50px
					// width 90px
					transition color $t
					position relative
	&--grid &__title
		margin-top 30px

	// HOVERS
	.no-touchevents &__category:hover
		text-decoration underline
	.no-touchevents &__scroll:hover .icon-svg
		color white
	.no-touchevents &__video a:hover .icon-svg
		color $colorHover

	// MEDIA QUERIES
	@media $MQ.smDown
		&--main
			{$s}
				&__title
					padding 0 10px
	@media $MQ.smUp
		&--main
			{$s}
				&__title
					max-width 450px
					margin-left auto
					margin-right auto
	@media $MQ.mdUp
		&__wrap::before
			width 75%
		&__inner
			min-height 420px
			padding 75px 0 60px 60px
			display block
			max-width 59%
		&__title
			font-size 40px
			line-height 1.4
			margin-top 0
		&__annot
			display block
			font-weight normal
			font-size 18px
			line-height 24px

		&--video
			{$s}
				&__inner
					min-height 770px
					padding-left 0
				&__video .icon-svg
					width 130px
		&--article &__inner
			padding 80px 0 125px
		&--main
			background-position 40% 50%
			{$s}
				&__title
					font-size 53px
					line-height 75px
					max-width none
				&__list
					display flex
				&__inner
					min-height 760px
	@media $MQ.lgUp
		&__inner
			padding 100px 0 80px
			max-width none
		&__annot
			font-size 20px
			line-height 28px
			width 635px
			max-width 50%
			.grid__cell &
				max-width 100%
		&--article
			{$s}
				&__inner
					min-height 465px
					padding 125px 0
				&__title
					max-width calc(100% - 230px)
		&--main
			background-position center center
			{$s}
				&__scroll
					display block
