.b-last-visited
	$s = selector();
	display none
	max-height calc(100vh - 270px)

	@media $MQ.lgUp
		display block
		position fixed
		bottom 0
		left 0
		right 0
		z-index 4 // 10
		pointer-events none
		border solid transparent
		border-width 1px 0
		transition background-color $t, border-color $t
		&__btn
			display inline-block
			background-color white
			text-decoration none
			position relative
			padding 26px 20px 27px 40px
			pointer-events auto
			margin -1px 0
			font-size 16px
			font-weight 500
			box-shadow 0 3px 6px rgba(#000000, .16)
			transition box-shadow $t, color $t
			.icon-svg
				width 11px
				left 20px
				margin-top -1px
			&::before
				content ''
				position absolute
				top 0
				bottom 0
				left -1px
				right -1px
				border 1px solid $colorBd
				transition border-color $t
			&:first-child
				margin-top -1px

			&--edit
				padding-left 25px
		&__count
			position relative
			top -3px
			left 3px
			display inline-block
			width 25px
			height 22px
			font-size 10px
			font-weight 400
			line-height 22px
			z-index 2
			text-align center
			color $primary
			&::before
			&::after
				content ''
				position absolute
				left 0
				top 0
				width 25px
				height 22px
				z-index -1
			&::before
				bgPolygon $colorBd
			&::after
				width 23px
				height 20px
				top 1px
				left 1px
				bgPolygon white
		&__list
			@extend $reset-ul
			display flex
			margin-left -5px
		&__item
			@extend $reset-ul-li
			margin-left 5px
			position relative
		&__img
			width 50px
			height 50px
			display flex
			justify-content center
			align-items center
			// border 1px solid $colorBd
			position relative
			z-index 1
			&::before
			&::after
				content ''
				position absolute
				opacity 0
				transition opacity $t
			&::before
				top -12px
				// top -10px
				bottom -7px
				left -7px
				right -7px
				// top -10px
				// bottom -10px
				// left -10px
				// right -10px
				border 1px solid $colorBd
				box-shadow 0 3px 6px rgba(#000000, .16)
			&::after
				height 12px
				top -13px
				left -6px
				right -6px
				// left -9px
				// right -9px
				background-color white
			img
				max-width 100%
				height auto
		&__hideable
			opacity 0
			visibility hidden
			transition opacity $t, visibility $t
		&__product
			width 415px
			position absolute
			bottom 60px
			// bottom 67px
			left -6px
			// left -9px
			background-color white
			box-shadow 0 3px 6px rgba(#000000, .16)
			border 1px solid $colorBd
			opacity 0
			visibility hidden
			max-height calc(100vh - 240px)
			overflow-y auto
			transition opacity $t, visibility $t
			.b-product__count
			.b-product__desc
				font-size 16px
				max-height 100px
			.b-product__img-wrap
				padding 0 25px
		&__more
			font-size 18px
			padding-right 30px

		// STATES
		&.is-open
			border-color $colorBd
			background-color white
			pointer-events auto
		&.is-open &__hideable
			opacity 1
			visibility visible
		&.is-open &__btn
			box-shadow none
			.icon-svg
				transform rotate(180deg) translateY(50%)
		&.is-open &__btn::before
			border-left-color transparent
			border-right-color transparent
		.show-overlay &
			z-index 5

		// HOVERS
		.no-touchevents &__item:hover
			z-index 2
			{$s}
				&__img::before
				&__img::after
					opacity 1
				&__product
					opacity 1
					visibility visible

	@media $MQ.xlUp
		&__list
			margin-left -15px
		&__item
			margin-left 15px
		&__img
			width 57px
			height 57px
			&::before
				top -10px
				bottom -10px
				left -10px
				right -10px
			&::after
				left -9px
				right -9px
		&__btn
			padding 26px 25px 27px 55px
			font-size 18px
			.icon-svg
				left 35px
			&--edit
				padding-left 25px
		&__product
			bottom 67px
			left -10px
