.b-login
	text-align center
	font-size 15px
	margin-bottom 0
	height 100%
	&__link
		top 10px
		// width 22px
		width 100%
		height calc(100% - 18px)
		display block
		position relative
		background white
	&__icon
		position absolute
		top calc(50% - 3px)
		left 50%
		transform translate(-50%, -50%)
		.icon-svg
			width 14px
		img
			width 18px
			height auto
	&__text
		display none
	&__reg
		visibility hidden
		opacity 0
		text-align left
		position absolute
		background $white
		box-shadow 0 3px 6px rgba($black, .16)
		z-index 101
		display flex
		width calc(100% - 30px)
		left 15px
		right 15px
		top calc(100% - 8px)
		outline 5000px solid rgba($primary, .2)
		transition opacity $t, visibility $t
		flex-direction column
		.list-icon
			font-size 16px

	&__form
		padding 20px 20px 0
		p
			margin-bottom 20px
	&__side
		padding 0 20px 5px
		.btn__text
			border-color #ABC5D6

	// MODIFICATORS
	&--inpage &__reg
		outline 0
		opacity 1
		visibility visible
		position static
		left auto
		top auto
		right auto
		width 870px
		max-width 100%
		border 1px solid $colorBd
		box-shadow none
	&--inpage &__side
		flex-shrink 1

	// STATES
	&.is-open &__reg
		visibility visible
		opacity 1
	&.is-open &__text
		.icon-svg--select
			transform rotate(180deg)
	.headroom--unpinned &.is-open &__reg
		opacity 0
		visibility hidden

	// MEDIA QUERIES
	@media $MQ.smUp
		&__link
			// width 30px
		&__icon .icon-svg
			width 18px
	@media $MQ.mdDown
		&__side
			.btn
				width 100%

	@media $MQ.mdUp
		position static
		&__link
			top 15px
			height calc(100% - 28px)
			// width 42px
			img
				width 42px
			.icon-svg
				width 22px
		&__reg
			top calc(100% - 13px)
			flex-direction row
			transition opacity $t, visibility $t
		&__form
			flex 1 1 auto
			padding 40px 50px 20px 40px
		&__side
			flex 0 0 450px
			background $colorBg
			border-left 1px solid $colorBd
			color $primary
			padding 40px 40px 25px
			display flex
			flex-direction column
			> *:last-child
				margin-top auto

		&--loggedin
			position relative
		&--loggedin &__reg
			width 230px
			left auto
			right 0

	@media $MQ.lgUp
		position relative
		&__link
			top 0
			height 100%
			// width 119px
			padding 72px 0 15px
			text-decoration none
			img
				widows 52px
		&__text
			display inline-block
			vertical-align top
			padding-right 20px
			position relative
			.icon-svg
				color $lightBlue
				width 11px
				position absolute
				top 50%
				margin-top -5px
				right 0
				transition transform $t
		&__icon
			top 31px
			transform translateX(-50%)
		&__reg
			top 100%
			width 790px
			left auto
			right 0

		&--loggedin &__reg
			width 230px

	// @media (min-width 1100px)
	// 	&__link
	// 		width 134px

