.b-map
	$s = selector()
	position relative
	&__info
		display flex
		flex-wrap wrap
		margin-left -15px
	&__info > *
		margin-left 15px
	&__address
		font-size 16px
		white-space nowrap
		flex 1 1 50%
		p
			line-height 20px
			margin-bottom 10px
	&__hours
		color $blue
	&__hours--duplicate
		display none
	&__title:not(&__title--large)
		font-size 22px
		line-height 1.45
		font-weight normal
		color $primary
		margin-bottom 0
	&__title--large
		display none
	&__img
		display none
	&__btn
		flex 1 1 50%
		align-self center
		margin-bottom 0
		font-size 18px
		.item-icon
			padding-right 35px
	&__map
		display block
		margin-top 20px
		height 460px
		background-size cover
		background-position 53% 0%
		background-repeat no-repeat

	// MODIFICATIONS
	&--large
		{$s}
			&__title
				display none
			&__title--large
				display block
				text-align center
				font-size 28px
				margin-bottom 15px
			&__top
				padding-top 40px
				max-width 290px
				margin 0 auto
			&__info
				text-align center
			&__map
				background-position center center

	// MEDIA QUERIES
	@media $MQ.mdDown
		// MODIFICATIONS
		&--large
			{$s}
				&__address p
					font-size 21px
					line-height 29px
				&__hours
					display none
				&__hours--duplicate
					display block
					flex 1 1 100%
					font-size 16px
					margin-bottom 160px
					strong
						color $primary
				&__btn
					margin-bottom 15px
				&__img
					display block
					position absolute
					top 366px
					left calc(50% - 15px)
					transform translateX(-50%)
					img
						width 290px
	@media $MQ.mdUp
		&__title:not(&__title--large)
			font-size 24px
			margin-bottom 8px
		&__info
			flex-wrap nowrap
			max-height 80px
		&__img
			display block
			flex 0 0 290px
			position relative
			z-index 1
			margin-top -25px
			width 290px
			height 250px
			img
				width 100%
				height auto
				position absolute
				left 0
				right 0
		&__btn
			text-align right
		&__map
			margin-bottom 50px
		&__hours--duplicate
			display none

		&--large
			{$s}
				&__top
					padding-top 65px
				&__title
					display block
				&__title--large
					font-size 32px
					max-width 420px
					margin 0 auto
					margin-bottom 45px
				&__top
					max-width none
				&__info
					text-align left
				&__hours--duplicate
					display none
	@media $MQ.xlUp
		&__address
			flex 0 0 170px
		&__img
			flex 0 1 290px
			margin-top -5px
		&__btn
			white-space nowrap
		&__map
			margin-bottom 100px
			margin-top 0
			height 360px
			background-size 200%
			background-position 50% 20%


		// MODIFICATIONS
		&--large
			padding-bottom 90px
			position relative
			{$s}
				&__top
					max-width 420px
					margin 0
					padding 90px 0 0 0
					min-height 570px
				&__title
					display none
				&__title--large
					display block
					max-width none
					text-align left
				&__info
					display flex
					flex-direction column
					width 100%
				&__img
					position absolute
					top 210px
					left calc(50% - (530px / 2) - 215px )
					margin 0
					img
						width 530px
						height auto
				&__map
					margin-top 0
					height 570px
					position absolute
					top 0
					left "calc( (50% - (530px / 2)) + 50px )" % $rowMainWidth
					right 0
					background-size cover
				&__title
					margin-bottom 35px
				&__address
					flex 0 0 auto
					p
						font-size 21px
						line-height 29px
						margin-bottom 30px
				&__btn
					text-align left
					align-self flex-start
					font-size 18px
					margin-bottom 40px
				&__hours
					display none
				&__hours--duplicate
					font-size 16px
					display block
					strong
						color $black
						font-weight 500
	@media $MQ.xxlUp
		&__address
			flex 1 1 50%
		&__img
			flex 0 0 290px
			margin-top -15px
		&__map
			margin-top 30px


