.b-message
	padding 15px
	background-color $colorBg
	border 1px solid $colorBd
	margin-bottom 50px
	font-weight 500
	line-height 1.5
	color $primary
	&__title
		display block
		margin-bottom 20px

	@media $MQ.mdUp
		padding 35px 45px 40px
