.b-prebasket
	&__badge
		position absolute
		right 0
		bottom 0
		width 66px
		height 57px
		text-align center
		line-height 50px
		bgPolygon $green
		color white
		.icon-svg
			width 21px
	&__name
		font-size 22px
		margin-bottom 0
	&__annot
		margin-bottom 10px
	&__price
		strong
			font-weight bold

	// MEDIA QUERIES
	@media $MQ.mdDown
		&__nav .btn
		&__nav .btn__text
			display block

	@media $MQ.mdUp
		&__img
			width 200px
			flex-shrink 0
		&__wrap
			display flex
			margin 0 0 10px -60px
			& > *
				margin-left 60px
		&__name
		&__annot
			font-size 26px
		.btn
			min-width 273px
			&__text
				display block
