.b-preview
	&__main
		padding 20px 20px 0
		display flex
		flex-direction column
		width 100%
	&__wrap
		display none
		position relative
		margin 0 15px
		flex 0 0 auto
	&__list .slick-slide
		margin-bottom 0
		padding-bottom 30px
	&__item
		width 100%
	&__prev
	&__next
		position absolute
		top 50%
		transform translateY(-50%)
		padding 10px
		&[aria-disabled="true"]
			opacity .2
			pointer-events none
		.icon-svg
			width 12px
	&__prev
		left -28px
	&__next
		right -28px
	&__thumbs
		height 100%
		display flex
	&__thumblist
		@extend $reset-ul
		display flex
		flex-wrap wrap
		margin-left -18px
		overflow-x auto
		overflow-y hidden
		width 100%
		height 100%
		-webkit-overflow-scrolling touch
	&__thumbitem
		@extend $reset-ul-li
		position relative
		margin-left 18px
		margin-bottom 18px
		flex-grow 0
		flex-shrink 0
		flex-basis calc(50% - 19px)
		&::after
			content ''
			position absolute
			top 0
			left 0
			width 100%
			height 100%
			border 1px solid $colorBd
			transition border-color $t
	&__thumblink
		position relative
		overflow hidden
		height 100%
		&--video .icon-svg
			position absolute
			width 34px
			height 34px
			top 50%
			left 50%
			transform translate(-50%, -50%)
			color white
		// &--video .icon-svg::before
		// 	content ''
		// 	position absolute
		// 	width 34px
		// 	height 34px
		// 	top 50%
		// 	left 50%
		// 	transform translate(-50%, -50%)
		// 	background rgba(black, .2)
		// 	-webkit-filter blur(10px)
		// 	filter blur(Add=1, Direction=1, Strength=10)
	&__more
		display flex
		opacity 0
		visibility hidden
		text-align center
		background $colorBg
		z-index 1
		justify-content flex-end
		align-items center
		width 40px
		height 67px
		.icon-svg
			width 18px
			color $colorLink
		&--xs
			opacity 1
			visibility visible

	// HOVERS
	.no-touchevents &__thumbitem:hover::after
		border 2px solid $colorLink
		cursor pointer

	// STATES
	&__wrap.is-active
		display block
	&__thumbitem.is-active::after
		border 2px solid $colorLink

	// MEDIA QUERIES
	@media $MQ.lgDown
		&__thumblist
			flex-wrap nowrap
		&__thumbitem
			flex 0 0 100px
		&__more .icon-svg
			transform rotate(-90deg)
	@media $MQ.smUp
		&__more
			opacity 0
			visibility hidden
			&--sm
				opacity 1
				visibility visible
	@media $MQ.mdUp
		&__more
			opacity 0
			visibility hidden
			&--md
				opacity 1
				visibility visible
	@media $MQ.lgUp
		&__main
			padding 20px 30px 0
		&__list
			// position absolute
			// top 50%
			// left 0
			// right 0
			// transform translateY(-50%) translateY(24px)
			.slick-slide
				// padding-bottom 0
		&__wrap
			margin 0 40px
			flex-basis calc(100% - 130px)
		&__thumbs
			flex-direction column
			width 100%
			height auto
			overflow-y auto
		&__thumblist
			width auto
			overflow-x hidden
			overflow-y auto
		&__prev
		&__next
			.icon-svg
				width 30px
		&__prev
			left -55px
		&__next
			right -55px
		&__more
			opacity 0
			visibility hidden
			justify-content center
			align-items flex-end
			height 55px
			width 100%
			.icon-svg
				width 28px
			&--lg
				opacity 1
				visibility visible
