.b-product-small
	position relative
	&__wrap
		display flex
		flex-wrap wrap
		justify-content space-between
		align-items center
		padding-right 20px
		position relative
		min-height 78px
		margin-bottom 20px
	&__main
		flex 0 0 100%
		margin-bottom 10px
	&__link
		display flex
		align-items center
	&__img
		width 75px
		margin 0 15px 0 0
		img
			max-width 75px
			max-height 75px
			width 100%
			height auto
	&__name
		font-size 14px
		line-height 1.3
		flex 1 1 100%
	&__count
		flex 0 0 auto
		margin-right 15px
	&__price
		flex 1 1 auto
		text-align right
		margin-bottom 0
		font-weight bold
		font-size 17px
	&__close
		padding 10px
		color $lightBlue
		position absolute
		right 20px
		top 50%
		line-height 25px
		&&
			margin-top -26px
	&__extra
		padding 0 80px 0 82px
		display flex
		align-items center
		margin-bottom 10px
		position relative
	&__extra &__name
		flex 0 0 200px
		min-width 200px
		display block
	&__extra &__count
		flex 0 0 96px
		text-align center

	// MEDIA QUERIES
	@media $MQ.smUp
		&__price
			flex 0 1 100px
		&__count
			flex 1 1 auto
			.inp
				justify-content flex-end

	@media $MQ.mdUp
		&__wrap
			padding-right 80px
			margin-bottom 0
		&__main
			flex 0 0 280px
			margin-bottom 0
		&__name
			max-width 160px
			font-size 16px
		&__price
			flex 1 1 auto
		&__count
			flex 0 0 auto
			.inp
				justify-content flex-start
