.b-product
	$s = selector()
	background-color white
	text-align center
	padding 20px 0
	transition box-shadow $t
	width 100%
	height 100%
	display flex
	flex-direction column
	&__wrap
		height 100%
	&__product
		display flex
		flex-direction column
		height 100%
	&__top
		position relative
	&__link
		display block
		text-decoration none
	&__title
		font-size 18px
		color $colorLink
		font-weight normal
		text-decoration underline
		margin-bottom 20px
		transition color $t
		padding 0 15px
	&__bottom
		margin-top auto
		padding 0 15px
		&--bottom
			margin-top 0
			margin-bottom auto
	&__img-wrap
		position relative
	&__img
		margin-bottom 10px
	&__img &__noimg
		max-width 80%
	&__flags
		position absolute
		top -5px
		left 0
		margin-bottom -6px
		text-align left
	&__flag
		display block
		margin-bottom 6px
		max-height 22px
	&__properties
		display flex
		flex-wrap wrap
		line-height 1
		padding 0 10px
		justify-content center
		margin-left -3px
		margin-bottom 7px
	&__properties &__flag
		max-height none
		margin-left 3px
		margin-bottom 3px
		.flag
			font-size 14px
			line-height 20px
			font-weight 500
			padding 0 6px
			min-width 85px
	&__discount
		position absolute
		width 60px
		bottom 25px
		right 20px
		color white
		z-index 1
		font-size 17px
		font-weight 600
		&::after
			content ''
			position absolute
			top 50%
			left 0
			transform translateY(-50%)
			width 60px
			height 54px
			z-index -1
			bgPolygon $red
	&__tip
		text-align center
		padding 0 15px
	&__avatar
		width 142px
		height 124px
		margin 0 auto 20px
	&__message
		flex 1 1 auto
		font-size 14px
		line-height 1.3
		text-align left
	&__desc
		font-size 14px
		line-height 18px
		margin-bottom 15px
		max-height 54px
		overflow hidden
	&__info
		display flex
		flex-wrap wrap
		justify-content space-between
		align-items center
		flex-direction column
		width calc(100% + 15px)
		margin-left -15px
		> *
			margin-left 15px
		&:last-child
			margin-bottom -15px
	&__availability
		font-size 16px
		line-height 18px
		margin-bottom 15px
		text-align center
		// flex 1 1 auto
		flex 0 0 auto
		strong
			display block
		&--available
			color $green
		&--unavailable
			color $red
		&--prepare
			font-weight 600
	&__price
		color $suplementary
		line-height 21px
		margin-bottom 15px
		flex 0 0 auto
		strong
			color $primary
			font-weight bold
			font-family $font
	&__price-before
		display block
		font-size 13px
	&__rent
		text-align right
		font-size 13px // 15px
		display block
		padding-top 10px
		.item-icon
			color $primary
			padding-left 20px
		.icon-svg
			width 14px
			color $lightBlue
	&__form
		display flex
		justify-content center
		align-items center
		flex-wrap wrap
		margin-left -15px
		margin-bottom -15px
		& > *
			margin-left 15px
			margin-bottom 15px
	&__count
		flex 0 0 100px
		margin-bottom 15px
		.inp__unit
			font-size 17px
	&__btn
		flex 0 0 auto
		.btn__text
			font-size 11px
			font-family $font
			letter-spacing .5px
			padding 12px 20px
			min-width 145px

	// HOVERS
	.no-touchevents &:hover
		box-shadow 0 3px 18px rgba(#7194AB, .35)
	.no-touchevents &__link > &__title:hover
		color $colorHover

	// MODIFICATIONS
	&--compare
		flex 1 1 auto
		max-height calc(100% - 60px)
	&--review
		{$s}
			&__wrap
				display flex
				flex-direction column
				height 100%
				margin-left -15px
			&__product
			&__review
				flex-basis 1 1 auto
				margin-left 15px
			&__review
				text-align left
				padding 0 25px
				font-size 14px
				a.item-icon
					font-size 16px
					padding-right 30px
			&__review .b-product__title
				color $primary
				text-decoration none
				padding 0
			&__product
				margin-bottom 30px
			&__person
				display flex
				align-items center
				margin-left -8px
				margin-bottom 25px
				> *
					margin-left 8px
				.person__avatar
					margin-right 0
			&__text
				max-height 360px
				overflow hidden
	&--big:not(&--eshop)
		{$s}
			&__img
				max-height 275px

	&--suggest
		padding 10px 0
		{$s}
			&__title
				font-size 16px
				padding 0 15px
				margin-bottom 10px
			&__availability
			&__price
			&__rent
				text-align center
			&__rent
				font-size 13px
			&__discount
				font-size 13px
				width 42px
				right 10px
				bottom 5px
				&::after
					width 42px
					height 37px
			&__bottom
				padding-left 15px
				padding-right 15px
			&__info
				display block

	// MEDIA QUERIES
	@media $MQ.mdDown
		&--suggest
			padding-bottom 0
			{$s}
				&__product
					display flex
					flex-direction row
					position relative
				&__top
					flex 1 1 100%
				&__title
					text-align left
				&__img-wrap
					display flex
					flex-direction column-reverse
					padding-left 15px
				&__img
					max-width 90px
				&__flags
					position static
					margin-bottom 5px
				&__flag
					display inline-block
				&__bottom
					margin 0 0 10px
					width calc(100% - 120px)
					height 68px
					padding 0 5px
					position absolute
					bottom 0
					left 120px
					display flex
					align-items center
				&__info
					margin-bottom -5px
					> *
						margin-bottom 5px
						text-align left
				&__rent
					display none
	@media $MQ.xlDown
		&__tip
			display none


	@media $MQ.mdUp
		padding-top 25px
		padding-bottom 25px
		&__title
			min-height 42px
		&__desc
			font-size 16px
		&__availability
			padding-top 5px
			text-align left
		&__info
			flex-direction row
			align-items flex-start
		.c-products:not(.c-products--renting) &__info
			min-height 70px
		&__price
			padding-top 2px
			text-align right
			margin-left auto
		&__price-before
			&&
				margin-top -3px
		&__availability + &__price
			// margin-left 15px
			margin-left auto
		// &__properties-wrap
		// 	min-height 50px
		// 	height 0
		// 	align-items center
		&__properties
		&__bottom
			padding 0 25px
		&__form
			justify-content space-between

		// MODIFICATIONS
		&--review
			{$s}
				&__wrap
					flex-direction row
				&__product
					margin-bottom 0
					display flex
					flex-direction column
					width 100%
				&__product
				&__review
					flex-grow 0
					flex-shrink 0
					flex-basis calc(50% - 15px)
					max-width calc(50% - 15px)
				&__review
					font-size 16px
					line-height 21px
					a.item-icon
						font-size 18px

		&--big:not(&--eshop)
			{$s}
				&__form
					flex-grow 1
					flex-shrink 1
					flex-basis calc(100% + 15px)
					justify-content flex-end
				&__info
					flex 1 1 45%
					flex-direction row
					align-items flex-start
				&__desc
					flex 1 1 55%
					align-items flex-start
					margin-bottom 15px
					padding-left 0
					padding-right 30px
					text-align left
				&__title
					font-size 21px
				&__title
				&__bottom
					padding 0 25px
				&__flags
					top 0
				&__price
					text-align right
					margin-bottom 10px
				&__img
					max-height 275px

	@media $MQ.lgUp
		&__title
			min-height 63px
		&__message
			font-size 16px
		&__avatar
			margin-bottom 20px
			flex 0 0 142px
		&__message
			margin-bottom 20px
		// &__properties-wrap
		// 	min-height 75px
		@media (max-width 1099px)
			&__price
				font-size 17px

	@media $MQ.xlUp
		&__flags
			margin-bottom -3px
		&__flag
			margin-bottom 3px
		&__properties
			padding 0 35px
		&__properties &__flag .flag
			font-size 16px
			line-height 22px
		&__desc
			margin-bottom 25px
			line-height 20px
			max-height 60px
			overflow hidden
			font-size 16px
		&__discount
			bottom 15px
		&__btn .btn__text
			padding 12px 32px 11px
			min-width 190px
			font-size 13px
		&__title
			font-size 21px
			min-height 75px
		&__title
		&__bottom
			padding 0 25px
		&__flags
			top 0
		&__info
			flex-direction row
		&__price
			margin-bottom 15px
		&__tip
			padding 0 25px
			display flex
			margin-left -30px
			& > *
				margin-left 30px

		// MODIFICATIONS
		&--review &__img
		&--big &__img
			max-height 310px

		&--big
			{$s}
				&__form
					max-width calc(45% + 10px)
					margin-left auto
					justify-content space-between
					flex-grow 1
					flex-shrink 1
					flex-basis calc(100% + 15px)
				&__bottom
					display flex
					flex-wrap wrap
				&__desc
					flex 1 1 55%
					align-items flex-start
					margin-bottom 15px
					padding-left 0
					text-align left
					padding-right 70px
				&__btn .btn__text
					padding 12px 32px 11px
					min-width 190px
					font-size 13px
				&__info
					flex 1 1 45%
					flex-direction row
					align-items flex-start
				&__title
					font-size 21px
				&__title
				&__bottom
					padding 0 25px
				&__flags
					top 0
				&__price
					text-align right
					margin-bottom 10px


		@media (max-width 1449px)
			&__price
				font-size 17px
	// @media $MQ.xxlUp
	// 	&__properties-wrap
	// 		min-height 54px
