.b-service
	$s = selector()
	text-align center
	overflow hidden
	transition background-size $t
	&
	&__bg
	&__content
		position absolute
		top 0
		left 0
		width 100%
		height 100%
	&__bg
		transform scale3d(1, 1, 1)
		transition transform $t, opacity $t
		background-size cover
		background-position center center
		background-repeat no-repeat
		background-color white
	&__content
		display flex
		flex-direction column
		padding 25px
	&__name
		font-size 28px
		font-weight 600
		margin-bottom 15px
	&__link
		text-decoration none
		color inherit
	&__annot
		max-width 315px
		margin 0 auto
		font-size 18px
	&__list
		@extend $reset-ul
		margin 0 auto -15px
		width 220px
		max-width 100%
	&__item
		@extend $reset-ul-li
		margin-bottom 15px
	&__btn
		margin-bottom 0
	&__btn.btn--white
		display block
		.btn__text
			display flex
			align-items center
			padding 7px 10px 3px 50px
			letter-spacing .05em
			height 50px
			font-size 13px
			line-height 15px
			min-width 0
		.icon-svg
			width 20px
			left 25px
			svg
				transform translateX(-50%)
			&--wheat
				width 18px
			&--gun
				width 25px

	// MODIFICATIONS
	&:not(&--side):not(&--hotline)
		text-shadow 0 1px 1px rgba(0,0,0,0.25), 0 0 60px rgba(0,0,0,0.75)
	&--white
		{$s}
			&__content
				color white
				padding 25px
			&__name
				color white

	&--1-1
		display flex
		flex-direction column
		justify-content center
		width 100%
		{$s}
			&__annot
				font-size 16px
				line-height 18px
				// font-size 14px
				// line-height 15px
			&__name
				font-size 18px
				margin-bottom 8px
				line-height 20px
	&--2-1
	&--1-1
		{$s}
			&__content
				justify-content center
	&--2-1
	&--2-2
	&--w-list
		{$s}
			&__name
				font-size 24px
				line-height 28px
			&__annot
				font-size 18px
	&--2-2
		{$s}
			&__content
				padding-bottom 40px
				background-size 500px auto
				background-position left center
			&__name
				margin-top 25px
			&__btn
				margin-top auto

	&--2-2
	&--2-1
	&--1-1
		background-color $primary
	&--side
		background-color white

	&--side strong
		display block
	&--hotline &__content
		padding 0

	// HOVERS
	.no-touchevents &:not(&--w-list):hover
		cursor pointer
	.no-touchevents &:hover &__link
		color inherit
	.no-touchevents &--hotline:hover .b-hotline__phone a
		color $colorHover
	.no-touchevents &:hover &__bg
		transform scale3d(1.05, 1.05, 1)

	@media $MQ.mdDown
		&--w-list &__content
			padding-top 10px
		&--2-2&--a-left
			{$s}
				&__bg
					background-position left center
		&--2-1
			justify-content center
			{$s}
				&__name
					// margin-bottom 0
					line-height 24px
		&--side
			{$s}
				&__bg
					background-size 450px auto
					background-position calc(50% - 80px) bottom
				&__content
					justify-content flex-start

	@media $MQ.mdUp
		&__name
			margin-bottom 0
			font-size 22px
			line-height 24px
		&__annot
			// font-size 15px

		// MODIFICATIONS
		&--side
			{$s}
				&__content
					padding-left 0
					padding-right 40%
				&__name
					margin-bottom 25px
		&--1-1
			{$s}
				&__content
					padding 10px
				&__name
					font-size 22px
					line-height 24px

		@media $MQ.lgDown
			&--w-list
				{$s}
					&__name
						font-size 16px
						margin-bottom 5px
					&__btn
						display block
						.btn__text
							width 100%
							height 32px
							padding 5px 10px
							font-size 10px
							line-height 12px
							padding-left 15px
							justify-content center
							text-align center
						.icon-svg
							display none

		@media $MQ.xxlDown
			&--w-list
				{$s}
					&__list
						margin-bottom -5px
					&__item
						margin-bottom 5px

	@media $MQ.lgUp
		// MODIFICATIONS
		&--2-2
		&--2-1
		&--1-1:not(&--w-list)
		&--side
			{$s}
				&__content
					padding 25px
				&__name
					font-size 28px
					line-height 30px
					margin-bottom 15px
				&__annot
					font-size 18px
					line-height 24px
		&--2-2
			{$s}
				&__content
					padding 25px 25px 40px
				&__name
					font-size 34px
		&--side
			{$s}
				&__content
					padding-left 20px
					padding-right 50%

		@media $MQ.xxlDown
			&--w-list
				{$s}
					&__name
						font-size 16px

	@media $MQ.xlUp
		&--side
			{$s}
				&__content
					padding-left 45px
					padding-right calc(50% + 45px)
		&--2-2
			{$s}
				&__content
					padding-top 60px

	@media $MQ.xxlUp
		&--w-list
			{$s}
				&__name
					font-size 25px
					margin-bottom 20px
