.b-social
	border 1px solid $colorBd
	border-width 1px 0
	background white
	&__wrap
		display flex
		padding-bottom 20px
	&__list
		@extend $reset-ul
		display flex
		align-items stretch
		justify-content space-around
		width 100%
		margin-top -30px !important
		flex-wrap wrap
	&__item
		@extend $reset-ul-li
		text-align center
		flex 1 1 100%
		font-size 18px
		margin-bottom 26px
		position relative
		strong
			display block
			font-size 28px
			line-height 39px
			margin-top 5px
			font-weight 500

	&__icon .icon-svg
		width 60px
		height 60px
		margin-bottom 12px
	&__annot
		display block
		margin-bottom 20px
	figure
	figcaption
		height 100%
	figure
		display flex
		flex-direction column
		width 100%
	figcaption
		margin-top 0
	&__btn .btn__text
		font-size 11px

	// MEDIA QUERIES
	@media $MQ.mdDown
		border-bottom none
		&__item:not(:first-child)::before
			content ''
			position absolute
			left -15px
			right -15px
			top 30px
			border-top 1px solid $colorBd
	@media $MQ.mdUp
		&__item
			flex 0 0 50%
	@media $MQ.lgUp
		border-width 1px 0
		&__wrap
			padding-bottom 0
		&__list
			flex-wrap nowrap
			margin-bottom 40px
		&__item
			flex 0 1 380px
			margin-bottom 0
			font-size 13px
			strong
				font-size 22px
				margin-top 0
		&__annot
			margin-bottom 10px
			padding-top 10px
		figcaption
			display flex
			align-items center
			flex-direction column
		// &__btn
		// 	margin-top auto

	@media $MQ.xlUp
		//
	@media $MQ.xxlUp
		&__item
			font-size 20px
			flex 0 1 380px
			// flex 1 1 auto
			strong
				font-size 40px
				line-height 42px
		&__annot
			padding-top 0
			margin-bottom 35px
