.b-suggest
	height 100%
	overflow hidden
	overflow-y auto
	transition opacity $t, visibility $t
	background-color $white
	box-shadow 0 3px 6px rgba($black, .2)
	outline 5000px solid rgba($primary, .2)
	max-width 1070px
	margin 0 auto
	font-size 16px
	.info
		margin-left 0
		padding-right 0
	&__wrap
		height 100%
	&__nano
		max-height calc(100vh - 220px)
		height 100%
	&__group
		padding 15px
	&__group + &__group
		border-top 1px solid $colorBd
	&__title + &__products
		margin-top 25px
	&__title
		margin-bottom 10px
	&__products
		@extend $reset-ul
		display flex
		flex-wrap wrap
		overflow hidden
		margin 0 -10px
	&__product
		@extend $reset-ul-li
		flex 0 1 100%
		max-width 100%
		margin 0 0 20px
		padding 0 10px
	&__body
		display flex
		flex-direction column
	&__main
		padding 20px
		position relative
		> :last-child
			margin-bottom 0
		.icon-svg--empty-search
			display none
	&__hotline
		flex 1 0 270px
		border-left 1px solid $colorBd
	.list-blank
		li
			margin-bottom 3px
			&:last-child
				margin-bottom 0

	// MODIFICATIONS
	&--not-found
		display flex
		max-width 940px
		margin 0 auto
		padding 0
	&__group--bg
		background $colorBg
	&__group--not-found
		padding 30px $gridGutter
		font-size 18px
		width 60%
		a
			color $primary
	&__group--advice
		padding 30px $gridGutter
		width 40%
		background-color #f2f2f2

	// STATES
	.headroom--unpinned &
		opacity 0
		visibility hidden


	// MEDIA QUERIES
	@media $MQ.mdUp
		&__main
			padding 20px 20px 20px 72px
			position relative
			.icon-svg--empty-search
				display block
				position absolute
				width 32px
				left 20px
				top 20px
				color $colorLink
		&__body
			flex-direction row
			font-size 18px
		&__group
			padding 20px 20px 25px
			p:last-child
				margin-bottom 0
		&__product
			flex-basis (100% / 3)
			max-width (100% / 3)

	@media $MQ.lgUp
		&__main
			padding 40px 40px 50px 100px
			.icon-svg--empty-search
				left 45px
				top 50px

	@media $MQ.xlUp
		&__wrap
			width 1070px
		&__product
			flex-basis (100% / 5)
			max-width (100% / 5)

		&__wrap--not-found
			width 874px
