.b-tabs
	$s = selector()
	&__wrap
		border-bottom 1px solid $colorBd
	&__content
		overflow hidden
	&__list
		@extend $reset-ul
		display flex
		align-items center
		flex-wrap wrap
		font-size 16px
		margin 0 0 0 -30px
	&__list--extended &__item
		display block
		padding-left 5px
		padding-right 5px
	&__item
		@extend $reset-ul-li
		margin 0 0 0 30px
		padding-bottom 10px
		// padding-bottom 20px
	&__link
		display flex
		align-items center
		line-height 28px
		text-decoration none
		margin-left -5px
		> *
			margin-left 5px
	&__name
		color $suplementary
	&__underline
		display none
		width 100px
		height 2px
		background-color $colorLink
		margin-bottom -1px
		position absolute
		bottom 0
	a&__link &__inner
		color $colorLink
		transition color $t
	&__count
		min-width 23px
		height 20px
		line-height 20px
		text-align center
		margin-left 5px
		position relative
		font-size 10px
		flex-shrink 0
		&
		span
			z-index 2
		&::before
		&::after
			content ''
			position absolute
			width 23px
			height 20px
			top 0
			left 0
			z-index -1
		&::before
			bgPolygon $colorBd
		&::after
			top 1px
			left 1px
			width 21px
			height 18px
			bgPolygon white
	&__empty
		font-size 16px
		.icon-svg
			width 50px

	// HOVERS
	.no-touchevents a&__link:hover .icon-svg
	.no-touchevents a&__link:hover &__inner
		color $colorHover
	.no-touchevents .is-active a&__link:hover &__inner
		color $colorLink

	// MODIFICATIONS
	// sizes
	&--x-85
		{$s}
			&__list
				margin-left -15px
			&__item
				margin-left 15px
	&--x-50
		{$s}
			&__list
				margin-left -50px
			&__item
				margin-left 50px
	&--x-20
		{$s}
			&__list
				margin-left -20px
			&__item
				margin-left 20px
	// variants
	&--center &__list
		justify-content center
	&--preview
		background $colorBg
		width 100%
		{$s}
			&__wrap
				border none
			&__list
				margin 0
			&__item
				flex 1 1 auto
				padding 10px 5px
				margin 0
			&__item:not(.is-active)
				background $colorBd
			&__link
				justify-content center
				font-size 16px
			&__count
				min-width 23px
				height 20px
				line-height 23px
				font-size 10px
				&::before
					width 23px
					height 20px
				&::after
					width 21px
					height 18px
			&__content
				padding 18px
				display flex
				flex-direction column
				flex 1 1 100%
				width 100%
			&__fragment
				display flex
				flex-direction column
				width 100%
				height 100%
	&--underline
		{$s}
			a&__inner
			a &__inner
				text-decoration underline
	&--slide
		{$s}
			&__list
				overflow-x auto
			&__item
				padding 20px 0 20px
			&__link
				line-height 1.3
				margin-left 0
				.icon-svg
					width 11px
					min-width 11px
					color $lightBlue
					margin-left 7px
					transition color $t

	// STATES
	.no-js &__inner
	&--underline &__item.is-active &__inner
		text-decoration none
		color $primary

	&:not(.js-tabs) &__item.is-active
		border-bottom 2px solid $colorLink

	@media $MQ.mdUp
		&__item
			padding-bottom 20px

		&--preview
			width 270px
		&--preview &__content
			height auto

	@media $MQ.lgUp
		overflow hidden
		&__count
			min-width 32px
			height 27px
			line-height 27px
			font-size 13px
			&::before
				width 32px
				height 27px
			&::after
				width 30px
				height 25px
		&__empty
			font-size 24px
			.icon-svg
				width 82px

		// MODIFICATIONS
		&--x-50-lg
			{$s}
				&__list
					margin-left -50px
				&__item
					margin-left 50px
		&--x-35-lg
			{$s}
				&__list
					margin-left -35px
				&__item
					margin-left 35px
		&--preview &__content
			height 520px
		&--slide
			{$s}
				&__list
					flex-wrap nowrap
					&--space-between
						justify-content space-between
				&__item
					flex 0 1 auto
					// flex 0 0 6% - mene polozek jsou zalomene

	@media $MQ.xlUp
		&--x-85
			{$s}
				&__list
					margin-left -85px
				&__item
					margin-left 85px
		&--slide &__item
			flex 0 1 auto

	@media $MQ.xxlUp
		&__list
			font-size 20px
		&--slide
			{$s}
				&__link
					margin-left -10px
					> *
						margin-left 10px
		&__count
			display inline-block
