.m-accessibility
.m-breadcrumb
.m-mobile
.m-advice
.m-references
.n-submenu
.header__contact
.header__search
.header__side
.header__toggle
.header__bottom
.paging
.no-print
.fancybox-active .mother
.fancybox-navigation
.fancybox-toolbar
.fancybox-infobar
.fancybox-close-small
.item-icon .icon-svg
.inp__fix
.btn
form

.b-intro__scroll
.c-services
.b-clients__side
.b-about-us__polygon
.b-about-us__img
.b-last-visited
.b-social
.b-map__img
.b-references__tools
.b-gallery__tools
.b-product-gallery__tools
.b-tabs__wrap
.b-filters
.f-sort
.b-paging-row__item:not(.b-paging-row__item--showing)
.b-intro__video
.b-new-product
.b-rental .b-polygons--empty
.b-product-gallery__thumbs
.b-product-info__compare
.b-gallery__count
.b-variants
.inp__item .icon-svg
.fancybox-is-open
.footer__contactlist .footer__contactitem:nth-child(3)
.b-rating
.b-share
.b-compare
.b-parameters__more
.b-parameters__message
.b-parameters__info
.js-mobile-tab
a.item-icon
.alert
	display none

.top
.slick-dots
	display none !important

.print
.print--show
	display block !important
