.header
	border-bottom 2pt solid $color
	padding 0 0 20pt
	margin 0 auto 20pt
	&__logo
		font-size 100%
		line-height 1
		margin 0
		padding 0
		font-weight normal
		img
			border 0

.footer
	border-top 2pt solid $color
	padding 20pt 0 0
	margin 20pt 0 0
