.f-newsletter
	min-height 550px
	padding 85px 0 40px
	background-repeat no-repeat
	background-size cover
	background-position center center
	&__img
		width 302px
	&__inner
		max-width 560px
		text-align center
		margin 0 auto
	&__annot
		margin-bottom 30px
	&__inp
		max-width 470px
		margin 0 auto 10px
		position relative
		.inp__message
			position absolute
			bottom 100%
			left 0
			right 0
			padding 5px
			text-align left
			padding 2px 15px
	&__agree
		font-size 12px

	@media $MQ.mdDown
		&__inp
			.inp__text
				font-size 13px
				padding-top 13px
				padding-bottom 13px
		.btn__text
			padding 11px 20px
			font-size 10px
			white-space nowrap

	@media $MQ.mdUp
		&__annot
			margin-bottom 40px
		&__agree
			font-size 15px
