@import 'base/normalize.styl'
@import 'base/variables.styl'

body
div
	color $light
	padding 0
	font-family 'arial', sans-serif
	font-size 12pt
	line-height 1.3
	height 100%
	border none
	color black

a
	text-decoration none

h1
h2
h3
	font-weight normal
	margin 0
	padding 0
	font-weight bold
	color black
h1
	color $colorHover

table
	border-collapse collapse
	border none
	width 100%

thead
	vertical-align bottom
	text-align center
	font-weight bold

th
	text-align left
	padding 0
	vertical-align top
	font-weight normal
	color $dark

td
	padding 0
	vertical-align top

.u-mb-0
	margin-bottom 0

for $i in (0..4)
	.u-p-{$i}
		padding unit($i, 'em')
	.u-pt-{$i}
		padding-top unit($i, 'em')
	.u-pr-{$i}
		padding-right unit($i, 'em')
	.u-pb-{$i}
		padding-bottom unit($i, 'em')


for $i in (1..5)
	.u-mt-{$i}
		margin-top unit($i, 'em')
	.u-mr-{$i}
		margin-right unit($i, 'em')
	.u-mb-{$i}
		margin-bottom unit($i, 'em')

hr
	height 1pt
	border 0
	border-bottom 1pt $colorBd

.table
	border none
	&--title
		color white
		tr
			height 480px
			min-height 480px
		.cell
			vertical-align bottom
			padding 50px 0 125px 75px
		.last
			line-height 570px
			padding 0
	&--info
		tr:nth-child(1) .cell
			padding 75px 60px 0
		tr:nth-child(2) .cell
			padding 0 60px 90px
	&--code
		tr:nth-child(1) .cell
			border-bottom 1px solid #c5c6ce
			text-transform uppercase
			padding 10px
			max-width 100px
			vertical-align bottom
			line-height 1
		.last
			padding-bottom 8px

	&--date
		width 450px
		tr:nth-child(1) .cell
			padding 0
			vertical-align top
			line-height 1

.cell
	border none

.u-font
	&-xs
		font-size 14px
	&-sm
		font-size 18px
	&-lg
		font-size 30px

.u-align
	&-bottom
		vertical-align bottom
	&-middle
		vertical-align middle
	&-top
		vertical-align top
