@import 'base/normalize'
@import 'base/variables'
@import 'base/extends'
@import 'base/mixins'
// @import 'utilities/index'
@import 'utilities/align'
@import 'utilities/clearfix'
@import 'utilities/float'
@import 'utilities/screen-reader'
@import 'utilities/sizing'
@import 'utilities/spacing'
// @import 'utilities/text'
@import 'utilities/visibility'
@import 'utilities/background'

@import 'print/index'
//@import 'core/icons-svg'
@import 'core/objects/img'
@import 'core/objects/grid.styl'

// html
// 	box-sizing border-box
// *
// *:before
// *:after
// 	box-sizing inherit

// *
// 	color $dark !important

// :first-child
// 	margin-top 0


body
	width 100%
	font-family Arial, Verdana, sans-serif
	color $dark
	background none
	font-size 8pt
	line-height 12pt

fieldset
	border 0
	padding 0
	margin 0

p
ul
table
	margin 0 0 .4cm
a
	color $color
	text-decoration none

img
	border 0
	max-width 100%
	height auto
img.pull-left
img.pull-right
	display inline
	background $white
img.pull-right
	margin 4px 0 30px 29px
	float right
img.pull-left
	float left
	margin 4px 29px 30px 0

.u-bg--blue
	background none

dl
	display flex
	flex-wrap wrap
	dt
		flex 0 0 20%
	dd
		flex 0 0 calc(80% - 40px)

// reset utilities
[class*="u-pt-"]
	padding-top 0 !important
[class*="u-pb-"]
	padding-bottom 0 !important
[class*="u-mt-"]
[class*="u-mt--"]
	margin-top 0 !important
[class*="u-mb--"]
	margin-bottom 0 !important
[class*="u-max-width-"]
[class*="u-min-max-width-"]
	max-width none !important

// slick
.slick
	&-track
		width auto !important
		opacity 1 !important
		transform none !important
		display flex
		flex-wrap wrap
		margin-left -20px
	&-slide
		// width calc(33.333% - 20px) !important
		width 100% !important
		position static !important
		opacity 1 !important
		left 0 !important
		margin-left 20px
		.grid__cell
			flex 0 0 calc(100% - 20px)
			max-width calc(100% - 20px)
.js-fixed__wrap
	width auto !important
	height auto !important

.b-benefits
	.icon-svg
		display block
		position absolute
		left 7px
		top calc(50% + 4px)
		transform translateY(-50%)
	&__list
		margin-left -40px
		margin-bottom -22px
		padding 0
		display flex
		justify-content space-between
		flex-wrap wrap
		page-break-inside avoid
	&__item
		position relative
		margin-left 40px
		margin-bottom 22px
		list-style-type none
		flex 1 1 calc(50% - 105px)
		max-width calc(50% - 105px)
		padding-left 65px
		page-break-inside avoid
		svg
			width 40px
			height 40px
		strong
			display block
.b-intro
	background none !important
.b-tips
	display flex
	flex-wrap wrap
	&__left
		flex 0 0 20%
		text-align center
	&__left &__img
		display none
	&__side
		display flex
		flex 0 0 80%
		margin-left -30px
		> *
			margin-left 30px
	&__center
		flex 0 0 25%
.b-clients
	&__list
		display flex
		flex-wrap nowrap
		justify-content center
		padding-left 0
		margin-left -10px
		> *
			margin-left 10px
	&__item
		@extend $reset-ul-li
		flex 0 0 10%
		list-style-type none
.b-gallery
	&__top
		text-align center
	&__list
		display flex
		flex-wrap wrap
	&__item
		text-align center
		page-break-inside avoid
		height 100%
	.slick-list
		width 100%
	.slick-slide
		width calc(33.333% - 20px)
		max-width calc(33.333% - 20px)
	.slick-slide > div
		height 100%
.c-articles
	&__list
		display flex
	&__item
		flex 0 0 calc(33.333% - 20px)
		max-width calc(33.333% - 20px)
	&--full
		page-break-inside avoid
.b-article
	$s = selector()
	page-break-inside avoid
	&
	&__date
		text-align left
	&__head
		position relative
	&__reading-time
		display block
		display flex
		align-items center
		.icon-svg
			display block
			height 12px
			margin-right 5px
		svg
			width 12px
			height 12px
	&__name
		font-size 18px
		margin-top 0
	&__author .clip-path
		width 50px
		height 45px
	&--single
		{$s}
			&__date
				margin 10px 0
			&__title .grid
				align-items center
.c-articles--single .b-article
	display flex
	margin-left -20px
	> *
		margin-left 20px
	&__head
		flex 0 0 33.333%
.person
	&__avatar .clip-path
		width 50px
		height 45px
	&__link
		display flex
		align-items center
		margin-left -10px
		> *
			margin-left 10px
	&__small
		display block
.b-polygons
	&__count
	&__count > *
		color $dark
.footer
	&__payment-methods
		margin-bottom 20px
		.grid
			display flex
			margin-left -20px
			> *
				margin-left 20px
.b-intro
	&__wrap
		background none !important
.b-process
	&__list
		display flex
		margin-left -40px
	&__item
		flex 0 0 160px
		margin-left 40px
.b-tiles
	&__list
		display flex
		margin-left -20px
	&__item
		flex 0 0 50%
		margin-left 20px
		page-break-inside avoid
.b-references
	.slick-slide
		width 50% !important
	&__inner
		display flex
		align-items center
		margin-left -30px
		page-break-inside avoid
		> *
			margin-left 30px
	&__avatar .clip-path
		width 150px
		height 130px
.b-cta-bnr
	text-align center
.b-person-card
	display flex
	align-items center
	margin-bottom 20px
	margin-left -20px
	> *
		margin-left 20px
	img
		width auto
		max-height 200px
.b-map-thumb
	margin-bottom 20px
	&__wrap
		display flex
		align-items center
		margin-left -20px
		> *
			margin-left 20px
	img
		width auto
		max-height 150px
.c-insurance
	&__list
		display flex
		flex-wrap wrap
		margin-left -20px
	&__item
		flex 0 0 calc(33.333% - 20px)
		margin-left 20px
		page-break-inside avoid
.b-insurance
	text-align center
	page-break-inside avid
	&__title
		display flex
		flex-direction column
		align-items center
	&__icon svg
		width 60px
		height 60px
		margin-bottom 10px
.b-images-grid
	&__list
		display flex
		flex-wrap wrap
		margin-left -20px
	&__item
		flex 0 0 calc(25% - 20px)
		margin-left 20px
.b-lecturer
	&__name
		display flex
		flex-direction column
		margin-top 10px
	&__position
		margin 0 0 10px
	&__img .clip-path
		width 100px
		height 85px
.c-lectures
	&__list
		display flex
		margin-left -20px
	&__item
		flex 0 0 calc(33.333% - 20px)
		margin-left 20px
.b-lecture__info
	margin-bottom 0
.b-brand
	display flex
	align-items center
	margin-left -20px
	> *
		margin-left 20px
	&__item
		page-break-inside avoid
	&__img
		flex 0 0 15%
.c-categories
	page-break-inside avoid
	&__list
		display flex
		flex-wrap wrap
		padding 0
		margin-left -20px
		margin-bottom -20px
	&__item
		flex 0 0 calc(20% - 20px)
		margin-left 20px
		margin-bottom 20px
		text-align center
		list-style-type none
		page-break-inside avoid
.b-hotline
	text-align center
.c-products
	&__list
		display flex
		flex-wrap wrap
	&__item
		flex 0 0 calc(33.333% - 20px)
		max-width calc(33.333% - 20px)
	&__item--review
		flex 0 0 calc(66.666% - 20px)
	&__item--full
		flex 0 0 100%
.b-voucher
	&__wrap
		display flex
		align-items center
		page-break-inside avoid
	&__img
		max-width none
.b-flight-school
	page-break-inside avoid
	&__inner
		display flex
		margin-left -20px
		page-break-inside avoid
		> *
			flex 0 0 calc(33.333% - 20px)
			margin-left 20px
			page-break-inside avoid
	&__left
		text-align center
	&__left &__img
		max-width 130px
	&__right &__title
		margin-top 0
.b-tabs
	&__empty svg
		width 80px
		height 80px
	&__empty .grid
		display flex
		align-items center
		margin-left -20px
	&__empty .grid__cell
		margin-left 20px
.c-work
	&__list
		display flex
		flex-wrap wrap
		margin-left -20px
	&__item
		flex 0 0 calc(33.333% - 20px)
		margin-left 20px
.b-empty
	display flex
	margin-left -20px
	> *
		margin-left 20px
	&__img
		width 200px
.b-emotions__content
	position relative
	top 50%
	transform translateY(-50%)

.b-product
	height 100%
	&__title
		text-align center
	&__top
		position relative
		margin-bottom 10px
	&__wrap
	&__product
		height 100%
	&__product
		display flex
		flex-direction column
	&__bottom
		margin-top auto
	&__desc
		max-height 100px
		overflow hidden
	&__person
	&__avatar
		display flex
		align-items center
		margin-left -10px
		> *
			margin-left 10px
		.clip-path
			width 50px
			height 45px
	&__link
		display block
		page-break-inside avoid
	&__properties
		text-align center
		margin-bottom -3px
		> *
			margin-bottom 3px
	&__img-wrap
		position relative
	&__flags
		position absolute
		top 20px
		left 0
		text-align left
	&__properties &__flag
		display inline-block
	&__flags &__flag
		display block
		margin-bottom 6px
	&__discount
		position absolute
		width 60px
		bottom 40px
		right 20px
		color white
		z-index 1
		font-size 17px
		font-weight 600
		text-align center
		&::after
			content ''
			position absolute
			top 50%
			left 0
			transform translateY(-50%)
			width 60px
			height 54px
			z-index -1
			bgPolygon $red
	&
	& *
		page-break-inside avoid
	&__tip
		display flex
	&__message
		margin-left 10px
	&--review &__review &__title
		text-align left
	&--review &__wrap
		display flex
		margin-left -20px
		> *
			flex 0 0 calc(50% - 20px)
			margin-left 20px
	&--review &__review &__link
		display none
.flag
	display inline-block
	vertical-align top
	padding 3px 6px 2px
	border 1px solid black
	background white
.b-photo-samples
	&__list
		display flex
		flex-wrap wrap
		padding 0
		page-break-inside avoid
	&__item
		list-style-type 0
		page-break-inside avoid
		flex 1 1 auto
		min-width (100/2)%
	&__link
		position relative
		display block
	&__img
		height 240px
		&::before
			display none
	&__wrapper
		position absolute
		left 0
		bottom 14px
		max-width 134px
		padding 8px 14px
		font-size 13px
		line-height 15px
		background-color $primary
	&__title
		color $lightBlue
	&__description
		display block
		text-decoration underline
		color $white
.b-rental .b-polygons
	&__list
		display flex
		flex-wrap wrap
		padding 0
		margin-left -20px
		margin-bottom -20px
	&__item
		list-style-type none
		margin-left 20px
		margin-bottom 20px
		flex 0 0 calc(25% - 20px)
		page-break-inside avoid
		.clip-path image
			clip-path none
.b-product-gallery
	&__flag
		display block
		margin-bottom 5px
	.slick-slide:not(.slick-current)
		display none
.b-properties
	&__list
		display flex
		flex-wrap wrap
		padding 0
		margin-left -20px
	&__item
		list-style-type none
		flex 0 0 calc(33.333% - 20px)
		margin-left 20px
		display flex
	&__item svg
		width 50px
		height 50px
	&__side
		margin-left 10px
	&__name
		display block
	&__value
		display block
		font-size 20px
		line-height 30px
.b-optional
.b-borrow
.b-product-info
.f-add-to-cart
.b-gift
.b-free-lecture
	border 1px solid $colorBd
	margin-bottom 15px
	padding 4px 10px 0
.f-add-to-cart
	display block
	&__price
		font-weight bold
	.u-color-suplementary
		color black

.b-product-info
	&__info
		display flex
		align-items center
		> *
			flex 0 0 50%
	&__brand
		margin-bottom 0
	&__img
		width 100px
.b-borrow
	display flex
	flex-direction column-reverse
.b-steps.is-active
	font-weight bold
.b-product-help
	display flex
	> *
		margin-left 20px
	&__left
		display flex
		flex 0 0 50%
		margin-left -20px
		> *
			margin-left 20px
	&__content
		flex 0 0 50%
	&__img .clip-path
		width 130px
		height 110px
.b-gift
	&__inner
		display flex
		align-items center
		margin-left -20px
		> *
			margin-left 20px
	&__img
		flex 0 0 50px
		margin-bottom 4px
	&__side
		margin-bottom 4px
.b-parameters
	&__columns
		margin-bottom 30px
		column-count 2
		column-gap 15px
	&__dl
		border 1px solid #D9E9F3
		margin 0 0 -1px
		padding 14px 0
		align-items flex-start
		min-height 0
		break-inside avoid-column
		dt
			max-width calc(45% - 16px)
			flex-basis calc(45% - 16px)
			margin-left 15px
			line-height 1.4
		dd
			max-width calc(55% - 30px)
			flex-basis calc(55% - 30px)
			margin 0 15px
			line-height 1.4
.b-product-reference
	position relative
	&__img
		position absolute
		top -50px
		width 150px
	&__title
	&__side
		padding-left 200px
.b-package
	&__list
		padding 0
		margin-bottom -5px
		column-count 2
	&__item
		list-style-type none
		margin-bottom 5px
		break-inside avoid-column
	&__inner
		display flex
		align-items center
		margin-left -10px
		text-decoration none
		break-inside avoid-column
		> *
			margin-left 10px
	&__polygon
		flex 0 0 20px
	&__img
		flex 0 0 60px
		&::before
			padding-top 80%
	&__name
		font-size 14px
.b-brand-quote
	&__wrap
		display flex
		align-items center
		margin-left -30px
		> *
			margin-left 30px
	&__quote
		flex 1 1 auto
		padding 15px 20px
		font-style oblique
		text-align center
	&__quote::before
	&__quote::after
		content none
.b-warranty
.b-free-lecture
	&__table tr td:first-child
		width 75%
	&__table th
	&__table td
		border-color $colorBd
.b-person
	&__inner
		display flex
		align-items center
		margin-left -20px
		> *
			margin-left 20px
	&__name
		margin-top 0
	&__avatar
		margin-bottom 0
		.clip-path
			width 150px
			height 128px
.b-message__title
	display block
.b-info
	.grid
		display flex
		margin-left -20px
	.grid__cell
		flex 0 0 auto
		margin-left 20px
.b-icon
	&__list
		display flex
		margin-left -20px
	&__item
		flex 0 0 calc(33.333% - 20px)
		margin-left 20px
		text-align center
	&__icon svg
		width 50px
		height 50px
.b-specialist
	&__list
		display flex
		flex-wrap wrap
		margin-left -20px
		padding 0
	&__item
		flex 0 0 calc(33.333% - 20px)
		margin-left 20px
		list-style-type none
	&__inner
		text-align center
	&__img .clip-path
		width 200px
		height 170px
.b-gallery-plain
	&__list
		display flex
		flex-wrap wrap
		margin-left -20px
		margin-bottom -20px
		padding 0
	&__item
		flex 0 0 calc(33.333% - 20px)
		margin-left 20px
		margin-bottom 20px
		list-style-type none
.b-career
	&__list
		padding 0
	&__item
		list-style-type none
.f-items
	&__list
		padding 0
	&__item
		list-style-type none
	&__label
		display flex
	&__content
		display flex
		align-items center
		width 100%
	&__img
		flex 0 0 50px
	&__text
		flex 0 0 300px
		padding 0 20px
.b-tip-bnr
	display flex
	position relative
	&__left
		flex 0 0 60%
	&__center
	&__right
		flex 0 0 20%
	&__left &__img
		position absolute
		top 0
		bottom 0
		width 120px
	&__title
	&__annot
		padding-left 140px
		padding-right 20px
.b-cart-summary
	td:first-child()
		border-width 1px 0 1px 1px
	&__img
		width 50px
	&__price
		width 20%
	&__desc
		width 70%
		border-width 1px 1px 1px 0
	&__table--others h3
		margin 0
		font-weight 400
		font-size 11px

