.c-basket
	$s = selector()
	.f-open &__table
		width calc(100% - 1px)
	&__table
		margin-bottom 30px
	&__table
	&__table thead
	&__table thead &__row
	&__table &__col
		border none
	&__table &__row:nth-child(odd)
		background transparent
	&__table tbody &__row:not(&__row--extra)
		border 1px solid $colorBd
		border-width 1px 0
	&__row--thead &__col
		padding 0 0 8px
		font-size 13px
		font-weight normal
		&:not(:first-child)
			text-align center
	&__name
		display block
		font-size 14px
		max-width 410px
	&__message
		max-width 410px
		display inline-block
		vertical-align top
		margin-top 15px
	&__count
		justify-content center
		align-items center
		margin-bottom 0
		.inp__fix
			display flex
			line-height 25px
		.inp__text
			font-size 14px
			line-height 25px
			padding 0
	&__gift
		border 1px solid $colorBd
		border-width 1px 0
		display flex
		align-items center
		font-size 14px
		margin-bottom 0
		& + &
			margin-top -1px
		> *
			padding 15px
		> :last-child
			padding-left 0
		&:last-child
			margin-bottom 0
		.icon-svg
			color $colorHover
			width 42px
		.img
			width 85px
	&__total
		font-size 20px
		&
		td
			padding 8px 15px
			border 0
		tr:nth-child(odd)
			background-color transparent
		td:last-child
			text-align right
		tr:first-child
			td
				padding-top 0
		tr:last-child
			td
				padding-bottom 0
		&--vat strong
			font-size 30px
			font-weight bold
		&--novat
			font-size 16px
			color $suplementary
		&--novat strong
			font-weight 400
			font-size 20px
	&__history
		white-space nowrap
		margin-bottom 5px
		font-size 14px
		&--date
		&--price
			text-align right
	&__voucher
		margin-bottom 0
		font-size 14px
		margin-left -15px
		max-width 420px
		> *
			margin-left 15px
		.btn
			white-space nowrap
		.inp--group
			margin-top 5px
			width auto
	&__voucher-inp
		margin-top 2px
		color $colorLink
		text-decoration underline
		transition color $t
	&__row
		position relative
	&__row + &__row
		margin-top -1px
	&__col
		&
		.inp__text--count
			font-size 14px
		&--img
			padding 0
		&--name
			padding-left 15px
		&--availability
		&--amount
		&--unit-price
		&--price
		&--remove
		&--length
		&--from
		&--to
		&--persons
			text-align center
		&--unit-price
		&--price
		&--length
			font-weight bold

		&--remove
			text-align right
			padding 15px
		&--remove .icon-svg
			color $lightBlue

	// MODIFICATIONS
	&--w-side
		{$s}
			&__col
				&--availability
					width 150px
				&--length
				&--amount
				&--persons
				&--unit-price
				&--price
				&--from
				&--to
					flex 0 0 (100/3)%
					width 100px
	&__state
		// MODIFICATIONS
		&--new
		&--partially
		&--progress
			color $orange

		// STATES
		&-cancel
			color $red
		&-done
		&-ready
			color $green

	&__row--extra
		border 1px solid $colorBd
		border-width 0 1px
		td
			height auto
		&:first-child
			border-width 1px 1px 0
		&:last-child
			border-width 0 1px 1px
	&__row--extra:not(&__row--product) &__col--remove
		padding-top 0
		padding-bottom 10px
	&__row--extra&__row--product
		border-width 1px 1px 0 1px
	&__row--extra&__row--service
		border-width 1px

	// HOVERS
	.no-touchevents &__voucher-inp:hover
		color $colorHover

	// STATES
	&__voucher-inp input:checked + span
		font-weight normal

	// MEDIA QUERIES
	@media $MQ.xlDown
		&__message
			font-size 14px

	@media $MQ.mdDown
		margin 0 -15px
		&__head
			padding 0 15px
		&__row
			display flex
			align-items center
			flex-wrap wrap
			padding 0 5px 20px
		&__row--product
		&__row--extra
		&__row--extra&__row--product
		&__row--extra:last-child
		&__row--rent
		&__row--service
			border-left-width 0
			border-right-width 0
		&__row--extra
			padding-bottom 15px
			td:empty
				display none
		&__row--thead
			font-size 16px
			padding 0 16px
		&__row--thead &__col
			font-size 16px
			&:not(:first-child)
				display none
		&__row--service
			align-items flex-start
		&__row--service &__col--img
			padding-top 15px
		&__row--service &__col--persons
		&__row--service &__col--price
			flex 0 1 (100/3)%
		&__row--service &__col--unit-price
			flex 0 1 40%
		&__message
			margin-right -25px
		&__row--rent
			{$s}
				// &__col--name
				// 	padding 0 15px 5px
				&__col--length
					flex 0 0 100%
					padding 0 0 10px 85px
					text-align left
				&__col--from
				&__col--to
					flex 0 0 100%
					text-align left
					padding 5px 0 5px 85px
					position relative
					&::before
						content attr(data-label)
						position absolute
						top 50%
						left 16px
						transform translateY(-50%)
				&__col--price
					flex 0 0 100%
					text-align right
		&__col--img
			flex 0 0 25%
			max-width 70px
			padding-left 10px
		&__col--name
			flex 0 0 75%
		&__col--full
			flex 0 0 100%
			padding 0 0 0 10px
		&__col--availability
			flex 0 0 100%
			&&
				padding 0 0 10px 0
		&__col--amount
		&__col--unit-price
		&__col--price
		&__col--persons
		&__col--from
		&__col--to
		&__col--length
			flex 0 1 (100/3)%
			max-width (100/3)%
			padding 0 0 0 10px
		&__col--unit-price
			font-weight 400
		&__col--price
			text-align right
			padding-right 10px
		&__col--remove
			position absolute
			right 0
			top 0
		&__row--rent &__col--length
		&__row--rent &__col--from
		&__row--rent &__col--to
		&__row--rent &__col--price
			max-width none
		&__voucher
			margin-bottom 20px
		&__voucher-inp
			margin-bottom 10px
		&__voucher .inp__text
			padding 8px 20px 9px
		&__total-wrap
			padding 20px 15px 0
		&__total
			text-align right
		&__total--vat
		&__total--novat
			display block
			td
				padding 0
				display block
		&__total--vat
			margin-bottom 20px

	@media $MQ.mdUp
		// .f-open__box
		// 	margin-top -15px
		&__table tbody &__row:not(&__row--extra)
			border-width 1px
		&__col
		&__row--extra &__col
			padding 8px 10px
			&--img
				padding 0
				width 70px
				height 70px
			&--name
				max-width 200px
			&--remove
				padding 8px 20px 12px 0
		&__col
			&--from a
			&--to a
				display block
			&--availability
				font-size 13px
		&__voucher
			font-size 17px
			display flex
			flex-direction column
			margin-bottom 20px
			.inp--group
				margin-top 0
			.inp__fix
				width 230px
		&__total td:last-child
			padding-right 0
		&__gift
			border-width 1px
			& > *
				padding 15px 10px
			.img
				width 65px
		&--w-side
			{$s}
				&__col
					&--amount
					&--from
					&--persons
					&--unit-price
					&--price
					&--to
						width 150px
		&__row--product&__row--extra ~ &__row--extra &__col
			padding-top 0
		&__total-wrap
			margin-top 40px
	@media $MQ.xlUp
		&__col
			.inp--count
			.inp__text--count
				font-size 17px
		&__history
			font-size 16px
		&__name
			font-size 20px
		&__row--thead &__col
			font-size 16px
		&__col
		&__row--extra &__col
			padding 12px 15px
			font-size 18px
			&--img
				width 126px
				height 126px
			&--remove
				width 100px
				padding-right 30px
			&--availability
				font-size 16px
			&--availability
			&--length
				width 230px
			&--amount
			&--from
			&--persons
				width 210px
			&--amount
				font-size 17px
			&--unit-price
			&--price
			&--to
				width 215px
		&__gift
			font-size 20px
			& > *
				padding 8px 15px 12px
			.icon-svg
				width 54px
			.img
				width 126px
		&__total-wrap
			margin-bottom 50px

	@media $MQ.xxlUp
		// .f-open__box
		// 	margin-top 0
		&__voucher
			flex-direction row
			align-items center
			max-width none
		&__voucher-inp
			margin-bottom 20px
