.c-categories
	&__list
		@extend $reset-ul
		display flex
		flex-wrap wrap
		align-items baseline
		margin 0 0 -20px -15px
	&__item
		@extend $reset-ul-li
		text-align center
		font-size 18px
		flex 0 1 auto
		width 50%
		border-left 15px solid transparent
		margin-bottom 20px
		&.is-hidden
			display none
	&__img
		display block
		margin 0 auto 10px
	&__link
		display block
		text-decoration none
		font-weight 500
		font-size 13px
	&__more
		.icon-svg
			width 11px
			margin 0 0 2px 5px
			transition transform $t
		&.is-active .icon-svg
			transform rotate(180deg)


	@media $MQ.smUp
		&__item
			width 33.333%

	@media $MQ.mdUp
		&__link
			font-size 18px
		&__item
			width 16.6666%

	@media $MQ.xxlUp
		&__list
			margin-left -80px
		&__item
			border-left-width 80px




