.c-compare
	position relative
	&__header
		display none
	&__helper
		padding-top 20px
	&__param
		padding 8px 0
		border 1px solid transparent
		border-width 1px 1px 1px 0
		margin 0 -1px -1px 0
	&__param:last-child
		margin-bottom 0
	&__param:not(&__param--title)
		font-size 16px
	&__helper &__param
		font-size 20px
	&__tools
		background white
		padding 14px
		margin-bottom 7px
		display flex
		justify-content space-between
	&__product
		padding-bottom 30px
		display flex
		flex-direction column
		width 100%
	&__list
		margin-left -15px
		display flex
		overflow-x auto
	&__item
		position relative
		margin-left 15px
		min-width 80%
		.slick-slide &
			max-width 100%
	.slick-slide
	.slick-track
		width 90% !important
	.ui-sortable-placeholder
		min-width 100%
	&__prev
	&__next
		display none

	// MODIFICATIONS
	&__param--title
		padding 0
		margin-top 45px
		margin-bottom 5px
	&__wrap &__param--title
		visibility hidden
	&__param--highlight
		background #E8F6D2
		border-color $colorBd
		margin 0 -1px -1px -15px
		padding-left 15px
	&__header &__param--highlight
		border-width 1px 0 1px 1px
		padding-right 120px
		margin-right -120px
		position relative
		&::after
			content ''
			width 1px
			height 100%
			background $colorBd
			position absolute
			top 0
			left calc(100vw - 46px)
	&__tool--move
		cursor move
		.icon-svg
			width 30px
			color $colorLink
	&__tool--close
		.icon-svg
			width 20px
			color $lightBlue
			transition color $t, transform $t

	// HOVERS
	.no-touchevents &__tool--close:hover .icon-svg
		color $colorHover
		transform rotate(90deg)

	// STATES
	.slick-slide.ui-sortable-helper
	.slick-track.ui-sortable-helper
		width 100% !important
	.no-js &__item
		flex 0 0 80%
	.no-js &__prev
	.no-js &__next
		position none
	.no-js &__tool--move
		display none
	.no-js &__tool--close
		display inline-block
		text-align right
		width 100%
	&__prev.slick-hidden
	&__next.slick-hidden
		opacity 0.5
		pointer-events none


	// MEDIA QUERIES
	@media $MQ.lgDown
		&__param::before
			content attr(data-label)
			text-transform uppercase
			display block
			font-size 10px
		.c-compare__tools
			justify-content flex-end
		.c-compare__tool--move
			display none
	@media $MQ.smUp
		&__item
			min-width 40%
			width 40%
		.slick-slide
		.slick-track
			width 45% !important
		.no-js &__item
			flex 0 0 40%
	@media $MQ.mdUp
		&__item
			min-width calc( 33.333% - 15px)
			max-width calc( 33.333% - 15px)
		.slick-slide
		.slick-track
			width 33.333% !important
		.no-js &__item
			flex-grow 0
			flex-shrink 0
			flex-basis calc( 33.333% - 15px)
	@media $MQ.lgUp
		padding-left 240px
		&__header
			display block
			width 250px
			margin-left -240px
			padding 0 30px 70px
			background white
			float left
			margin-bottom inherit
		&__param--highlight
			margin 0 -30px -1px -15px
			padding-right 30px
		&__prev
		&__next
			display block
			transition color $t
			position absolute
			top -45px
			&.slick-disabled
				display none !important
			.icon-svg
				width 35px
				vertical-align top
		&__prev
			left 265px
		&__next
			right 0
		&__item
			min-width calc( 50% - 15px)
			max-width calc( 50% - 15px)
		.slick-slide
		.slick-track
			width 50% !important
		.no-js &__item
			flex-grow 0
			flex-shrink 0
			flex-basis calc( 50% - 15px)
		.js &__list
			overflow-x hidden
	@media $MQ.xlUp
		padding-left 430px
		&__header
			width 340px
			margin-left -430px
		&__item
			min-width calc( 33.333% - 15px)
			max-width calc( 33.333% - 15px)
		.slick-slide
		.slick-track
			width 33.333333% !important
		&__prev
			left 430px
		.no-js &__item
			flex-grow 0
			flex-shrink 0
			flex-basis calc( 33.333% - 15px)

	@media screen and (min-width: 1840px)
		&__prev
		&__next
			top 16px
		&__prev
			left 370px
		&__next
			right -57px
