.c-std
	&__title
		font-size 40px
		text-align center
	&__item
		text-align center
	&__link
		text-decoration none
		display block
		height 100%
	&__img
		display block
		margin-bottom 15px
	&__item-title
		font-size 24px
		color $colorLink
		font-weight normal
		transition color $t
		margin 0 0 10px
	&__item .img__holder
		transition transform $t
		transform scale3d(1.01, 1.01, 1)
	&__desc
		color $black

	// HOVERS
	.no-touchevents &__link:hover &__item-title
		color $colorHover

	.no-touchevents &__link:hover .img__holder
		transform scale3d(1.05, 1.05, 1)
