.c-tags
	display flex
	align-items flex-start
	flex-wrap nowrap
	margin-left -20px
	&__title
		padding-top 4px
		margin 0 0 0 20px
		font-size 20px
		flex 0 0 auto
	&__list
		@extend $reset-ul
		display flex
		flex-wrap wrap
		align-items center
		margin-bottom -10px
	&__item
		@extend $reset-ul-li
		position relative
		margin-left 30px
		margin-bottom 10px
		border 1px solid $colorBd
		background-color white
		&::before
		&::after
			content ''
			position absolute
			width 20px
			left -21px
			top -1px
			border-style solid
			border-width 19px 10px 18px 0
			border-color transparent $colorBd transparent transparent
		&::after
			left -20px
			border-color transparent white transparent transparent

	&__link
		font-size 17px
		padding 6px 13px 5px 25px
		text-decoration underline
		.icon-svg
			color $colorBd
			left 5px
			width 10px

	// HOVERS
	.no-touchevents &__link:hover
		color $colorHover
	.no-touchevents &__link.item-icon:hover .icon-svg
		color $colorBd
