.f-insurance
	@media $MQ.lgDown
		.tooltip::after
			width 245px
			left auto
			right 50%
			transform translate3d(20px, 0, 0)
	@media $MQ.mdUp
		.tooltip::after
			width 320px
		.tooltip--reversed::after
			left 50%
			right auto
			transform translate3d(-20px, 0, 0)


