.c-articles
	&__title
		font-size 28px
		color $primary
		margin-bottom 20px
		font-weight 600

	// MODIFICATIONS
	&--single
		padding 25px 15px 20px
		background-color $white

	@media $MQ.mdDown
		.grid[class*='__list']
			margin-bottom -60px
		.grid__cell[class*='__item']
			margin-bottom 60px
		.b-gallery__btn
			margin-top 40px

	@media $MQ.mdUp
		&__title
			font-size 32px
			margin-bottom 40px

	@media $MQ.xlUp
		&--single
			padding 40px 50px 50px
