.c-services
	&__item:not(:last-child)
		&::before
			content ''
			display block
			padding-top 100%
	&__inneritem
		&::before
			content ''
			width 100%
			display block
			padding-top 100%
	&__inneritem--hotline
		margin 15px
		max-height 270px
	&__inneritem--hotline
	&__inneritem--w-list
		max-height 270px


	@media $MQ.mdDown
		.grid
			margin-bottom -5px
			margin-left -5px
		.grid__cell
			margin-bottom 5px
			border-left-width 5px
		&__wrap
			margin-left -15px
			margin-right -15px

		// MODIFICATIONS
		&__item--2-2
			height 500px
		&__inneritem--side
			margin-top -5px !important
			margin-bottom -20px
			height 345px
		&__inneritem--2-1:not(&__inneritem--side)::before
			padding-top 50%

	@media $MQ.mdUp
		// MODIFICATIONS
		&__inneritem--2-1
			&::before
				content ''
				display block
				padding-top calc(50% - (15px / 2) )
		&__inneritem--hotline
			margin 0

	@media $MQ.lgUp
		&__inneritem--hotline
		&__inneritem--w-list
			max-height none

